<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.wst.common.project.facet.core.facets"
	>

		<project-facet
			id="liferay.theme"
		>
			<label>
			Liferay Theme
			</label>
			<description>
			Theme plugin for Liferay portal. Version corresponds to Portal version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.theme"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.theme"
			id="liferay.theme.install"
			type="INSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.theme.core.facet.ThemePluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.theme.core.facet.ThemePluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.theme"
			id="liferay.theme.uninstall"
			type="UNINSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.theme.core.facet.ThemePluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.theme.template"
		>
			<label>
			Liferay Theme Plugin Project
			</label>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="liferay.theme"
			>
			</fixed>
		</template>
	</extension>

	<extension
		point="org.eclipse.wst.common.project.facet.core.presets"
	>

		<static-preset
			id="liferay.theme.preset"
		>
			<label>
			Liferay theme plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 theme plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.theme"
				version="6.0"
			>
			</facet>
		</static-preset>
	</extension>

	<extension
		id="com.liferay.ide.eclipse.theme.core.cssBuilder"
		name="%theme.css.builder.name"
		point="org.eclipse.core.resources.builders"
	>
		<builder
			callOnEmptyDelta="false"
			hasNature="false"
		>
			<run
				class="com.liferay.ide.theme.core.ThemeCSSBuilder"
			>
			</run>
		</builder>
	</extension>

	<extension
		point="com.liferay.ide.server.core.pluginPublishers"
	>
		<liferayPluginPublisher
			class="com.liferay.ide.theme.core.ThemePluginPublisher"
			facetId="liferay.theme"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
		>
		</liferayPluginPublisher>
	</extension>
	<extension
		point="org.eclipse.jst.common.project.facet.core.libraryProviders"
	>
		<provider
			id="com.liferay.ide.eclipse.plugin.theme.libraryProvider"
		>
			<label>
			Liferay theme plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.theme"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>
	</extension>

</plugin>