<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/gettingstarted/getting-started-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/importing-existing-projects-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-projects-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/gettingstarted/getting-started-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/concepts/liferay-servers-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/concepts/remote-servers-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-liferay-plugin-projects-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-hooks-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-services-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-layout-templates-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-vaadin-portlets-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-vaadin7-portlets-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/creating-new-jsf-portlets-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/tasks/using-remote-servers-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
