<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.m2e.core.lifecycleMappingMetadataSource"
	>
	</extension>

	<extension point="org.eclipse.m2e.core.projectConfigurators">
		<configurator
			class="com.liferay.ide.maven.core.LiferayMavenProjectConfigurator"
			id="com.liferay.ide.maven.core.project.configurator"
			name="%liferay.maven.project.configurator"
			secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"
		>
		</configurator>
		<configurator
			class="com.liferay.ide.maven.core.LiferayProjectLifecycleConfigurator"
			id="com.liferay.ide.maven.core.lifecycle.configurator"
			name="%liferay.project.lifecycle.configurator"
		>
		</configurator>
		<configurator
			class="com.liferay.ide.maven.core.BundleProjectConfigurator"
			id="com.liferay.ide.maven.core.bundle.configurator"
			name="Liferay Bundle Project Configurator"
		>
		</configurator>
		<configurator
			class="com.liferay.ide.maven.core.BundleProjectConfigurator"
			id="com.liferay.ide.maven.core.bnd.configurator"
			name="Liferay BND Project Configurator"
			secondaryTo="bndtools.m2e.bndconfigurator"
		>
		</configurator>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.NewMavenPluginProjectProvider"
			displayName="Maven (liferay-maven-plugin)"
			id="com.liferay.ide.maven.core.mavenProjectProvider"
			priority="high"
			projectType="plugin"
			shortName="maven"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.NewMavenJSFModuleProjectProvider"
			displayName="Maven"
			id="com.liferay.ide.maven.core.mavenJSFModuleProjectProvider"
			priority="high"
			projectType="jsf-module"
			shortName="maven-jsf"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.NewMavenSpringMVCPortletProjectProvider"
			displayName="Maven"
			id="com.liferay.ide.maven.core.mavenSpringMVCPortletProjectProvider"
			priority="high"
			projectType="spring-mvc-portlet"
			shortName="maven-spring-mvc-portlet"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.NewGradleJSFModuleProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.maven.core.gradleJSFModuleProjectProvider"
			priority="high"
			projectType="jsf-module"
			shortName="gradle-jsf"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.LiferayMavenModuleProjectProvider"
			displayName="Maven"
			id="com.liferay.ide.maven.core.mavenModuleProjectProvider"
			priority="high"
			projectType="module"
			shortName="maven-module"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.LiferayMavenWorkspaceProjectProvider"
			displayName="Maven"
			id="com.liferay.ide.maven.core.liferayMavenWorkspaceProjectProvider"
			projectType="workspace"
			shortName="maven-liferay-workspace"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.maven.core.MavenModuleFragmentProjectProvider"
			displayName="Maven"
			id="com.liferay.ide.maven.core.mavenModuleFragmentProjectProvider"
			projectType="module-fragment"
			shortName="maven-module-fragment"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		id="com.liferay.ide.maven.core.configurationProblem"
		name="%liferay.project.maven.project.configuration.problem"
		point="org.eclipse.core.resources.markers"
	>
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.m2e.core.maven2Problem.wtp.configuration">
		</super>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.liferay.ide.maven.core.pref.ProjectMavenPreferenceInitializer" />
		<initializer class="com.liferay.ide.maven.core.pref.MavenArchetypePreferenceInitializer" />
	</extension>
	<extension point="com.liferay.ide.core.liferayProjectImporters">
		<liferayProjectImporter
			buildType="maven"
			class="com.liferay.ide.maven.core.MavenModuleProjectImporter"
			id="com.liferay.ide.maven.core.MavenModuleProjectImporter"
			priority="1"
		>
		</liferayProjectImporter>
	</extension>
	<extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
		<deleteParticipant
			class="com.liferay.ide.maven.core.LiferayMavenModuleProjectDeleteParticipant"
			id="com.liferay.ide.maven.core.LiferayMavenModuleProjectDeleteParticipant"
			name="liferayMavenModuleProjectDeleteParticipant"
		>
			<enablement>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="com.liferay.ide.maven.ui.isMavenProject">
					</test>
				</adapt>
			</enablement>
		</deleteParticipant>
	</extension>

</plugin>