<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.liferay.ide.maven.core.LiferayMavenProjectConfigurator"
            id="com.liferay.ide.maven.core.project.configurator"
            name="%liferay.maven.project.configurator"
            secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator">
      </configurator>
      <configurator
            class="com.liferay.ide.maven.core.LiferayProjectLifecycleConfigurator"
            id="com.liferay.ide.maven.core.lifecycle.configurator"
            name="%liferay.project.lifecycle.configurator">
      </configurator>
      <configurator
            class="com.liferay.ide.maven.core.BundleProjectConfigurator"
            id="com.liferay.ide.maven.core.bundle.configurator"
            name="Liferay Bundle Project Configurator">
      </configurator>
      <configurator
            class="com.liferay.ide.maven.core.BundleProjectConfigurator"
            id="com.liferay.ide.maven.core.bnd.configurator"
            name="Liferay BND Project Configurator"
            secondaryTo="bndtools.m2e.bndconfigurator">
      </configurator>
   </extension>
   <extension
         point="com.liferay.ide.core.liferayProjectProviders">
      <liferayProjectProvider
            class="com.liferay.ide.maven.core.NewMavenPluginProjectProvider"
            displayName="Maven (liferay-maven-plugin)"
            id="com.liferay.ide.maven.core.mavenProjectProvider"
            priority="high"
            shortName="maven"
            projectType="plugin">
      </liferayProjectProvider>
   </extension>
   <extension
         point="com.liferay.ide.core.liferayProjectProviders">
      <liferayProjectProvider
            class="com.liferay.ide.maven.core.NewMavenModuleProjectProvider"
            displayName="Maven (liferay-maven-module)"
            id="com.liferay.ide.maven.core.mavenModuleProjectProvider"
            priority="high"
            shortName="maven-module"
            projectType="module">
      </liferayProjectProvider>
      <liferayProjectProvider
            class="com.liferay.ide.maven.core.LiferayMavenWorkspaceProjectProvider"
            displayName="Maven"
            id="com.liferay.ide.maven.core.LiferayMavenWorkspaceProjectProvider"
            priority="high"
            projectType="workspace"
            shortName="maven-liferay-workspace">
      </liferayProjectProvider>
   </extension>
   <extension
         id="com.liferay.ide.maven.core.configurationProblem"
         name="%liferay.project.maven.project.configuration.problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.m2e.core.maven2Problem.wtp.configuration">
      </super>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.liferay.ide.maven.core.pref.ProjectMavenPreferenceInitializer" />
      <initializer class="com.liferay.ide.maven.core.pref.MavenArchetypePreferenceInitializer" />
   </extension>
   <extension
         point="com.liferay.ide.core.liferayProjectImporters">
      <liferayProjectImporter
            priority="1"
            buildType="maven"
            class="com.liferay.ide.maven.core.MavenModuleProjectImporter"
            id="com.liferay.ide.maven.core.MavenModuleProjectImporter">
      </liferayProjectImporter>
   </extension>

</plugin>
