<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.liferay.ide.maven.core.LiferayProjectConfigurator"
            id="com.liferay.ide.maven.core.project.configurator"
            name="Liferay Project Configurator"
            secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator">
      </configurator>
      <configurator
            class="com.liferay.ide.maven.core.LiferayMavenPluginConfigurator"
            id="com.liferay.ide.maven.core.plugin.configurator"
            name="Liferay Maven Plugin Configurator"
            secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="com.liferay.ide.maven.core.LiferayProjectLifeCycleMapping"
            id="com.liferay.ide.maven.core.LiferayProjectLifeCycleMapping"
            name="Liferay Project Lifecycle mapping">
      </lifecycleMapping>
      <lifecycleMapping
            class="com.liferay.ide.maven.core.LiferayMavenPluginLifeCycleMapping"
            id="com.liferay.ide.maven.core.LiferayMavenPluginLifeCycleMapping"
            name="Liferay Maven Plugin Lifecycle mapping">
      </lifecycleMapping>
   </extension>

</plugin>
