<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.liferay.ide.project.core.portletFrameworkWizardProviders">
      <portletFrameworkWizardProvider
            class="com.liferay.ide.portlet.vaadin.core.VaadinPortletFrameworkWizardProvider"
            default="false"
            description="%vaadin.portlet.framework.description"
            displayName="%vaadin.portlet.framework.display.name"
            helpUrl="http://vaadin.com"
            id="com.liferay.ide.project.core.framework.vaadin"
            requiredSDKVersion="6.0.5"
            shortName="vaadin">
      </portletFrameworkWizardProvider>
   </extension>

</plugin>
