<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.wst.server.ui.serverImages"
	>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.tomcat.ui.image"
			typeIds="com.liferay.ide.eclipse.server.tomcat.runtime.60,com.liferay.ide.eclipse.server.tomcat.runtime.70,com.liferay.ide.server.62.tomcat.runtime.70"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.tomcat.runtime.ui.image"
			typeIds="com.liferay.ide.eclipse.server.tomcat.60,com.liferay.ide.eclipse.server.tomcat.70,com.liferay.ide.eclipse.server.tomcat.7062"
		>
		</image>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages"
	>
		<launchConfigurationTypeImage
			configTypeID="com.liferay.ide.eclipse.server.tomcat.60.launchConfigurationType"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.tomcat.ui.launchConfigurationTypeImage.60"
		>
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			configTypeID="com.liferay.ide.eclipse.server.tomcat.70.launchConfigurationType"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.tomcat.ui.launchConfigurationTypeImage.70"
		>
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			configTypeID="com.liferay.ide.server.62.tomcat.70.launchConfigurationType"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.62.tomcat.ui.launchConfigurationTypeImage.70"
		>
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups"
	>
		<launchConfigurationTabGroup
			class="com.liferay.ide.server.tomcat.ui.LiferayTomcatLaunchConfigTabGroup"
			id="com.liferay.ide.server.tomcat60.ui.launchConfigurationTabGroup"
			type="com.liferay.ide.eclipse.server.tomcat.60.launchConfigurationType"
		>
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			class="com.liferay.ide.server.tomcat.ui.LiferayTomcatLaunchConfigTabGroup"
			id="com.liferay.ide.server.tomcat70.ui.launchConfigurationTabGroup"
			type="com.liferay.ide.eclipse.server.tomcat.70.launchConfigurationType"
		>
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			class="com.liferay.ide.server.tomcat.ui.LiferayTomcatLaunchConfigTabGroup"
			id="com.liferay.ide.server.62.tomcat70.ui.launchConfigurationTabGroup"
			type="com.liferay.ide.server.62.tomcat.70.launchConfigurationType"
		>
		</launchConfigurationTabGroup>
	</extension>
	<extension
		point="org.eclipse.wst.server.ui.wizardFragments"
	>
		<fragment
			class="com.liferay.ide.server.tomcat.ui.wizard.LiferayTomcatRuntimeFragment"
			id="com.liferay.ide.server.tomcat.runtime"
			typeIds="com.liferay.ide.eclipse.server.tomcat.runtime.60,com.liferay.ide.eclipse.server.tomcat.runtime.70,com.liferay.ide.server.62.tomcat.runtime.70"
		>
		</fragment>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="org.eclipse.jst.server.tomcat.ui.internal.ConfigurationPropertyTester"
			id="com.liferay.ide.server.tomcat.ui.propertyTester"
			namespace="com.liferay.ide.server.tomcat.ui"
			properties="hasConfiguration"
			type="java.lang.Object"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.wst.server.core.publishers"
	>
		<publisher
			class="org.eclipse.jst.server.tomcat.ui.internal.ContextPublisherDelegate"
			description="%update.context.path.publisher.description"
			id="com.liferay.ide.server.tomcat.ui.context"
			name="%update.context.path.publisher.name"
			order="0"
			typeIds="com.liferay.ide.eclipse.server.tomcat.*"
		>
		</publisher>
	</extension>
	<extension
		point="org.eclipse.wst.server.ui.editorPageSections"
	>
		<section
			class="com.liferay.ide.server.tomcat.ui.editor.LiferayServerSettingsEditorSection"
			id="com.liferay.ide.server.tomcat.editor.instance"
			insertionId="org.eclipse.wst.server.editor.overview.left"
			order="0"
			typeIds="com.liferay.ide.eclipse.server.tomcat.*"
		>
			<enablement>
				<not>
					<test
						property="com.liferay.ide.server.core.isRemoteServer"
						value="true"
					>
					</test>
				</not>
			</enablement>
		</section>
		<section
			class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationMimeEditorSection"
			id="com.liferay.ide.server.tomcat.configuration.editor.mime"
			insertionId="org.eclipse.wst.server.editor.overview.right"
			order="20"
			typeIds="com.liferay.ide.eclipse.server.tomcat.*"
		>
			<enablement>
				<test
					property="com.liferay.ide.server.tomcat.ui.hasConfiguration"
					value="true"
				>
				</test>
			</enablement>
		</section>
		<section
			class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationPortEditorSection"
			id="com.liferay.ide.server.tomcat.configuration.editor.port"
			insertionId="org.eclipse.wst.server.editor.overview.right"
			order="10"
			typeIds="com.liferay.ide.eclipse.server.tomcat.*"
		>
			<enablement>
				<test
					property="com.liferay.ide.server.tomcat.ui.hasConfiguration"
					value="true"
				>
				</test>
			</enablement>
		</section>
	</extension>
	<extension
		point="org.eclipse.wst.common.project.facet.core.runtimes"
	>
		<adapter>
			<runtime-component
				id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			>
			</runtime-component>
			<factory
				class="com.liferay.ide.server.tomcat.ui.LiferayTomcatRuntimeComponentLabelProvider"
			>
			</factory>
			<type
				class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"
			>
			</type>
		</adapter>
		<adapter>
			<runtime-component
				id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			>
			</runtime-component>
			<factory
				class="com.liferay.ide.server.tomcat.ui.LiferayTomcatRuntimeDecorationsProvider"
			>
			</factory>
			<type
				class="org.eclipse.wst.common.project.facet.ui.IDecorationsProvider"
			>
			</type>
		</adapter>
	</extension>
	<extension
		point="org.eclipse.wst.common.project.facet.ui.images"
	>
		<image
			path="icons/liferay_logo_16.png"
			runtime-component-type="com.liferay.ide.eclipse.server.tomcat.runtime.component"
		>
		</image>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.eclipse.ui.popupmenu"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="%menu.label"
			>
				<separator
					name="slot1"
				>
				</separator>
			</menu>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.eclipse.project.ui.cleanAppServer"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<action
				class="com.liferay.ide.server.tomcat.ui.CleanAppServerAction"
				enablesFor="1"
				icon="icons/e16/clear_16x16.gif"
				id="com.liferay.ide.project.ui.cleanAppServer"
				label="%clean.app.server.action.label"
				menubarPath="liferayPopupMenuCategory/slot1"
				tooltip="%clean.app.server.action.tooltip"
			>
			</action>
			<enablement>
				<adapt
					type="org.eclipse.core.resources.IProject"
				>
					<and>
						<or>
							<adapt
								type="org.eclipse.core.resources.IProject"
							>
								<test
									forcePluginActivation="true"
									property="org.eclipse.wst.common.project.facet.core.projectFacet"
									value="liferay.ext"
								>
								</test>
							</adapt>
						</or>
						<not>
							<or>
								<adapt
									type="org.eclipse.core.resources.IProject"
								>
									<test
										forcePluginActivation="true"
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="liferay.portlet"
									>
									</test>
								</adapt>
								<adapt
									type="org.eclipse.core.resources.IProject"
								>
									<test
										forcePluginActivation="true"
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="liferay.hook"
									>
									</test>
								</adapt>
								<adapt
									type="org.eclipse.core.resources.IProject"
								>
									<test
										forcePluginActivation="true"
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="liferay.layouttpl"
									>
									</test>
								</adapt>
								<adapt
									type="org.eclipse.core.resources.IProject"
								>
									<test
										forcePluginActivation="true"
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="liferay.theme"
									>
									</test>
								</adapt>
								<adapt
									type="org.eclipse.core.resources.IProject"
								>
									<test
										forcePluginActivation="true"
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="liferay.web"
									>
									</test>
								</adapt>
							</or>
						</not>
					</and>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>

</plugin>