<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.liferay.ide.eclipse.ui.preferences.liferay"
            class="com.liferay.ide.eclipse.sdk.pref.SDKsPreferencePage"
            id="com.liferay.ide.eclipse.sdk.preferences.installedSDKs"
            name="Installed Plugin SDKs">
         <keywordReference
               id="com.liferay.ide.eclipse.ui.keyword">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.installableRuntimes">
      <runtime
            archivePath="liferay-plugins-sdk-6.0.2"
            archiveUrl="http://downloads.sourceforge.net/project/lportal/Liferay%20Portal/6.0.2/liferay-plugins-sdk-6.0.2.zip"
            id="com.liferay.ide.eclipse.sdk.60"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt">
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.liferay.ide.eclipse.sdk.SDKClasspathProvider"
            id="com.liferay.ide.eclipse.sdk.SDKClasspathProvider">
      </classpathProvider>
   </extension>
</plugin>
