<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.liferay.ide.service.ui.ServiceBuilderEditor"
            contributorClass="com.liferay.ide.service.ui.ServiceBuilderEditorActionBarContributor"
            default="true"
            icon="icons/e16/service.png"
            id="com.liferay.ide.eclipse.portlet.ui.editor.servicebuilder"
            name="Service Builder Configuration Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
        <contentTypeBinding
               contentTypeId="com.liferay.ide.portlet.core.servicebuildercontent">
         </contentTypeBinding>
      </editor>
      
   </extension>
  
</plugin>
