<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.liferay.ide.eclipse.project.core.portletFrameworks">
      <portletFramework
            class="com.liferay.ide.eclipse.portlet.jsf.core.JSFPortletFramework"
            default="false"
            description="Enables development of JSF 2.0 applications using ICEFaces 2.0 framework that run inside of Liferay Portal."
            displayName="JSF 2.0"
            helpUrl="http://www.portletfaces.org/projects/portletfaces-bridge"
            id="com.liferay.ide.eclipse.project.core.template.jsf"
            requiredSDKVersion="6.1.0"
            shortName="jsf">
      </portletFramework>
   </extension>

</plugin>
