<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.ui.commandImages"
	>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.showupgradeplaninfoview"
			icon="icons/liferay_logo_16.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.showprogressview"
			icon="icons/progress.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.expandall"
			icon="icons/expand_node.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.collapseall"
			icon="icons/collapse_node.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.restartupgradeplan"
			icon="icons/restart.gif"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.switchupgradeplan"
			icon="icons/switch_plan.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.newupgradeplan"
			icon="icons/liferay_new.png"
		/>
		<image
			commandId="com.liferay.ide.upgrade.plan.ui.upgradeplandetails"
			icon="icons/plan_details.gif"
		/>
	</extension>
	<extension
		point="org.eclipse.ui.perspectives"
	>
		<perspective
			class="com.liferay.ide.upgrade.plan.ui.internal.UpgradePlannerPerspectiveFactory"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.upgrade.planner.perspective"
			name="Liferay Upgrade Planner"
		>
		</perspective>
	</extension>
	<extension
		point="org.eclipse.ui.views"
	>
		<category
			id="com.liferay.ide.upgrade.planner.view.category"
			name="Liferay Upgrade Planner"
		>
		</category>
		<view
			allowMultiple="false"
			category="com.liferay.ide.upgrade.planner.view.category"
			class="com.liferay.ide.upgrade.plan.ui.internal.UpgradePlanView"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.upgrade.plan.view"
			name="Liferay Upgrade Plan"
			restorable="true"
		>
		</view>
		<view
			allowMultiple="false"
			category="com.liferay.ide.upgrade.planner.view.category"
			class="com.liferay.ide.upgrade.plan.ui.internal.UpgradePlanInfoView"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.upgrade.plan.info.view"
			name="Liferay Upgrade Plan Info"
			restorable="true"
		>
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.menus"
	>
		<menuContribution
			allPopups="false"
			locationURI="toolbar:com.liferay.ide.upgrade.plan.view"
		>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.showupgradeplaninfoview"
				icon="icons/liferay_logo_16.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.showprogressview"
				icon="icons/progress.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.expandall"
				icon="icons/expand_node.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.collapseall"
				icon="icons/collapse_node.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.restartupgradeplan"
				icon="icons/restart.gif"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.switchupgradeplan"
				icon="icons/switch_plan.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.newupgradeplan"
				icon="icons/liferay_new.png"
				style="push"
			>
			</command>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.upgradeplandetails"
				icon="icons/plan_details.gif"
				style="push"
			>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="menu:project?after=additions"
		>
			<command
				commandId="com.liferay.ide.upgrade.plan.ui.newupgradeplan"
				label="New Liferay Upgrade Plan..."
				style="push"
				tooltip="New Liferay Upgrade Plan......"
			>
			</command>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands"
	>
		<command
			id="com.liferay.ide.upgrade.plan.ui.showupgradeplaninfoview"
			name="Show Upgrade Plan Info View"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.showprogressview"
			name="Show Progress View"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.expandall"
			name="Expand All"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.collapseall"
			name="Collapse All"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.restartupgradeplan"
			name="Restart Upgrade Plan"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.switchupgradeplan"
			name="Switch Upgrade Plan"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.newupgradeplan"
			name="New Upgrade Plan"
		>
		</command>
		<command
			id="com.liferay.ide.upgrade.plan.ui.upgradeplandetails"
			name="Upgrade Plan Details"
		>
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers"
	>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.ShowUpgradePlanInfoViewHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.showupgradeplaninfoview"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.ShowProgressViewHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.showprogressview"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.ExpandHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.expandall"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.CollapseHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.collapseall"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.RestartUpgradeHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.restartupgradeplan"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.SwitchUpgradePlanHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.switchupgradeplan"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.NewUpgradePlanHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.newupgradeplan"
		>
		</handler>
		<handler
			class="com.liferay.ide.upgrade.plan.ui.internal.UpgradePlanDetailsHandler"
			commandId="com.liferay.ide.upgrade.plan.ui.upgradeplandetails"
		>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages"
	>
		<page
			category="com.liferay.ide.ui.preferences.liferay"
			class="com.liferay.ide.upgrade.plan.ui.internal.UpgradePlannerPreferencePage"
			id="com.liferay.ide.upgrade.problems.ui.internal.upgradePlannerPreferencePage"
			name="Upgrade Planner"
		>
		</page>
	</extension>
</plugin>