<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.liferay.ide.project.core.upgradeProjectHandlers">
      <upgradeProjectHandler
            class="com.liferay.ide.alloy.core.UpgradeLAUTHandler"
            name="AlloyUIExecute"
            description="Run Liferay AlloyUI Upgrade tool"
            id="com.liferay.ide.alloy.core.upgradeLAUTHandler">
      </upgradeProjectHandler>
   </extension>
   <extension
         point="tern.eclipse.ide.core.ternNatureAdapters">
      <ternAdaptToNature
            class="com.liferay.ide.alloy.core.LiferayProjectTernAdapter"
            id="com.liferay.ide.alloy.core.ternAdapter"
            name="Liferay Project Tern Adapter">
         <defaultModules>
            <module
                  name="aui"
                  withDependencies="true">
            </module>
            <module
                  name="liferay"
                  withDependencies="true">
            </module>
            <module
                  name="yui"
                  withDependencies="true">
            </module>
         </defaultModules>
      </ternAdaptToNature>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            associatedContentTypeId="com.liferay.ide.jsdt.core.liferayjspsource"
            class="com.liferay.ide.alloy.core.jsp.LiferayModelHandlerForJSP"
            id="com.liferay.ide.jsdt.core.liferayJsp">
      </modelHandler>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jst.jsp.core.jspsource"
            default-charset="ISO-8859-1"
            file-extensions="jsp,jsv,jtpl,jspx,ljsp"
            id="com.liferay.ide.jsdt.core.liferayjspsource"
            name="Liferay JSP Source"
            priority="high">
         <describer
               class="com.liferay.ide.alloy.core.jsp.LiferayContentDescriberForJSP">
         </describer>

      </content-type>
   </extension>
   <extension
        point="org.eclipse.core.filebuffers.documentCreation"
        id="com.liferay.ide.jsdt.core.documentfactories"
        name="aaa">
        <factory
            contentTypeId="com.liferay.ide.jsdt.core.liferayjspsource"
            class="com.liferay.ide.alloy.core.jsp.LiferayBasicStructuredDocumentFactory" />
    </extension>
</plugin>
