com.liferay.ide.eclipse.server.aws.core/bin/
com.liferay.ide.eclipse.server.aws.core/target/
com.liferay.ide.eclipse.server.aws.ui/bin/
com.liferay.ide.eclipse.server.aws.ui/target/
com.liferay.ide.eclipse.server.core/bin/
com.liferay.ide.eclipse.server.core/target/
com.liferay.ide.eclipse.server.tomcat.core/bin/
com.liferay.ide.eclipse.server.tomcat.core/target/
com.liferay.ide.eclipse.server.tomcat.ui/bin/
com.liferay.ide.eclipse.server.tomcat.ui/target/
com.liferay.ide.eclipse.server.ui/bin/
com.liferay.ide.eclipse.server.ui/target/
