<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="com.liferay.ide.portlet.ui.newPortletWizard"
		point="org.eclipse.ui.newWizards"
	>
		<category
			id="com.liferay.ide.newWizards"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.newWizards"
			icon="icons/n16/portlet_new.png"
			id="com.liferay.ide.eclipse.portlet.ui.wizard.portlet"
			name="%liferay.portlet.wizard.name"
		>
			<class class="com.liferay.ide.portlet.ui.wizard.NewPortletWizard">
				<parameter name="liferay_artifact" value="true" />
				<parameter name="menuIndex" value="10" />
				<parameter name="validProjectTypes" value="portlet" />
			</class>
			<description>
			%wizard.description
			</description>
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.editors.templates"
	>
		<contextType
			class="com.liferay.ide.portlet.ui.template.PortletJSPTemplateContextType"
			id="portlet_jsp_new"
			name="%portal.context.type.name"
		>
		</contextType>
		<include
			file="templates/portlet-jsp-templates.xml"
			translations="templates/portlet-jsp-templates.properties"
		>
		</include>
	</extension>
	<extension
		point="org.eclipse.ui.editors"
	>
		<editor
			class="com.liferay.ide.portlet.ui.editor.PluginPackageEditor"
			contributorClass="com.liferay.ide.portlet.ui.editor.PluginPackageEditorActionBarContributor"
			default="true"
			filenames="liferay-plugin-package.properties"
			icon="icons/e16/plugin.png"
			id="com.liferay.ide.eclipse.portlet.ui.editor.pluginpackage"
			name="%plugin.package.editor.name"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
		>
		</editor>
		<editor
			default="true"
			filenames="portlet.xml"
			icon="icons/e16/portlet.png"
			id="com.liferay.ide.eclipse.portlet.ui.editor.PortletXmlEditor"
			name="%portlet.application.configuration.editor.name"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
		>
			<class class="com.liferay.ide.portlet.ui.editor.PortletXmlEditor">
				<parameter name="sdef" value="com.liferay.ide.portlet.ui.editor.PortletXmlEditor" />
				<parameter name="pageName" value="Overview" />
			</class>
			<contentTypeBinding
				contentTypeId="com.liferay.ide.portlet.core.portletxml"
			>
			</contentTypeBinding>
		</editor>
		<editor
			default="true"
			filenames="liferay-display.xml"
			icon="icons/elcl16/liferay_ui_16x16.png"
			id="com.liferay.ide.eclipse.portlet.ui.editor.LiferayDisplayXmlEditor"
			name="%display.configuration.editor.name"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
		>
			<class class="com.liferay.ide.portlet.ui.editor.LiferayDisplayXmlEditor">
				<parameter name="sdef" value="com.liferay.ide.portlet.ui.editor.LiferayDisplayXmlEditor" />
				<parameter name="pageName" value="Overview" />
			</class>
			<contentTypeBinding
				contentTypeId="com.liferay.ide.portlet.core.liferaydisplayxml"
			>
			</contentTypeBinding>
		</editor>
		<editor
			default="true"
			filenames="liferay-portlet.xml"
			icon="icons/e16/liferay_portlet.png"
			id="com.liferay.ide.eclipse.portlet.ui.editor.LiferayPortletXmlEditor"
			name="%liferay.portlet.application.configuration.editor.name"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
		>
			<class class="com.liferay.ide.portlet.ui.editor.LiferayPortletXmlEditor">
				<parameter name="sdef" value="com.liferay.ide.portlet.ui.editor.LiferayPortletXmlEditor" />
				<parameter name="pageName" value="Overview" />
			</class>
			<contentTypeBinding
				contentTypeId="com.liferay.ide.portlet.core.liferayportletxml"
			>
			</contentTypeBinding>
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.ui.popupmenu"
			objectClass="org.eclipse.core.resources.IFile"
		>
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="%menu.label"
			>
				<separator
					name="slot1"
				>
				</separator>
			</menu>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.portlet.ui.lang.popup"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<action
				class="com.liferay.ide.portlet.ui.action.BuildLanguagesAction"
				definitionId="com.liferay.ide.portlet.ui.buildLang"
				enablesFor="1"
				icon="icons/liferay_logo_16.png"
				id="com.liferay.ide.portlet.ui.lang.popup.action"
				label="%portlet.action.label"
				menubarPath="liferayPopupMenuCategory/slot1"
				tooltip="%portlet.action.tooltip"
			>
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IResource">
					<or>
						<adapt type="org.eclipse.core.resources.IFile">
							<test
								forcePluginActivation="true"
								property="com.liferay.ide.portlet.ui.isLangFile"
								value="true"
							/>
						</adapt>
						<and>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="org.eclipse.wst.common.project.facet.core.projectFacet"
									value="liferay.hook"
								/>
							</adapt>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="com.liferay.ide.portlet.ui.hasLangFile"
									value="true"
								/>
							</adapt>
						</and>
						<and>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="org.eclipse.wst.common.project.facet.core.projectFacet"
									value="liferay.portlet"
								/>
							</adapt>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="com.liferay.ide.portlet.ui.hasLangFile"
									value="true"
								/>
							</adapt>
						</and>
						<and>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="org.eclipse.wst.common.project.facet.core.projectFacet"
									value="liferay.ext"
								/>
							</adapt>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="com.liferay.ide.portlet.ui.hasLangFile"
									value="true"
								/>
							</adapt>
						</and>
					</or>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.portlet.ui.HasLangFilePropertyTester"
			id="com.liferay.ide.portlet.ui.hasLangFile"
			namespace="com.liferay.ide.portlet.ui"
			properties="hasLangFile"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.portlet.ui.LangFilePropertyTester"
			id="com.liferay.ide.portlet.ui.isLangFile"
			namespace="com.liferay.ide.portlet.ui"
			properties="isLangFile"
			type="org.eclipse.core.resources.IFile"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.wst.xml.core.catalogContributions"
	>
		<catalogContribution></catalogContribution>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent"
	>
		<navigatorContent
			activeByDefault="true"
			appearsBefore="org.eclipse.jst.servlet.ui.EnhancedJavaRendering"
			contentProvider="com.liferay.ide.portlet.ui.navigator.PortletResourcesContentProvider"
			icon="icons/e16/portlet.png"
			id="com.liferay.ide.ui.navigator.content.portlets"
			labelProvider="com.liferay.ide.portlet.ui.navigator.PortletResourcesLabelProvider"
			name="%portlet.navigator.content.name"
			priority="highest"
		>
			<triggerPoints>
				<or>
					<adapt
						type="org.eclipse.core.resources.IProject"
					>
						<test
							forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="liferay.portlet"
						>
						</test>
					</adapt>
					<instanceof
						value="com.liferay.ide.portlet.ui.navigator.PortletResourcesRootNode"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.portlet.ui.navigator.PortletNode"
					>
					</instanceof></or></triggerPoints>
			<possibleChildren>
				<or>
					<instanceof
						value="com.liferay.ide.portlet.ui.navigator.PortletResourcesRootNode"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.portlet.ui.navigator.PortletsNode"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.portlet.ui.navigator.PortletNode"
					>
					</instanceof></or></possibleChildren>
			<actionProvider
				class="com.liferay.ide.portlet.ui.navigator.PortletResourcesActionProvider"
				id="com.liferay.ide.ui.navigator.content.portlets.portletResourcesActionProvider"
				priority="normal"
			>
				<enablement>
					<or>
						<instanceof
							value="com.liferay.ide.portlet.ui.navigator.PortletsNode"
						>
						</instanceof>
						<instanceof
							value="com.liferay.ide.portlet.ui.navigator.PortletNode"
						>
						</instanceof>
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
				class="com.liferay.ide.portlet.ui.navigator.actions.NewPortletActionProvider"
				id="com.liferay.ide.ui.navigator.content.portlets.newPortletWizardDelgateActionProvider"
				priority="normal"
			>
				<enablement>
					<and>
						<instanceof
							value="com.liferay.ide.portlet.ui.navigator.PortletsNode"
						>
						</instanceof>
					</and>
				</enablement>
			</actionProvider>
			<commonWizard
				menuGroupId="com.liferay.ide.plugins.ui"
				type="new"
				wizardId="com.liferay.ide.eclipse.portlet.ui.wizard.portlet"
			>
				<enablement>
					<and>
						<or>
							<instanceof
								value="org.eclipse.core.resources.IProject"
							>
							</instanceof>
							<instanceof
								value="org.eclipse.jdt.core.IPackageFragment"
							>
							</instanceof>
							<instanceof
								value="org.eclipse.jdt.core.IPackageFragmentRoot"
							>
							</instanceof>
						</or>
						<adapt
							type="org.eclipse.core.resources.IProject"
						>
							<test
								forcePluginActivation="true"
								property="org.eclipse.wst.common.project.facet.core.projectFacet"
								value="liferay.portlet"
							>
							</test>
						</adapt>
					</and>
				</enablement>
			</commonWizard>
		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer"
	>
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.ProjectExplorer"
		>
			<includes>
				<contentExtension
					pattern="com.liferay.ide.ui.navigator.content.*"
				>
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension point="org.eclipse.ui.editors.templates">
		<include file="templates/portlet-java-templates.xml" />
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors"
	>
		<!-- no longer needed now supported by xml-search query spec
<hyperlinkDetector
	class="com.liferay.ide.portlet.ui.editor.PortletURLHyperlinkDetector"
	description="Portlet URL Methods"
	id="com.liferay.ide.portlet.ui.portletUrlHyperlinkDetector"
	name="Portlet URL"
	targetId="org.eclipse.jst.jsp.core.jspsource"
>
	  </hyperlinkDetector>
	  -->
		<hyperlinkDetector
			class="com.liferay.ide.portlet.ui.editor.MessageKeyHyperlinkDetector"
			id="com.liferay.ide.portlet.ui.messageKeyHyperlinkDetector"
			name="Message Key Hyperlink Detector"
			targetId="org.eclipse.jst.jsp.core.jspsource"
		>
		</hyperlinkDetector>
	</extension>

	<extension
		id="com.liferay.ide.portlet.ui.newJSFPortletWizard"
		point="org.eclipse.ui.newWizards"
	>
		<category
			id="com.liferay.ide.newWizards"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.newWizards"
			class="com.liferay.ide.portlet.ui.jsf.NewJSFPortletWizard"
			icon="icons/n16/liferay_faces_new.png"
			id="com.liferay.ide.eclipse.portlet.jsf.ui.wizard.portlet"
			name="Liferay JSF Portlet"
		>
			<class class="com.liferay.ide.portlet.ui.jsf.NewJSFPortletWizard">
				<parameter name="liferay_extra_artifact" value="true" />
				<parameter name="menuIndex" value="10" />
				<parameter name="validProjectTypes" value="portlet" />
			</class>
			<description>
			Create a new Liferay JSF Portlet
			</description>
		</wizard>
	</extension>

	<extension
		point="org.eclipse.ui.editors.templates"
	>
		<contextType
			class="com.liferay.ide.portlet.ui.jsf.JSFPortletXHTMLTemplateContextType"
			id="jsf_portlet_new"
			name="New JSF Portlet XHTML"
		>
		</contextType>
		<include
			file="templates/portlet-jsf-templates.xml"
			translations="templates/portlet-jsf-templates.properties"
		>
		</include>
	</extension>
	<extension
		point="org.eclipse.ui.commands"
	>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Run the build-lang command"
			id="com.liferay.ide.portlet.ui.buildLang"
			name="Build Languages"
		>
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers"
	>
		<handler
			class="com.liferay.ide.portlet.ui.handlers.BuildLangHandler"
			commandId="com.liferay.ide.portlet.ui.buildLang"
		>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.bindings"
	>
		<key
			commandId="com.liferay.ide.portlet.ui.buildLang"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+N"
		>
		</key>
	</extension>
	<extension
		id="com.liferay.ide.portlet.vaadin.ui.newVaadinPortletWizard"
		point="org.eclipse.ui.newWizards"
	>
		<category
			id="com.liferay.ide.newWizards"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.newWizards"
			icon="icons/n16/vaadinportlet_new.png"
			id="com.liferay.ide.eclipse.portlet.vaadin.ui.wizard.portlet"
			name="%vaadin.portlet.wizard.name"
		>
			<class class="com.liferay.ide.portlet.vaadin.ui.wizard.NewVaadinPortletWizard">
				<parameter name="liferay_extra_artifact" value="true" />
				<parameter name="menuIndex" value="20" />
				<parameter name="validProjectTypes" value="portlet" />
			</class>
			<description>
			%vaadin.wizard.description
			</description>
		</wizard>
	</extension>
</plugin>