<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.liferay.ide.eclipse.server.ui.plugins.xxx">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.liferay.ide.eclipse.server.ui.serverview.override">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.liferay.ide.eclipse.server.ui.ServerViewCustomContentProvider"
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.ui.serverview.override"
            labelProvider="com.liferay.ide.eclipse.server.ui.ServerViewCustomLabelProvider"
            name="Liferay IDE Server View"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
               </instanceof>
               <instanceof
                     value="com.liferay.ide.eclipse.server.ui.PluginsContent">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.wst.server.ui.ServersView.content.root">
         </override>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.eclipse.server.ui.popup.server"
            objectClass="org.eclipse.wst.server.core.IServer">
         <visibility>
         	<and>
	            <objectState
	                  name="serverType"
	                  value="com.liferay.*">
	            </objectState>
            </and>
         </visibility>
         <action
               class="com.liferay.ide.eclipse.server.ui.action.TestWebServicesAction"
               enablesFor="1"
               icon="icons/e16/test_web_services_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.testWebServices.server"
               label="Test Liferay Web Services...">
         </action>
         <action
               class="com.liferay.ide.eclipse.server.ui.action.OpenPortalAction"
               enablesFor="1"
               icon="icons/e16/open_portal_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.openPortalAction"
               label="Open Liferay Portal">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.eclipse.server.ui.popup.module"
            objectClass="org.eclipse.wst.server.ui.IServerModule">
         
         <action
               class="com.liferay.ide.eclipse.server.ui.action.TestWebServicesAction"
               enablesFor="1"
               icon="icons/e16/test_web_services_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.testWebServices.plugin"
               label="Test Liferay Web Services...">
         </action>
         <action
               class="com.liferay.ide.eclipse.server.ui.action.RedeployAction"
               enablesFor="1"
               icon="icons/e16/redeploy_16x16.gif"
               id="com.liferay.ide.eclipse.server.ui.action.redeploy"
               label="Redeploy">
         </action>
         
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.remote.image"
            typeIds="com.liferay.ide.eclipse.server.remote">
      </image>
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.runtime.stub.image"
            typeIds="com.liferay.ide.eclipse.server.runtime.stub">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.liferay.ide.eclipse.server.ui.wizard.LiferayRuntimeStubWizardFragment"
            id="com.liferay.ide.eclipse.server.runtime.stub.fragment"
            typeIds="com.liferay.ide.eclipse.server.runtime.stub">
      </fragment>
      <fragment
            class="com.liferay.ide.eclipse.server.ui.wizard.RemoteServerWizardFragment"
            id="com.liferay.ide.eclipse.server.remote.fragment"
            typeIds="com.liferay.ide.eclipse.server.remote">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.liferay.ide.eclipse.server.ui.RemoteLaunchConfigTabGroup"
            id="com.liferay.ide.eclipse.server.remote.launchConfigurationTabGroup"
            type="com.liferay.ide.eclipse.server.remote.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.liferay.ide.eclipse.server.remote.launchConfigurationType"
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.remote.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.runtime.stub.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.ui.LiferayRuntimeStubFacetComponentLabelProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.runtime.stub.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.ui.LiferayRuntimeStubDecorationsProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IDecorationsProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/e16/server.png"
            runtime-component-type="com.liferay.ide.eclipse.server.runtime.stub.component">
      </image>
   </extension>
   
   
   
   <!--
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.liferay.ide.eclipse.server.ui.PortletPluginClasspathConatinerPage"
            id="com.liferay.ide.eclipse.server.portlet.library.container"
            name="Liferay Portlet Plugin API">
      </classpathContainerPage>
   </extension>
	-->
</plugin>
