<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.liferay.ide.eclipse.server.ui.PortalLaunchConfigurationTabGroup"
            id="com.liferay.ide.eclipse.server.ui.portal.launchConfigurationTabGroup"
            type="com.liferay.ide.eclipse.server.portal.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.liferay.ide.eclipse.server.ui.plugins.xxx">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.wst.server.ui.ServersView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.liferay.ide.eclipse.server.ui.serverview.override">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.liferay.ide.eclipse.server.ui.ServerViewCustomContentProvider"
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.ui.serverview.override"
            labelProvider="com.liferay.ide.eclipse.server.ui.ServerViewCustomLabelProvider"
            name="Liferay IDE Server View"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
               </instanceof>
               <instanceof
                     value="com.liferay.ide.eclipse.server.ui.PluginsContent">
               </instanceof>
            </or>
         </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.wst.server.ui.ServersView.content.root">
         </override>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.eclipse.server.ui.popup.server"
            objectClass="org.eclipse.wst.server.core.IServer">
         <visibility>
         	<or>
	            <objectState
	                  name="serverType"
	                  value="com.liferay.*">
	            </objectState>
            </or>
         </visibility>
         <action
               class="com.liferay.ide.eclipse.server.ui.action.TestWebServicesAction"
               enablesFor="1"
               icon="icons/e16/test_web_services_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.testWebServices"
               label="Test Web Services..."
               menubarPath="com.liferay.ide.eclipse.server.ui.menu.portal/slot1">
         </action>
         <action
               class="com.liferay.ide.eclipse.server.ui.action.OpenPortalAction"
               enablesFor="1"
               icon="icons/e16/open_portal_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.openPortalAction"
               label="Open Portal Home"
               menubarPath="com.liferay.ide.eclipse.server.ui.menu.portal/slot1">
         </action>
         <menu
               icon="icons/e16/server.png"
               id="com.liferay.ide.eclipse.server.ui.menu.portal"
               label="Liferay">
            <separator
                  name="slot1">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.eclipse.server.ui.popup.module"
            objectClass="org.eclipse.wst.server.ui.IServerModule">
         
         <action
               class="com.liferay.ide.eclipse.server.ui.action.TestWebServicesAction"
               enablesFor="1"
               icon="icons/e16/test_web_services_16x16.png"
               id="com.liferay.ide.eclipse.server.ui.action.testWebServices"
               label="Test Web Services..."
               menubarPath="com.liferay.ide.eclipse.server.ui.menu.portal/slot1">
         </action>
         
         <menu
               icon="icons/e16/server.png"
               id="com.liferay.ide.eclipse.server.ui.menu.portal"
               label="Liferay">
            <separator
                  name="slot1">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   
   
   
   <!--
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.liferay.ide.eclipse.server.ui.PortletPluginClasspathConatinerPage"
            id="com.liferay.ide.eclipse.server.portlet.library.container"
            name="Liferay Portlet Plug-in API">
      </classpathContainerPage>
   </extension>
	-->
</plugin>
