<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="completionproviders" name="Completion Providers" schema="schema/completionproviders.exsd"/>
<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Liferay Velocity Editor"
            extensions="vm"
            icon="icons/full/obj16/vsl_file.gif"
            class="com.liferay.ide.velocity.editor.VelocityEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="com.liferay.ide..velocity.editor.Editor">
      </editor>
   </extension>
  
   <extension
    point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
        markerType="org.eclipse.core.resources.problemmarker"
        class="com.liferay.ide.velocity.editor.VelocityMarkerResolutionGenerator">
    </markerResolutionGenerator>
</extension>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.vm"
            id="com.liferay.ide..velocity.vaulttec.ui.edit.format">
         <action
               label="VeloFormat ..."
               icon="icons/full/obj16/vsl_file.gif"
               class="com.liferay.ide.velocity.vaulttec.ui.editor.actions.FormatResourceAction"
               menubarPath="additions"
               enablesFor="*"
               id="com.liferay.ide..velocity.vaulttec.ui.edit.format">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            objectClass="org.eclipse.core.resources.IFolder"
           
            id="com.liferay.ide..velocity.vaulttec.ui.edit.format2">
         <action
               label="VeloFormat ..."
               icon="icons/full/obj16/vsl_file.gif"
               class="com.liferay.ide.velocity.vaulttec.ui.editor.actions.FormatResourceAction"
               menubarPath="additions"
               enablesFor="1"
               id="com.liferay.ide..velocity.vaulttec.ui.edit.format">
         </action>
      </objectContribution>
   </extension>
 
   <extension
         point="org.eclipse.ui.commands">
  
       <command
            name="(Veloeclipse)Toggle Comment"
            category="org.eclipse.ui.category.textEditor"
            description="%command.togglecomment.description"
            id="com.liferay.ide..velocity.vaulttec.ui.edit.toggle.comment">
      </command>
      <command
            name="(Veloeclipse)Format"
            category="org.eclipse.ui.category.textEditor"
            description="%command.format.description"
            id="com.liferay.ide..velocity.vaulttec.ui.edit.format">
      </command>
     <keyBinding
            string="Ctrl+Alt+f"
            scope="com.liferay.ide..velocity.vaulttec.ui.velocityEditorScope"
            command="com.liferay.ide..velocity.vaulttec.ui.edit.format"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keyConfigurationId="com.liferay.ide..velocity.formatkey">
      </keyBinding>
      <keyBinding
            string="Ctrl+7"
            scope="com.liferay.ide..velocity.vaulttec.ui.velocityEditorScope"
            command="com.liferay.ide..velocity.vaulttec.ui.edit.toggle.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keyConfigurationId="com.liferay.ide..velocity.togglecommentkey2">
      </keyBinding>
       <command
            name="(Veloeclipse)JTidy"
            category="org.eclipse.ui.category.textEditor"
            description="%command.jtidy.description"
            id="com.liferay.ide..velocity.vaulttec.ui.edit.jtidy">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="General Preferences"
            category="com.liferay.ide..velocity.preferences"
            class="com.liferay.ide.velocity.preferences.GeneralPreferencePage"
            id="com.liferay.ide..velocity.preferences.general">
      </page>
      <page
            name="Tidy Preferences"
            category="com.liferay.ide..velocity.preferences"
            class="com.liferay.ide.velocity.preferences.JtidyPreferencePage"
            id="com.liferay.ide..velocity.preferences.jtidy">
      </page>
      <page
            name="Veloeclipse"
            class="com.liferay.ide.velocity.preferences.VelocityPreferencePage"
            id="com.liferay.ide..velocity.preferences">
      </page>
      <page
            name="Library"
            category="com.liferay.ide..velocity.preferences"
            class="com.liferay.ide.velocity.preferences.LibraryPreferencePage"
            id="com.liferay.ide..velocity.preferences.library">
      </page>
      <page
            name="Editor"
            category="com.liferay.ide..velocity.preferences"
            class="com.liferay.ide.velocity.preferences.EditorPreferencePage"
            id="com.liferay.ide..velocity.preferences.editor">
      </page>
      <page
            name="Veloeclipse Templates"
            category="com.liferay.ide..velocity.preferences"
            class="com.liferay.ide.velocity.preferences.TemplatesPreferencePage"
            id="com.liferay.ide..velocity.ui.page1">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Veocity Context"
            class="com.liferay.ide.velocity.ui.VeloContextType"
            id="com.liferay.ide..velocity.ui.contextType1">
      </contextType>
      <!--template
            name="bold"
            icon="icons/template.gif"
            description="make selected word bold"
            contextTypeId="com.liferay.ide..velocity.ui.contextType1"
            id="com.liferay.ide..velocity.ui.templates.bold">
         <pattern>
            &lt;B&gt; ${word_selection}&lt;/B&gt;
         </pattern>
      </template-->
      <template
            name="space"
            icon="icons/template.gif"
            description="add space"
            contextTypeId="com.liferay.ide..velocity.ui.contextType1"
            id="com.liferay.ide..velocity.ui.templates.space">
         <pattern>
            &amp;nbsp;
         </pattern>
      </template>
   </extension>
   
   <extension
        point="org.eclipse.debug.ui.consoleLineTrackers">
        <consoleLineTracker
            class="com.liferay.ide.velocity.console.ConsoleLineTracker"
            processType="java"
            id="com.liferay.ide..velocity.console.ConsoleLineTracker">
        </consoleLineTracker>
   </extension>   
</plugin>
