<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="portletFrameworks" name="%portlet.plugin.frameworks.name" schema="schema/portletFrameworks.exsd" />
	<extension-point id="liferayDescriptorHelpers" name="%liferay.descriptor.helpers.name" schema="schema/liferayDescriptorHelpers.exsd" />
	<extension-point id="upgradeProjectHandlers" name="%upgrade.project.handlers.name" schema="schema/upgradeProjectHandlers.exsd" />
	<extension-point id="liferayComponentTemplates" name="%liferay.component.template.name" schema="schema/liferayComponentTemplates.exsd" />

	<extension
		point="org.eclipse.wst.common.project.facet.core.facets"
	>
		<category
			id="liferay.plugins"
		>
			<label>
			Liferay Plugins
			</label>
			<description>
			Liferay Portal Plugin facets including, portlets, hooks, ext, themes, layout, and web templates.
			</description>
		</category>

		<project-facet
			id="liferay.portlet"
		>
			<label>
			Liferay Portlet
			</label>
			<description>
			Portlet plugin for Liferay portal.  Version corresponds to Portal version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.portlet"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.java"
						version="[5.0"
					>
					</requires>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.portlet"
			id="liferay.portlet.install"
			type="INSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.PortletPluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.project.core.facet.PortletPluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.portlet"
			id="liferay.portlet.uninstall"
			type="UNINSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.PortletPluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.portlet.template"
		>
			<label>
			Liferay Portlet Plugin Project
			</label>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="liferay.portlet"
			>
			</fixed>
		</template>

		<project-facet
			id="liferay.hook"
		>
			<label>
			Liferay Hook
			</label>
			<description>
			Hook plugin for Liferay portal.  Version corresponds to Portal version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.hook"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.java"
						version="[5.0"
					>
					</requires>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.hook"
			id="liferay.hook.install"
			type="INSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.HookPluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.project.core.facet.HookPluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.hook"
			id="liferay.hook.uninstall"
			type="UNINSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.HookPluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.hook.template"
		>
			<label>
			Liferay Hook Plugin Project
			</label>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="liferay.hook"
			>
			</fixed>
		</template>

		<project-facet
			id="liferay.ext"
		>
			<label>
			Liferay Ext
			</label>
			<description>
			Ext plugin for Liferay portal.  Version corresponds to Portal version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.ext"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.java"
						version="[5.0"
					>
					</requires>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.ext"
			id="liferay.ext.install"
			type="INSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.ExtPluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.project.core.facet.ExtPluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.ext"
			id="liferay.ext.uninstall"
			type="UNINSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.ExtPluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.ext.template"
		>
			<label>
			Liferay Ext Plugin Project
			</label>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="liferay.ext"
			>
			</fixed>
		</template>

		<project-facet
			id="liferay.web"
		>
			<label>
			Liferay Web
			</label>
			<description>
			Web plugin for Liferay portal.  Version corresponds to Portal version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.web"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.java"
						version="[5.0"
					>
					</requires>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.web"
			id="liferay.web.install"
			type="install"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.WebPluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.project.core.facet.WebPluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.web"
			id="liferay.web.uninstall"
			type="uninstall"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.project.core.facet.WebPluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.web.template"
		>
			<label>
			Liferay Web Plugin Project
			</label>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="liferay.web"
			>
			</fixed>
		</template>
	</extension>

	<extension
		point="org.eclipse.wst.common.project.facet.core.presets"
	>
		<static-preset
			id="liferay.portlet.preset"
		>
			<label>
			Liferay portlet plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 portlet plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.portlet"
				version="6.0"
			>
			</facet>
		</static-preset>

		<static-preset
			id="liferay.hook.preset"
		>
			<label>
			Liferay hook plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 hook plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.hook"
				version="6.0"
			>
			</facet>
		</static-preset>

		<static-preset
			id="liferay.ext.preset"
		>
			<label>
			Liferay ext plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 ext plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.ext"
				version="6.0"
			>
			</facet>
		</static-preset>

		<static-preset
			id="liferay.web.preset"
		>
			<label>
			Liferay web plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 web plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.web"
				version="6.0"
			>
			</facet>
		</static-preset>
	</extension>

	<extension
		point="org.eclipse.jst.common.project.facet.core.libraryProviders"
	>
		<provider
			id="com.liferay.ide.eclipse.plugin.portlet.libraryProvider"
		>
			<label>
			Liferay portlet plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.portlet"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>

		<provider
			id="com.liferay.ide.eclipse.plugin.hook.libraryProvider"
		>
			<label>
			Liferay hook plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.hook"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>

		<provider
			id="com.liferay.ide.eclipse.plugin.ext.libraryProvider"
		>
			<label>
			Liferay ext plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.ext"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>

		<provider
			id="com.liferay.ide.eclipse.plugin.web.libraryProvider"
		>
			<label>
			Liferay web plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.web"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>

	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.project.core.library.LiferayRuntimePropertyTester"
			id="com.liferay.ide.project.core.isLiferayRuntime"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayRuntime"
			type="org.eclipse.jst.common.project.facet.core.libprov.EnablementExpressionContext"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.core.BundleProjectPropertyTester"
			id="com.liferay.ide.project.core.isBundleProject"
			namespace="com.liferay.ide.project.core"
			properties="isBundleProject"
			type="java.lang.Object"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.core.workspace.LiferayWorkspaceProjectPropertyTester"
			id="com.liferay.ide.project.core.isLiferayWorkspaceProject"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayWorkspaceProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
	</extension>

	<extension
		point="org.eclipse.wst.common.project.facet.core.listeners"
	>
		<listener
			class="com.liferay.ide.project.core.facet.PrimaryRuntimeChangedListener"
			eventTypes="PRIMARY_RUNTIME_CHANGED"
		>
		</listener>
	</extension>

	<extension
		point="org.eclipse.jdt.core.classpathContainerInitializer"
	>
		<classpathContainerInitializer
			class="com.liferay.ide.project.core.PluginClasspathContainerInitializer"
			id="com.liferay.ide.eclipse.server.plugin.container"
		>
		</classpathContainerInitializer>
		<classpathContainerInitializer
			class="com.liferay.ide.project.core.SDKClasspathContainerInitializer"
			id="com.liferay.ide.sdk.container"
		>
		</classpathContainerInitializer>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.project.core.PluginsSDKProjectProvider"
			default="true"
			displayName="Ant (liferay-plugins-sdk)"
			id="com.liferay.ide.project.core.runtimeProjectProvider"
			priority="normal"
			projectType="plugin"
			shortName="ant"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		id="LiferayProjectValidator"
		name="%liferay.project.validator.name"
		point="org.eclipse.wst.common.project.facet.core.validators"
	>
		<validator
			class="com.liferay.ide.project.core.PluginsSDKProjectRuntimeValidator"
		>
		</validator>
	</extension>
	<extension
		id="LiferayProjectMarker"
		name="%liferay.project.problem.name"
		point="org.eclipse.core.resources.markers"
	>
		<super
			type="org.eclipse.core.resources.problemmarker"
		>
		</super>
		<persistent
			value="true"
		>
		</persistent>
	</extension>

	<extension point="com.liferay.ide.project.core.upgradeProjectHandlers">
		<upgradeProjectHandler
			class="com.liferay.ide.project.core.upgrade.UpgradeMetadataHandler"
			description="Update all deployment descriptor metadata"
			id="com.liferay.ide.project.core.upgradeMetadataHandler"
			name="MetadataUpgrade"
		>
		</upgradeProjectHandler>
		<upgradeProjectHandler
			class="com.liferay.ide.project.core.upgrade.UpgradeRuntimeHandler"
			description="Update targeted runtime to selected version"
			id="com.liferay.ide.project.core.upgradeRuntimeHandler"
			name="RuntimeUpgrade"
		>
		</upgradeProjectHandler>
	</extension>
	<extension
		point="org.eclipse.wst.server.core.moduleFactories"
	>
		<moduleFactory
			class="com.liferay.ide.project.core.BundleFactoryDelegate"
			id="com.liferay.ide.project.core.bundleFactory"
			projects="true"
		>
			<moduleType
				types="liferay.bundle"
				versions="1.0"
			>
			</moduleType>
			<enablement>
				<or>
					<test property="com.liferay.ide.project.core.isBundleProject" value="true" />
				</or>
			</enablement>
		</moduleFactory>
	</extension>
	<extension
		id="MigrationProblemMarker"
		name="Liferay Migration Problems"
		point="org.eclipse.core.resources.markers"
	>
		<super
			type="org.eclipse.core.resources.problemmarker"
		>
		</super>
		<persistent
			value="true"
		>
		</persistent>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayComponentTemplates"
	>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authenticator.NewLiferayComponentAuthenticatorOperation"
			displayName="Authenticator"
			id="newLiferayComponentAuthenticatorOperation"
			shortName="Authenticator"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authfailure.NewLiferayComponentAuthFailureOperation"
			displayName="Auth Failures"
			id="newLiferayComponentAuthFailureOperation"
			shortName="AuthFailure"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.authfailure.NewLiferayComponentMaxAuthFailureOperation"
			displayName="Auth Max Failure"
			id="newLiferayComponentMaxAuthFailureOperation"
			shortName="AuthMaxFailure"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portlet.NewLiferayComponentPortletOperation"
			displayName="Portlet"
			id="newLiferayComponentPortletOperation"
			shortName="Portlet"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.friendlyurl.NewLiferayComponentFriendUrlOperation"
			displayName="Friendly URL Mapper"
			id="newLiferayComponentFriendUrlOperation"
			shortName="FriendlyUrlMapper"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.gogocommand.NewLiferayComponentGogoComandOperation"
			displayName="GOGO Command"
			id="newLiferayComponentGogoComandOperation"
			shortName="GogoCommand"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.indexprocessor.NewLiferayComponentIndexProcessorOperation"
			displayName="Indexer Post Processor"
			id="newLiferayComponentIndexProcessorOperation"
			shortName="IndexerPostProcessor"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.loginpreaction.NewLiferayComponentLoginPreActionOperation"
			displayName="Login Pre Action"
			id="newLiferayComponentLoginPreActionOperation"
			shortName="LoginPreAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.pollerprocessor.NewLiferayComponentPollerProcessorOperation"
			displayName="Poller Processor"
			id="newLiferayComponentPollerProcessorOperation"
			shortName="PollerProcessor"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portletinactioncommand.NewLiferayComponentPortletActionCommandOperation"
			displayName="Portlet Action Command"
			id="newLiferayComponentPortletActionCommandOperation"
			shortName="PortletActionCommand"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.portletfilter.NewLiferayComponentPortletFilterOperation"
			displayName="Portlet Filter"
			id="newLiferayComponentPortletFilterOperation"
			shortName="PortletFilter"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.rest.NewLiferayComponentRestOperation"
			displayName="Rest"
			id="newLiferayComponentRestOperation"
			shortName="RestService"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.servicewrapper.NewLiferayComponentServiceOperation"
			displayName="Service Wrapper"
			id="newLiferayComponentServiceOperation"
			shortName="ServiceHook"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.strutsinaction.NewLiferayComponentStrutsInActionOperation"
			displayName="Struts In Action"
			id="newLiferayComponentStrutsInActionOperation"
			shortName="StrutsAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.strutsportletaction.NewLiferayComponentStrutsPortletActionOperation"
			displayName="Struts Portlet Action"
			id="newLiferayComponentStrutsPortletActionOperation"
			shortName="StrutsPortletAction"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.modellistener.NewLiferayComponentModelListenerOperation"
			displayName="Model Listener"
			id="newLiferayComponentModelListenerOperation"
			shortName="ModelListener"
		>
		</liferayComponentTemplate>
		<liferayComponentTemplate
			class="com.liferay.ide.project.core.modules.templates.mvcportlet.NewLiferayComponentMVCPortletOperation"
			displayName="MVC Portlet"
			id="newLiferayComponentMVCPortletOperation"
			shortName="MVCPortlet"
		>
		</liferayComponentTemplate>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.project.core.LiferayWorkspaceProjectBundlesFolderTester"
			id="com.liferay.ide.project.core.LiferayWorkspaceProjectBundlesFolder"
			namespace="com.liferay.ide.project.core"
			properties="isLiferayWorkspaceProjectBundlesFolder"
			type="org.eclipse.core.resources.IFolder"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ltk.core.refactoring.deleteParticipants"
	>
		<deleteParticipant
			class="com.liferay.ide.project.core.workspace.LiferayWorkspaceProjectDeleteParticipant"
			id="com.liferay.ide.project.core.workspace.liferayWorkspaceProjectDeleteParticipant"
			name="liferayWorkspaceProjectDeleteParticipant"
		>
			<enablement>
				<or>
					<adapt
						type="org.eclipse.core.resources.IProject"
					>
						<test
							property="com.liferay.ide.project.core.isLiferayWorkspaceProject"
						>
						</test>
					</adapt>
					<adapt
						type="org.eclipse.core.resources.IFolder"
					>
						<test
							property="com.liferay.ide.project.core.isLiferayWorkspaceProjectBundlesFolder"
						>
						</test>
					</adapt>
				</or>
			</enablement>
		</deleteParticipant>
	</extension>
</plugin>