<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="com.liferay.ide.core.liferayProjectAdapters"
	>
		<liferayProjectAdapter
			class="com.liferay.ide.maven.ui.MavenProjectAdapter"
			id="com.liferay.ide.maven.ui.mavenProjectAdapter"
		>
		</liferayProjectAdapter>
	</extension>

	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.ui.popupmenu"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="%liferay.menu.label"
			>
				<separator
					name="slot1"
				>
				</separator>
				<groupMarker
					name="build-css"
				>
				</groupMarker>
				<groupMarker
					name="build-db"
				>
				</groupMarker>
				<groupMarker
					name="build-ext"
				>
				</groupMarker>
				<groupMarker
					name="build-lang"
				>
				</groupMarker>
				<groupMarker
					name="build-service"
				>
				</groupMarker>
				<groupMarker
					name="build-thumbnail"
				>
				</groupMarker>
				<groupMarker
					name="build-wsdd"
				>
				</groupMarker>
				<groupMarker
					name="deploy"
				>
				</groupMarker>
				<groupMarker
					name="direct-deploy"
				>
				</groupMarker>
				<groupMarker
					name="theme-merge"
				>
				</groupMarker>
				<groupMarker
					name="init-bundle"
				>
				</groupMarker>
				<groupMarker
					name="clean"
				>
				</groupMarker>
				<groupMarker
					name="clean-service-builder-db"
				>
				</groupMarker>
				<groupMarker
					name="dist"
				>
				</groupMarker>
			</menu>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.maven.ui.maven.popup"
			objectClass="org.eclipse.core.resources.IResource"
		>

			<action
				class="com.liferay.ide.maven.ui.action.BuildCSSGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-css"
				label="build-css"
				menubarPath="liferayPopupMenuCategory/build-css"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildDBGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-db"
				label="build-db"
				menubarPath="liferayPopupMenuCategory/build-db"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildExtGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-ext"
				label="build-ext"
				menubarPath="liferayPopupMenuCategory/build-ext"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildLangGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-lang"
				label="build-lang"
				menubarPath="liferayPopupMenuCategory/build-lang"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildServiceGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-service"
				label="build-service"
				menubarPath="liferayPopupMenuCategory/build-service"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildThumbnailGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-thumbnail"
				label="build-thumbnail"
				menubarPath="liferayPopupMenuCategory/build-thumbnail"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.BuildWSDDGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.build-wsdd"
				label="build-wsdd"
				menubarPath="liferayPopupMenuCategory/build-wsdd"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.DeployGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.deploy"
				label="deploy"
				menubarPath="liferayPopupMenuCategory/deploy"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.DirectDeployGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.direct-deploy"
				label="direct-deploy"
				menubarPath="liferayPopupMenuCategory/direct-deploy"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.ThemeMergeGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.theme-merge"
				label="theme-merge"
				menubarPath="liferayPopupMenuCategory/theme-merge"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.InitBundleGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.init-bundle"
				label="init-bundle"
				menubarPath="liferayPopupMenuCategory/init-bundle"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.CleanGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.clean"
				label="clean"
				menubarPath="liferayPopupMenuCategory/clean"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.CleanServiceBuilderDBGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.clean-service-builder-db"
				label="clean-service-builder-db"
				menubarPath="liferayPopupMenuCategory/clean-service-builder-db"
			>
			</action>
			<action
				class="com.liferay.ide.maven.ui.action.DistGoalAction"
				enablesFor="1"
				icon="icons/e16/m2e-liferay.png"
				id="com.liferay.ide.maven.popup.action.dist"
				label="dist-bundle"
				menubarPath="liferayPopupMenuCategory/dist"
			>
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IResource">
					<or>
						<adapt type="org.eclipse.core.resources.IFile">
							<test
								forcePluginActivation="true"
								property="com.liferay.ide.maven.ui.isPomFile"
								value="true"
							/>
						</adapt>
						<and>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="com.liferay.ide.maven.ui.isMavenProject"
									value="true"
								/>
							</adapt>
						</and>
					</or>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.maven.ui.MavenProjectPropertyTester"
			id="com.liferay.ide.maven.ui.isMavenProject"
			namespace="com.liferay.ide.maven.ui"
			properties="isMavenProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.maven.ui.PomFilePropertyTester"
			id="com.liferay.ide.maven.ui.isPomFile"
			namespace="com.liferay.ide.maven.ui"
			properties="isPomFile"
			type="org.eclipse.core.resources.IFile"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages"
	>
		<page
			category="com.liferay.ide.ui.preferences.liferay"
			class="com.liferay.ide.maven.ui.pref.MavenProjectPreferencePage"
			id="com.liferay.ide.maven.ui.mavenProjectPreferencePage"
			name="Maven"
		>
		</page>
	</extension>
</plugin>