<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.GradleProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleModuleProjectProvider"
			projectType="module"
			shortName="gradle-module"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.GradleModuleExtProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleModuleExtProjectProvider"
			projectType="modules-ext"
			shortName="gradle-module-ext"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.GradleModuleFragmentProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleModuleFragmentProjectProvider"
			projectType="module-fragment"
			shortName="gradle-module-fragment"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.LiferayGradleWorkspaceProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.liferayGradleWorkspaceProjectProvider"
			projectType="workspace"
			shortName="gradle-liferay-workspace"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.NewGradleSpringMVCPortletProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleSpringMVCPortletProjectProvider"
			projectType="spring-mvc-portlet"
			shortName="gradle-spring-mvc-portlet"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectImporters"
	>
		<liferayProjectImporter
			buildType="gradle"
			class="com.liferay.ide.gradle.core.GradleModuleProjectImporter"
			id="com.liferay.ide.gradle.core.GradleModuleProjectImporter"
			priority="2"
		>
		</liferayProjectImporter>
	</extension>

	<extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
		<deleteParticipant
			class="com.liferay.ide.gradle.core.LiferayGradleModuleProjectDeleteParticipant"
			id="com.liferay.ide.gradle.core.LiferayGradleModuleProjectDeleteParticipant"
			name="liferayGradleModuleProjectDeleteParticipant"
		>
			<enablement>
				<instanceof value="org.eclipse.core.resources.IProject">
				</instanceof>
			</enablement>
		</deleteParticipant>
	</extension>
	<extension
		point="org.eclipse.buildship.core.projectconfigurators"
	>
		<configurator
			class="com.liferay.ide.gradle.core.LiferayProjectConfigurator"
			id="com.liferay.ide.gradle.core.project.configurator"
			runsAfter="org.eclipse.buildship.configurators.base"
		>
		</configurator>
	</extension>
	<extension
		point="com.liferay.ide.server.core.dockerServers"
	>
		<liferayDockerServer
			class="com.liferay.ide.gradle.core.LiferayGradleDockerServer"
			id="com.liferay.ide.gradle.core.dockerServer"
			name="Liferay Gradle Docker Server"
		>
		</liferayDockerServer>
	</extension>
	<extension
		point="org.eclipse.ltk.core.refactoring.deleteParticipants"
	>
		<deleteParticipant
			class="com.liferay.ide.gradle.core.LiferayGradleWorkspaceProjectDeleteParticipant"
			id="com.liferay.ide.gradle.core.workspace.LiferayGradleWorkspaceProjectDeleteParticipant"
			name="liferayGradleWorkspaceProjectDeleteParticipant"
		>
			<enablement>
				<adapt
					type="org.eclipse.core.resources.IProject"
				>
					<test
						property="com.liferay.ide.project.core.isLiferayWorkspaceProject"
					>
					</test>
				</adapt>
			</enablement>
		</deleteParticipant>
	</extension>
	<extension
		point="bndtools.core.bndPlugins"
	>
	</extension>
	<extension
		point="org.eclipse.buildship.core.invocationcustomizers"
	>
		<customizer class="com.liferay.ide.gradle.core.LiferayGradleInvocationCustomizer" />
	</extension>
</plugin>