<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.liferay.ide.core.liferayProjectProviders">
      <liferayProjectProvider
            class="com.liferay.ide.gradle.core.GradleProjectProvider"
            displayName="Gradle Module Project Provider"
            id="com.liferay.ide.gradle.core.gradleModuleProjectProvider"
            shortName="gradle-module"
            projectType="module">
      </liferayProjectProvider>
      <liferayProjectProvider
            class="com.liferay.ide.gradle.core.ModuleFragmentProjectProvider"
            displayName="Gradle Module Fragment Project Provider"
            id="com.liferay.ide.gradle.core.gradleModuleFragmentProjectProvider"
            shortName="gradle-module-fragment"
            projectType="module-fragment">
      </liferayProjectProvider>
      <liferayProjectProvider
            class="com.liferay.ide.gradle.core.LiferayGradleWorkspaceProjectProvider"
            displayName="Liferay Workspace Project Provider"
            id="com.liferay.ide.gradle.core.liferayGradleWorkspaceProjectProvider"
            shortName="gradle-liferay-workspace"
            projectType="workspace">
      </liferayProjectProvider>
   </extension>
   <extension
         point="com.liferay.ide.core.liferayProjectImporters">
      <liferayProjectImporter
            priority="2"
            buildType="gradle"
            class="com.liferay.ide.gradle.core.GradleModuleProjectImporter"
            id="com.liferay.ide.gradle.core.GradleModuleProjectImporter">
      </liferayProjectImporter>
   </extension>
</plugin>
