<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent"
	>
		<navigatorContent
			activeByDefault="true"
			contentProvider="com.liferay.ide.upgrade.task.problem.ui.navigator.UpgradeProblemsContentProvider"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.ui.navigator.content.liferayUpgrade"
			labelProvider="com.liferay.ide.upgrade.task.problem.ui.navigator.UpgradeProblemsLabelProvider"
			name="Liferay Upgrade"
			priority="highest"
		>
			<triggerPoints>
				<or>
					<instanceof
						value="java.lang.Object"
					>
					</instanceof>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof
						value="org.eclipse.core.resources.IProject"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.upgrade.task.problem.api.ProjectUpgradeProblems"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.upgrade.task.problem.api.FileProblems"
					>
					</instanceof>
					<instanceof
						value="com.liferay.ide.upgrade.task.problem.api.Problem"
					>
					</instanceof>
				</or>
			</possibleChildren>
		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer"
	>
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.ProjectExplorer"
		>
			<includes>
				<contentExtension
					pattern="com.liferay.ide.ui.navigator.content.*"
				>
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
</plugin>