<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <system
               id="liferay-look-and-feel_6_1_0"
               systemId="-//Liferay//DTD Look and Feel 6.1.0//EN"
               uri="platform:/plugin/com.liferay.ide.eclipse.pml.core/dtd/liferay-look-and-feel_6_1_0.dtd">
         </system>
         <system
               id="liferay-layout-templates_6_1_0"
               systemId="-//Liferay//DTD Layout Templates 6.1.0//EN"
               uri="platform:/plugin/com.liferay.ide.eclipse.pml.core/dtd/liferay-layout-templates_6_1_0.dtd">
         </system>
         <system
               id="pml_1.0"
               systemId="http://www.liferay.com/pml/1.0"
               uri="platform:/plugin/com.liferay.ide.eclipse.pml.core/xsd/pml_1.0.xsd">
         </system>
         <system
               id="portlet-app_2_0"
               systemId="http://java.sun.com/xml/ns/portlet/portlet-app_2_0.xsd"
               uri="platform:/plugin/com.liferay.ide.eclipse.pml.core/xsd/portlet-app_2_0.xsd">
         </system></catalogContribution>
   </extension>

</plugin>
