<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.jboss.ui.image"
            typeIds="com.liferay.ide.eclipse.server.jboss.runtime.70,com.liferay.ide.eclipse.server.jboss.70">
      </image>
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.jboss.runtime.ui.image"
            typeIds="com.liferay.ide.eclipse.server.jboss.runtime.70,com.liferay.ide.eclipse.server.jboss.70">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.liferay.ide.eclipse.server.jboss.70.launchConfigurationType"
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.jboss.ui.launchConfigurationTypeImage.70">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.liferay.ide.eclipse.server.jboss.ui.wizard.LiferayJBoss7RuntimeFragment"
            id="com.liferay.ide.eclipse.server.jboss7.runtimeWizardFragment"
            typeIds="com.liferay.ide.eclipse.server.jboss.runtime.70">
      </fragment>
      <fragment
            class="com.liferay.ide.eclipse.server.jboss.ui.wizard.LiferayJBoss7ServerWizardFragment"
            id="com.liferay.ide.eclipse.server.jboss7.serverWizardFragment"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </fragment>
   </extension>
   
    <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.jboss.runtime-component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.jboss.ui.LiferayJBossRuntimeComponentLabelProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.jboss.runtime-component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.jboss.ui.LiferayJBossRuntimeDecorationsProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IDecorationsProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/e16/server.png"
            runtime-component-type="com.liferay.ide.eclipse.server.jboss.runtime-component"
            version="7.0">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.ide.eclipse.as.ui.launch.JBoss7LaunchConfigurationTabGroup"
            id="com.liferay.ide.eclipse.server.jboss70.ui.launchConfigurationTabGroup"
            type="com.liferay.ide.eclipse.server.jboss.70.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPages">
      <page
            class="com.liferay.ide.eclipse.server.jboss.ui.ModuleDeploymentPage"
            id="com.liferay.ide.eclipse.server.jboss.ui.deploymentPage"
            name="Deployment"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </page>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="com.liferay.ide.eclipse.server.jboss.ui.editor.LiferayServerSettingsEditorSection"
            id="com.liferay.ide.eclipse.server.jboss.ui.editor.liferaySection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="9"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PollerSection"
            id="com.liferay.ide.eclipse.server.jboss.ui.editor.pollerSection"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="10"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection"
            id="com.liferay.ide.eclipse.server.jboss.ui.editor.portSection"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="11"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.ServerPasswordSection"
            id="com.liferay.ide.eclipse.server.jboss.ui.editor.passwordSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="11"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.ServerModeSection"
            id="com.liferay.ide.eclipse.server.jboss.ui.editor.serverModeSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="10"
            typeIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.ui.ServerEditorPortSection">
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection$JBoss7ManagementPortEditorExtension"
            serverIds="com.liferay.ide.eclipse.server.jboss.70"></section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection$WebPortEditorExtension"
            serverIds="com.liferay.ide.eclipse.server.jboss.70">
      </section>
   </extension>


</plugin>
