<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.core.contenttype.contentTypes"
	>
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			describer="com.liferay.ide.service.core.ServiceBuilderContentDescriber"
			file-names="service.xml"
			id="servicebuildercontent"
			name="%service.content.type.name"
			priority="high"
		>
		</content-type>
	</extension>
	<extension
		point="com.liferay.ide.core.templateDefinitions"
	>
		<template
			id="com.liferay.ide.service.core.defaultServiceXmlFile"
			name="Default service.xml file"
			resource="defaultServiceXmlFile.ftl"
		>
		</template>
		<templatesFolder
			path="templates/"
		>
		</templatesFolder>
		<templateVariable
			name="version"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="version_"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="author"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="namespace"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="package_path"
			required="true"
		>
		</templateVariable>
	</extension>
	<extension
		point="com.liferay.ide.core.templateDefinitions"
	>
		<template
			id="com.liferay.ide.service.core.emptyServiceXmlFile"
			name="Empty service.xml file"
			resource="emptyServiceXmlFile.ftl"
		>
		</template>
		<templatesFolder
			path="templates/"
		>
		</templatesFolder>
		<templateVariable
			name="version"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="version_"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="author"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="namespace"
			required="true"
		>
		</templateVariable>
		<templateVariable
			name="package_path"
			required="true"
		>
		</templateVariable>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayDescriptorHelpers"
	>
		<liferayDescriptorHelper
			class="com.liferay.ide.service.core.operation.ServiceBuilderDescriptorHelper"
			contentTypeBinding="com.liferay.ide.service.core.servicebuildercontent"
			id="com.liferay.ide.service.core.serviceBuilderDescriptorHelper"
		>
		</liferayDescriptorHelper>
	</extension>

</plugin>