<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatRuntime"
            description="Liferay Portal Community Edition v6.0 bundled with Tomcat 6"
            id="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            name="Liferay v6.0 CE (Tomcat 6)"
            vendor="Liferay, Inc."
            version="6.0">
         <moduleType
               types="jst.web"
               versions="2.4,2.5">
         </moduleType>
         <moduleType
               types="jst.utility"
               versions="1.0">
         </moduleType>
      </runtimeType>
   </extension>
   <!--
   <extension
         point="org.eclipse.wst.server.core.runtimeLocators">
      <runtimeLocator
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatRuntimeLocator"
            id="com.liferay.ide.eclipse.server.tomcat.runtime.locator"
            typeIds="com.liferay.ide.eclipse.server.tomcat.runtime.*">
      </runtimeLocator>
   </extension>
   -->
   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatRuntimeClasspathProvider"
            id="com.liferay.ide.eclipse.server.tomcat.runtimeClasspathProvider"
            runtimeTypeIds="com.liferay.ide.eclipse.server.tomcat.runtime.*">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatServerBehavior"
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatServer"
            description="Liferay Portal Community Edition Server bundled with Tomcat 6"
            hasConfiguration="true"
            id="com.liferay.ide.eclipse.server.tomcat.60"
            initialState="stopped"
            launchConfigId="com.liferay.ide.eclipse.server.tomcat.60.launchConfigurationType"
            name="Liferay v6.0 CE Server (Tomcat 6)"
            runtime="true"
            runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            startTimeout="900000"
            stopTimeout="300000"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatLaunchConfigDelegate"
            id="com.liferay.ide.eclipse.server.tomcat.60.launchConfigurationType"
            modes="run, debug, profile"
            name="Liferay v6.0 CE (Tomcat 6)"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="com.liferay.ide.eclipse.server.tomcat.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatSourcePathComputer"
            id="com.liferay.ide.eclipse.server.tomcat.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <!--
   <extension
         point="org.eclipse.wst.server.core.serverLocators">
      <serverLocator
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatServerLocator"
            id="com.liferay.ide.eclipse.server.tomcat.serverLocator"
            supportsRemoteHosts="false"
            typeIds="com.liferay.ide.eclipse.server.tomcat.*">
      </serverLocator>
   </extension>
   -->
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatPublishTask"
            id="com.liferay.ide.eclipse.server.tomcat.publishTask"
            typeIds="com.liferay.ide.eclipse.server.tomcat.*">
      </publishTask>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatLaunchableAdapter"
            id="com.liferay.ide.eclipse.server.tomcat.web">
      </launchableAdapter>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="com.liferay.ide.eclipse.server.tomcat.runtime.component">
      </runtime-component-type>
      <runtime-component-version
            type="com.liferay.ide.eclipse.server.tomcat.runtime.component"
            version="6.0">
      </runtime-component-version>
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.tomcat.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.tomcat.core.PortalTomcatRuntimeClasspathFactory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <supported>
         <runtime-component
               id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
               version="6.0">
         </runtime-component>
         <facet
               id="jst.web"
               version="2.4,2.5">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
         <facet
               id="liferay.portlet"
               version="6.0">
         </facet>
         <facet
               id="liferay.hook"
               version="6.0">
         </facet>
         <facet
               id="liferay.ext"
               version="6.0">
         </facet>
         <facet
               id="liferay.layouttpl"
               version="6.0">
         </facet>
         <facet
               id="liferay.theme"
               version="6.0">
         </facet>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="com.liferay.ide.eclipse.server.tomcat.runtime.component"
            runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            version="6.0">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.installableRuntimes">
      <runtime
            archivePath="liferay-portal-6.0.5"
            archiveUrl="http://downloads.sourceforge.net/project/lportal/Liferay%20Portal/6.0.5/liferay-portal-tomcat-6.0.5.zip"
            id="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt">
      </runtime>
   </extension>

	<extension
         point="com.liferay.ide.eclipse.server.core.pluginPublishers">
      <liferayPluginPublisher
            class="com.liferay.ide.eclipse.server.tomcat.core.TomcatExtPluginPublisher"
            facetId="liferay.ext"
            runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60">
      </liferayPluginPublisher>
   </extension>
</plugin>
