<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.liferay.ide.sdk.core.SDKClasspathProvider"
            id="com.liferay.ide.sdk.core.SDKClasspathProvider">
      </classpathProvider>
   </extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.sdk.core.MinimumRequiredSDKVersion"
            id="com.liferay.ide.sdk.core.minimumRequiredSDKVersion"
            namespace="com.liferay.ide.sdk.core"
            properties="minimumRequiredSDKVersion"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
