<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.jdt.launching.classpathProviders"
	>
		<classpathProvider
			class="com.liferay.ide.sdk.core.SDKClasspathProvider"
			id="com.liferay.ide.sdk.core.SDKClasspathProvider"
		>
		</classpathProvider>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.sdk.core.MinimumRequiredSDKVersion"
			id="com.liferay.ide.sdk.core.minimumRequiredSDKVersion"
			namespace="com.liferay.ide.sdk.core"
			properties="minimumRequiredSDKVersion"
			type="java.lang.Object"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.sdk.core.SDKProjectPropertyTester"
			id="com.liferay.ide.sdk.core.isSDKProject"
			namespace="com.liferay.ide.sdk.core"
			properties="isSDKProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.core.variables.dynamicVariables"
	>
		<variable
			description="%sdk.dir.var.desc"
			name="liferay_sdk_dir"
			resolver="com.liferay.ide.sdk.core.SDKProjectVariableResolver"
			supportsArgument="true"
		>
		</variable>
	</extension>
	<extension
		point="org.eclipse.ant.core.extraClasspathEntries"
	>
		<extraClasspathEntry
			eclipseRuntime="false"
			library="extra/ecj.jar"
		>
		</extraClasspathEntry>
	</extension>
	<extension
		point="org.eclipse.ant.core.antProperties"
	>
		<antProperty
			name="env.ANT_OPTS"
			value="-Xmx1024m -XX:MaxPermSize=512m"
		>
		</antProperty>
	</extension>
</plugin>