<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.core.contenttype.contentTypes"
	>
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			file-names="portlet.xml,portlet-ext.xml"
			id="portletxml"
			name="%portlet.descriptor.name"
			priority="high"
		>
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber"
			>
				<parameter
					name="element"
					value="portlet-app"
				>
				</parameter>
			</describer>
		</content-type>
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			describer="com.liferay.ide.portlet.core.descriptor.LiferayPortletContentDescriber"
			file-names="liferay-portlet.xml,liferay-portlet-ext.xml"
			id="liferayportletxml"
			name="%liferay.portlet.descriptor.name"
			priority="high"
		>
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber"
			>
			</describer>
		</content-type>
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			describer="com.liferay.ide.portlet.core.descriptor.LiferayDisplayContentDescriber"
			file-names="liferay-display.xml"
			id="liferaydisplayxml"
			name="%display.descriptor.name"
			priority="high"
		>
		</content-type>
		<content-type
			base-type="org.eclipse.jdt.core.javaProperties"
			file-names="liferay-plugin-package.properties"
			id="liferaypluginpackageproperties"
			name="%liferay.plugin.package.descriptor.name"
			priority="high"
		>
		</content-type>
	</extension>
	<extension
		point="com.liferay.ide.project.core.portletFrameworks"
	>
		<portletFramework
			class="com.liferay.ide.portlet.core.MVCPortletFramework"
			default="true"
			description="%portlet.framework.description"
			displayName="%portlet.framework.display.name"
			helpUrl="http://www.liferay.com/documentation/liferay-portal/6.1/development"
			id="com.liferay.ide.project.core.framework.mvc"
			requiredSDKVersion="6.0.1"
			shortName="mvc"
		>
		</portletFramework>
	</extension>

	<extension
		point="org.eclipse.wst.xml.core.catalogContributions"
	>
		<catalogContribution
			id="jsp.dtd.contributions"
		>
			<system
				systemId="http://java.sun.com/portlet_2_0"
				uri="platform:/plugin/com.liferay.ide.portlet.core/tld/liferay-portlet.tld"
			>
			</system>
			<system
				systemId="http://liferay.com/tld/aui"
				uri="platform:/plugin/com.liferay.ide.portlet.core/tld/liferay-aui.tld"
			>
			</system>
		</catalogContribution>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayDescriptorHelpers"
	>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.dd.PortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.portletxml"
			id="com.liferay.ide.portlet.core.portletDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.dd.LiferayPortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferayportletxml"
			id="com.liferay.ide.portlet.core.liferayPortletDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.dd.LiferayDisplayDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferaydisplayxml"
			id="com.liferay.ide.portlet.core.liferayDisplayDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.dd.PluginPackagesDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferaypluginpackageproperties"
			id="com.liferay.ide.portlet.core.liferayPluginPackageDescriptorHelper"
		>
		</liferayDescriptorHelper>
	</extension>

	<extension
		point="com.liferay.ide.project.core.portletFrameworks"
	>
		<portletFramework
			advanced="false"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="false"
			description="Enables development of JSF 2.x applications using Liferay Faces Bridge that run seamlessly inside of Liferay Portal."
			displayName="JSF 2.x"
			helpUrl="http://www.liferay.com/community/liferay-projects/liferay-faces/overview"
			id="com.liferay.ide.project.core.framework.jsf"
			requiredSDKVersion="6.1.0"
			requiresAdvanced="true"
			shortName="jsf-2.x"
		>
		</portletFramework>
		<portletFramework
			advanced="true"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="true"
			description="Standard UI components provided by the JSF runtime"
			displayName="JSF standard"
			id="com.liferay.ide.project.core.framework.jsf-standard"
			requiredSDKVersion="6.1.0"
			shortName="jsf"
		>
		</portletFramework>
		<portletFramework
			advanced="true"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="false"
			description="Components that utilize Liferay&apos;s Alloy UI technology based on YUI3"
			displayName="Liferay Faces Alloy"
			id="com.liferay.ide.project.core.framework.liferay-faces-alloy"
			requiredSDKVersion="6.1.0"
			shortName="liferay_faces_alloy"
		>
		</portletFramework>
		<portletFramework
			advanced="true"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="false"
			description="Components based in part on YUI and jQuery with automatic Ajax and Ajax Push support"
			displayName="ICEfaces"
			id="com.liferay.ide.project.core.framework.icefaces"
			requiredSDKVersion="6.1.0"
			shortName="icefaces"
		>
		</portletFramework>
		<portletFramework
			advanced="true"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="false"
			description="Lightweight, zero-configuration JSF UI framework built on jQuery"
			displayName="PrimeFaces"
			id="com.liferay.ide.project.core.framework.primefaces"
			requiredSDKVersion="6.1.0"
			shortName="primefaces"
		>
		</portletFramework>
		<portletFramework
			advanced="true"
			class="com.liferay.ide.portlet.core.jsf.JSFPortletFramework"
			default="false"
			description="Next-generation JSF component framework by JBoss"
			displayName="RichFaces"
			id="com.liferay.ide.project.core.framework.richfaces"
			requiredSDKVersion="6.1.0"
			shortName="richfaces"
		>
		</portletFramework>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayDescriptorHelpers"
	>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.jsf.JSFPortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.portletxml"
			id="com.liferay.ide.portlet.core.jsf.jsfPortletDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.core.jsf.JSFLiferayPortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferayportletxml"
			id="com.liferay.ide.portlet.core.jsf.jsfLiferayPortletDescriptorHelper"
		>
		</liferayDescriptorHelper>
	</extension>
	<extension
		point="com.liferay.ide.project.core.portletFrameworks"
	>
		<portletFramework
			class="com.liferay.ide.portlet.core.spring.SpringPortletFramework"
			description="Enables development of Spring MVC web applications using Spring's own Portlet MVC Framework."
			displayName="Spring MVC"
			helpUrl="http://docs.spring.io/autorepo/docs/spring/3.2.x/spring-framework-reference/html/portlet.html"
			id="com.liferay.ide.project.core.framework.spring-mvc"
			requiredSDKVersion="7.0.0"
			shortName="spring_mvc"
		>
		</portletFramework>
	</extension>
	<extension
		point="com.liferay.ide.project.core.portletFrameworks"
	>
		<portletFramework
			class="com.liferay.ide.portlet.vaadin.core.VaadinPortletFramework"
			default="false"
			description="%vaadin.portlet.framework.description"
			displayName="%vaadin.portlet.framework.display.name"
			helpUrl="http://vaadin.com"
			id="com.liferay.ide.project.core.framework.vaadin"
			requiredSDKVersion="6.0.5"
			shortName="vaadin"
		>
		</portletFramework>
	</extension>
	<extension
		point="com.liferay.ide.project.core.liferayDescriptorHelpers"
	>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.vaadin.core.dd.VaadinPortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.portletxml"
			id="com.liferay.ide.portlet.vaadin.core.vaadinPortletDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.vaadin.core.dd.VaadinLiferayPortletDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferayportletxml"
			id="com.liferay.ide.portlet.vaadin.core.vaadinLiferayPortletDescriptorHelper"
		>
		</liferayDescriptorHelper>
		<liferayDescriptorHelper
			class="com.liferay.ide.portlet.vaadin.core.dd.VaadinPluginPackageDescriptorHelper"
			contentTypeBinding="com.liferay.ide.portlet.core.liferaypluginpackageproperties"
			id="com.liferay.ide.portlet.vaadin.core.vaadinPluginPackageDescriptorHelper"
		>
		</liferayDescriptorHelper>
	</extension>
</plugin>