<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.liferay.ide.ui.pref.LiferayUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.liferay.ide.ui.pref.LiferayUIPreferencePage"
            id="com.liferay.ide.ui.preferences.liferay"
            name="%liferay.preference.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution objectClass="org.eclipse.core.resources.IProject" adaptable="true" id="com.liferay.ide.ui.popupmenu">
	         <menu label="%liferay.popup.menu.label"  id="liferayPopupMenuCategory">
	            <separator name="slot1"/> 
	         </menu>
      	</objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.liferay.ide.ui.keyword"
            label="%liferay.keyword.label">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.liferay.ide.ui.LiferayPerspectiveFactory"
            icon="icons/e16/liferay.png"
            id="com.liferay.ide.eclipse.ui.perspective.liferay"
            name="%liferay.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="com.liferay.ide.eclipse.ui.shortcuts.actionSet">
         </actionSet>
         <perspectiveShortcut
               id="com.liferay.ide.eclipse.ui.perspective.liferay">
         </perspectiveShortcut>
         <newWizardShortcut
               id="com.liferay.ide.project.ui.newProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.portlet.ui.wizard.portlet">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.hook.ui.wizard.hook">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.service.ui.wizard.servicebuilder">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <actionSet
               id="com.liferay.ide.eclipse.ui.shortcuts.actionSet">
         </actionSet>
         <perspectiveShortcut
               id="com.liferay.ide.eclipse.ui.perspective.liferay">
         </perspectiveShortcut>
         <newWizardShortcut
               id="com.liferay.ide.project.ui.newProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.portlet.ui.wizard.portlet">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.hook.ui.wizard.hook">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.liferay.ide.service.ui.wizard.servicebuilder">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.liferay.ide.ui.LiferayUIPlugin">
      </startup>
   </extension>   

</plugin>
