<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.0.0.20110607-2117"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.3.0.v201102150115-377DF8s7355397B4B9B"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.3.0.v201102200555-377DF8s73543E5I5768"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.3.0.v201102200555-7b7II1GFSK2WH9RM7NtDsHY9Rz0Tn"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.3.0.v201103310009-7F7AFO-C25TohFunnht_0yz0s92kZCb4ufuz0TLG"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.0.v201102200555-7O7IFhJEMiB5vNMYta56_GonLeahqrwnYjv2mBz-"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.0.v201103310011-7H7EFZ-DxumTla66ahfUnHfpsz0u5Z92pU4TxSL"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.2.0.v201102200555-7T7YFRSFIqUoIrvYEvBiPGJXGZNg"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.3.0.v201103031824-7F78FXPFBBoPbXRIcIgs0z0"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.3.0.v201103022146-7E7IBvF9JgLWUM3U8Shak"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.0.v201102200555-777HFHyCcNBDjBfJa4BA8"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.100.v20110303-208Z7w31211419"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHr9xFcAVCFLZBBJLIR43A"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.1.0.201106071417"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.4.v201105111126-468b9oB5875G5M6D4A"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location path="E:\liferay\dependencies\sapphire-repository-0.3.x\repository" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.jws" version="2.0.0.v201005080400"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<unit id="javax.servlet" version="3.0.0.v201103241727"/>
<unit id="javax.security.auth.message" version="1.0.0.v201104181300"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="javax.annotation.source" version="1.1.0.v201105051105"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201005082020"/>
<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
<unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
<unit id="javax.ws.rs" version="1.1.1.v20101004-1200"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.activation.source" version="1.1.0.v201105071233"/>
<unit id="javax.servlet.source" version="3.0.0.v201103241727"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.servlet.jsp.jstl.source" version="1.2.0.v201105211821"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20101004-1200"/>
<unit id="javax.activation" version="1.1.0.v201105071233"/>
<unit id="javax.security.auth.message.source" version="1.0.0.v201104181300"/>
<unit id="javax.servlet.jsp" version="2.2.0.v201103241009"/>
<unit id="javax.wsdl.source" version="1.6.2.v201012040545"/>
<unit id="javax.annotation" version="1.1.0.v201105051105"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.el.source" version="2.2.0.v201105051105"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="javax.xml.rpc" version="1.1.0.v201005080400"/>
<unit id="javax.servlet.jsp.jstl" version="1.2.0.v201105211821"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="javax.jws.source" version="2.0.0.v201005080400"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201105210648"/>
<unit id="javax.servlet.jsp.source" version="2.2.0.v201103241009"/>
<unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
<unit id="javax.el" version="2.2.0.v201105051105"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v201005082020"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.batik.swing" version="1.7.0.v201011041433"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v201101211617"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.ws.commons.schema" version="1.4.2.v201003051240"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.wsil4j" version="1.0.0.v200901211807"/>
<unit id="org.apache.ws.commons.util" version="1.0.1.v20100518-1140"/>
<unit id="org.apache.lucene" version="2.9.1.v201101211721"/>
<unit id="org.apache.derby.source" version="10.5.1.1_201105231903"/>
<unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.felix.gogo.runtime" version="0.8.0.v201105062003"/>
<unit id="org.apache.cassandra.source" version="0.7.0.v20110412-1025"/>
<unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.extension" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.pool" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.commons.el" version="1.0.0.v201101211617"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.bsf.source" version="2.4.0.v201103030230"/>
<unit id="org.apache.solr.core" version="1.4.0.v20110304-0751"/>
<unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<unit id="org.apache.xml.security" version="1.4.2.v201005080400"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.ant" version="1.8.2.v20110505-1300"/>
<unit id="org.apache.velocity" version="1.5.0.v200905192330"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.xmlrpc" version="3.0.0.v20100427-1100"/>
<unit id="org.apache.ant.source" version="1.8.2.v20110505-1300"/>
<unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.fileupload" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.felix.gogo.command" version="0.8.0.v201105062003"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.1.0.v201103311320"/>
<unit id="org.apache.lucene.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.taglibs.standard.glassfish" version="1.2.0.v201105210653"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v201005080500"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.1.0.v201101201700"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.batik.extension.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.oro.source" version="2.0.8.v201005080400"/>
<unit id="org.apache.hadoop.zookeeper.source" version="3.3.3.v201105210832"/>
<unit id="org.apache.jasper.glassfish.source" version="2.1.0.v201105210816"/>
<unit id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.pool.source" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.bcel.source" version="5.2.0.v201005080400"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.felix.gogo.command.source" version="0.8.0.v201105062003"/>
<unit id="org.apache.taglibs.standard.glassfish.source" version="1.2.0.v201105210653"/>
<unit id="org.apache.felix.gogo.shell" version="0.8.0.v201105062003"/>
<unit id="org.apache.commons.net.source" version="2.2.0.v201101241833"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20110304-1145"/>
<unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
<unit id="org.apache.hadoop.zookeeper" version="3.3.3.v201105210832"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.jasper" version="5.5.17.v201101211617"/>
<unit id="org.apache.jasper.glassfish" version="2.1.0.v201105210816"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.thrift.source" version="0.5.0.v20110412-1025"/>
<unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.bsf" version="2.4.0.v201103030230"/>
<unit id="org.apache.felix.gogo.runtime.source" version="0.8.0.v201105062003"/>
<unit id="org.apache.commons.net" version="2.2.0.v201101241833"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201105210650"/>
<unit id="org.apache.jasper.source" version="5.5.17.v201101211617"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.ws.jaxme" version="0.5.1.v20100427-1100"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.1.0.v201103311320"/>
<unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<unit id="org.apache.thrift" version="0.5.0.v20110412-1025"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.swing.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.neethi" version="2.0.4.1"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v201101211721"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.beanutils.source" version="1.7.0.v200803061811"/>
<unit id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.cassandra" version="0.7.0.v20110412-1025"/>
<unit id="org.apache.axis" version="1.4.0.v201005080400"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.oro" version="2.0.8.v201005080400"/>
<unit id="org.apache.lucene.core" version="2.9.1.v201101211721"/>
<unit id="org.apache.commons.el.source" version="1.0.0.v201101211617"/>
<unit id="org.apache.felix.gogo.shell.source" version="0.8.0.v201105062003"/>
<unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.apache.batik.dom.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.bcel" version="5.2.0.v201005080400"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.derby" version="10.5.1.1_201105231903"/>
<unit id="org.codehaus.jackson.smile" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.smile.source" version="1.6.0.v20101005-0925"/>
<unit id="com.google.gwtjsonrpc" version="1.2.2.v201105211953"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="com.google.gwtjsonrpc.source" version="1.2.2.v201105211953"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.slf4j.ext.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jul" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.slf4j.source" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.log4j.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jcl" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jul.source" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.classic.source" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.api.source" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.jcl.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.ext" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.slf4j" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.core.source" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.log4j" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.8.0.v20110607-1252"/>
<repository location="http://download.eclipse.org/graphiti/updates/0.8.0"/>
</location>
</locations>
</target>
