<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="liferayProject" name="Liferay Project Definition" schema="schema/liferayProject.exsd"/>
   <extension-point id="portletFrameworks" name="Portlet Plug-in Frameworks" schema="schema/portletFrameworks.exsd"/>
   
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
    
      
      <category
            id="liferay.plugins">
         <label>
            Liferay Plug-ins
         </label>
         <description>
            Liferay Portal Plug-in facets including, portlets, hooks, ext, themes, and layout templates.
         </description>
      </category>
     
      <project-facet
            id="liferay.portlet">
         <label>
            Liferay Portlet
         </label>
         <description>
            Portlet plug-in for Liferay portal.  Version cooresponds to Portal version.
         </description>
         <member
               category="liferay.plugins">
         </member>
         <default-version
               version="6.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="liferay.portlet"
            version="6.0">
         <constraint>
            <and>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
               <requires
                     facet="jst.web"
                     version="[2.4">
               </requires>
            </and>
            <!--
            <conflicts facet="liferay.hook"/>
            <conflicts facet="liferay.ext"/>
            -->
         </constraint>
      </project-facet-version>
      <action
            facet="liferay.portlet"
            id="liferay.portlet.install"
            type="INSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.PortletPluginFacetInstall">
         </delegate>
         <config-factory
               class="com.liferay.ide.eclipse.project.core.facet.PortletPluginFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="liferay.portlet"
            id="liferay.portlet.uninstall"
            type="UNINSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.PortletPluginFacetUninstall">
         </delegate>
      </action>
      <template
            id="liferay.portlet.template">
         <label>
            Liferay Portlet Plug-in Project
         </label>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed
               facet="jst.web">
         </fixed>
         <fixed 
               facet="liferay.portlet">
         </fixed>
      </template>
      
      
      
      
      
      <project-facet
            id="liferay.hook">
         <label>
            Liferay Hook
         </label>
         <description>
            Hook plug-in for Liferay portal.  Version cooresponds to Portal version.
         </description>
         <member
               category="liferay.plugins">
         </member>
         <default-version
               version="6.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="liferay.hook"
            version="6.0">
         <constraint>
            <and>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
               <requires
                     facet="jst.web"
                     version="[2.4">
               </requires>
            </and>
            <!--
            <conflicts facet="liferay.portlet"/>
            <conflicts facet="liferay.ext"/>
            -->
         </constraint>
      </project-facet-version>
      <action
            facet="liferay.hook"
            id="liferay.hook.install"
            type="INSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.HookPluginFacetInstall">
         </delegate>
         <config-factory
               class="com.liferay.ide.eclipse.project.core.facet.HookPluginFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="liferay.hook"
            id="liferay.hook.uninstall"
            type="UNINSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.HookPluginFacetUninstall">
         </delegate>
      </action>
      <template
            id="liferay.hook.template">
         <label>
            Liferay Hook Plug-in Project
         </label>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed
               facet="jst.web">
         </fixed>
         <fixed 
               facet="liferay.hook">
         </fixed>
         <preset
               id="liferay.portlet.preset">
            <label>
               Liferay Portlet Plug-in Preset
            </label>
         </preset>
      </template>
      
     
     
     
     <project-facet
            id="liferay.ext">
         <label>
            Liferay Ext
         </label>
         <description>
            Ext plug-in for Liferay portal.  Version cooresponds to Portal version.
         </description>
         <member
               category="liferay.plugins">
         </member>
         <default-version
               version="6.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="liferay.ext"
            version="6.0">
         <constraint>
            <and>
               <requires
                     facet="jst.java"
                     version="[5.0">
               </requires>
               <requires
                     facet="jst.web"
                     version="[2.4">
               </requires>
            </and>
            <!--
            <and>
            	<conflicts facet="liferay.portlet"/>
            	<conflicts facet="liferay.hook"/>
            </and>
            -->
         </constraint>
      </project-facet-version>
      <action
            facet="liferay.ext"
            id="liferay.ext.install"
            type="INSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.ExtPluginFacetInstall">
         </delegate>
         <config-factory
               class="com.liferay.ide.eclipse.project.core.facet.ExtPluginFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="liferay.ext"
            id="liferay.ext.uninstall"
            type="UNINSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.eclipse.project.core.facet.ExtPluginFacetUninstall">
         </delegate>
      </action>
      <template
            id="liferay.ext.template">
         <label>
            Liferay Ext Plug-in Project
         </label>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed
               facet="jst.web">
         </fixed>
         <fixed 
               facet="liferay.ext">
         </fixed>
      </template>
     
    
   </extension>
   
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            id="liferay.portlet.preset">
         <label>
            Liferay portlet plug-in 6.0 preset
         </label>
         <description>
            Preset for Liferay 6.0 portlet plug-in
         </description>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="liferay.portlet"
               version="6.0">
         </facet>
      </static-preset>
      
      
      <static-preset
            id="liferay.hook.preset">
         <label>
            Liferay hook plug-in 6.0 preset
         </label>
         <description>
            Preset for Liferay 6.0 hook plug-in
         </description>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="liferay.hook"
               version="6.0">
         </facet>
      </static-preset>
      
      <static-preset
            id="liferay.ext.preset">
         <label>
            Liferay ext plug-in 6.0 preset
         </label>
         <description>
            Preset for Liferay 6.0 ext plug-in
         </description>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="liferay.ext"
               version="6.0">
         </facet>
      </static-preset>
     
      
   </extension>
   
   
   
   <extension
         point="org.eclipse.jst.common.project.facet.core.libraryProviders">
      <provider
            id="com.liferay.ide.eclipse.plugin.portlet.libraryProvider">
         <label>
            Liferay portlet plug-in library
         </label>
         <enablement>
            <with
                  variable="requestingProjectFacet">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.wst.common.project.facet.core.projectFacet"
                     value="liferay.portlet">
               </test>
            </with>
            <with
                  variable="context">
               <test
                     forcePluginActivation="true"
                     property="com.liferay.ide.eclipse.project.core.isLiferayRuntime"
                     value="true">
               </test>
            </with>
         </enablement>
         <action
               type="INSTALL">
            <operation
                  class="com.liferay.ide.eclipse.project.core.library.PortletPluginLibraryInstallOperation">
            </operation>
            <config
                  class="com.liferay.ide.eclipse.project.core.library.PortletPluginLibraryInstallOperationConfig">
            </config>
         </action>
      </provider>
      
      
      <provider
            id="com.liferay.ide.eclipse.plugin.hook.libraryProvider">
         <label>
            Liferay hook plug-in library
         </label>
         <enablement>
            <with
                  variable="requestingProjectFacet">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.wst.common.project.facet.core.projectFacet"
                     value="liferay.hook">
               </test>
            </with>
            <with
                  variable="context">
               <test
                     forcePluginActivation="true"
                     property="com.liferay.ide.eclipse.project.core.isLiferayRuntime"
                     value="true">
               </test>
            </with>
         </enablement>
         <action
               type="INSTALL">
            <operation
                  class="com.liferay.ide.eclipse.project.core.library.HookPluginLibraryInstallOperation">
            </operation>
            <config
                  class="com.liferay.ide.eclipse.project.core.library.HookPluginLibraryInstallOperationConfig">
            </config>
         </action>
      </provider>
      
      
      
      
      
      <provider
            id="com.liferay.ide.eclipse.plugin.ext.libraryProvider">
         <label>
            Liferay ext plug-in library
         </label>
         <enablement>
            <with
                  variable="requestingProjectFacet">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.wst.common.project.facet.core.projectFacet"
                     value="liferay.ext">
               </test>
            </with>
            <with
                  variable="context">
               <test
                     forcePluginActivation="true"
                     property="com.liferay.ide.eclipse.project.core.isLiferayRuntime"
                     value="true">
               </test>
            </with>
         </enablement>
         <action
               type="INSTALL">
            <operation
                  class="com.liferay.ide.eclipse.project.core.library.ExtPluginLibraryInstallOperation">
            </operation>
            <config
                  class="com.liferay.ide.eclipse.project.core.library.ExtPluginLibraryInstallOperationConfig">
            </config>
         </action>
      </provider>
      
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.eclipse.project.core.library.LiferayRuntimePropertyTester"
            id="com.liferay.ide.eclipse.project.core.isLiferayRuntime"
            namespace="com.liferay.ide.eclipse.project.core"
            properties="isLiferayRuntime"
            type="org.eclipse.jst.common.project.facet.core.libprov.EnablementExpressionContext">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.listeners">
      <listener
            class="com.liferay.ide.eclipse.project.core.facet.PrimaryRuntimeChangedListener"
            eventTypes="PRIMARY_RUNTIME_CHANGED">
      </listener>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.validators">
      <validator
            class="com.liferay.ide.eclipse.project.core.facet.PortletPluginFacetValidator">
         <facet
               id="liferay.portlet"
               version="6.0">
         </facet>
      </validator>
      <validator
            class="com.liferay.ide.eclipse.project.core.facet.HookPluginFacetValidator">
         <facet
               id="liferay.hook"
               version="6.0">
         </facet>
      </validator>
      <validator
            class="com.liferay.ide.eclipse.project.core.facet.ExtPluginFacetValidator">
         <facet
               id="liferay.ext"
               version="6.0">
         </facet>
      </validator>
   </extension>
   
 
</plugin>
