<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.liferay.ide.project.ui.portletFrameworkDelegates">
      <portletFrameworkDelegate
            class="com.liferay.ide.portlet.vaadin.ui.VaadinPortletFrameworkDelegate"
            frameworkId="com.liferay.ide.project.core.framework.vaadin"
            icon="icons/e16/vaadin.png">
      </portletFrameworkDelegate>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
         
      <category
            id="com.liferay.ide.newWizards"
            name="Liferay">
      </category>
      <wizard
            category="com.liferay.ide.newWizards"
            icon="icons/n16/vaadinportlet_new.png"
            id="com.liferay.ide.portlet.vaadin.ui.wizard.portlet"
            name="Liferay Vaadin Portlet">
         <class class="com.liferay.ide.portlet.vaadin.ui.wizard.NewVaadinPortletWizard">
         	<parameter name="liferay_extra_artifact" value="true"/>
            <parameter name="menuIndex" value="20" />
         </class>
         <description>
            Create a new Liferay Vaadin Portlet
         </description>
      </wizard>
      
   </extension>
   

</plugin>
