<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.liferay.ide.project.ui.portletFrameworkDelegates">
      <portletFrameworkDelegate
            class="com.liferay.ide.portlet.jsf.ui.JSFPortletFrameworkDelegate"
            icon="icons/e16/liferay_jsf_16x16.png"
            frameworkId="com.liferay.ide.project.core.template.jsf">
      </portletFrameworkDelegate>
   </extension>

	<extension
         point="org.eclipse.ui.newWizards">
         
      <category
            id="com.liferay.ide.newWizards"
            name="Liferay">
      </category>
      <wizard
            category="com.liferay.ide.newWizards"
            class="com.liferay.ide.portlet.jsf.ui.wizard.NewJSFPortletWizard"
            icon="icons/n16/liferay_faces_new.png"
            id="com.liferay.ide.portlet.jsf.ui.wizard.portlet"
            name="Liferay JSF Portlet">
         <class class="com.liferay.ide.portlet.jsf.ui.wizard.NewJSFPortletWizard">
         	<parameter name="liferay_extra_artifact" value="true"/>
            <parameter name="menuIndex" value="10" />
         </class>
         <description>
            Create a new Liferay JSF Portlet
         </description>
      </wizard>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.liferay.ide.portlet.jsf.ui.JSFPortletXHTMLTemplateContextType"
            id="jsf_portlet_new"
            name="New JSF Portlet XHTML">
      </contextType>
      <include
            file="templates/portlet-jsf-templates.xml"
            translations="templates/portlet-jsf-templates.properties">
      </include>
      
   </extension>
   
</plugin>
