<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      
      <image
            category="liferay.plugins"
            facet="liferay.layouttpl"
            path="icons/e16/layout.png">
      </image>
      
   </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="com.liferay.ide.layouttpl.ui.editor.LayoutTplMultiPageEditor"
          contributorClass="com.liferay.ide.layouttpl.ui.editor.LayoutTplMultiPageEditorActionBarContributor"
          default="true"
          extensions="tpl"
          icon="icons/e16/layout.png"
          id="com.liferay.ide.eclipse.layouttpl.ui.template.multiEditor"
          name="Layout Template Editor">
    </editor>
 </extension>
 <extension
       point="com.liferay.ide.templates.core.templateDefinition">
    <template
          id="layouttpl.tpl"
          name="Default Layout Template"
          resource="layouttpl.vm">
    </template>
    <templatesFolder
          path="templates/">
    </templatesFolder>
    <templateVariable
          name="root"
          required="true">
    </templateVariable>
    <templateVariable
          name="templateName"
          required="true">
    </templateVariable>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
       <wizard
            category="com.liferay.ide.newWizards"
            icon="icons/n16/layout_new.png"
            id="com.liferay.ide.layouttpl.ui.wizard.layouttemplate"
            name="Liferay Layout Template">
         <class class="com.liferay.ide.layouttpl.ui.wizard.NewLayoutTplWizard">
         	<parameter name="liferay_artifact" value="true"/>
            <parameter name="menuIndex" value="40" />
         </class>
         <description>
            Create a new Liferay Layout Template
         </description>
      </wizard>
 </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      
      <contextType
            class="com.liferay.ide.layouttpl.ui.wizard.LayoutTplTemplateContextType"
            id="layouttpl_new"
            name="New Layout Template">
      </contextType>
      <include
            file="templates/layouttpl-templates.xml"
            translations="templates/layouttpl-templates.properties">
      </include>
   </extension>
   
</plugin>
