<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
         
          <project-facet
            id="liferay.theme">
         <label>
            Liferay Theme
         </label>
         <description>
            Theme plugin for Liferay portal.  Version cooresponds to Portal version.
         </description>
         <member
               category="liferay.plugins">
         </member>
         <default-version
               version="6.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="liferay.theme"
            version="6.0">
         <constraint>
            <and>
               <requires
                     facet="jst.web"
                     version="[2.3">
               </requires>
            </and>
            <!--
            <conflicts facet="liferay.hook"/>
            <conflicts facet="liferay.ext"/>
            -->
         </constraint>
      </project-facet-version>
      <action
            facet="liferay.theme"
            id="liferay.theme.install"
            type="INSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.theme.core.facet.ThemePluginFacetInstall">
         </delegate>
         <config-factory
               class="com.liferay.ide.theme.core.facet.ThemePluginFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="liferay.theme"
            id="liferay.theme.uninstall"
            type="UNINSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.theme.core.facet.ThemePluginFacetUninstall">
         </delegate>
      </action>
      <template
            id="liferay.theme.template">
         <label>
            Liferay Theme Plugin Project
         </label>
         <fixed
               facet="jst.web">
         </fixed>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed 
               facet="liferay.theme">
         </fixed>
      </template>
   </extension>
   
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
     
      
      <static-preset
            id="liferay.theme.preset">
         <label>
            Liferay theme plugin 6.0 preset
         </label>
         <description>
            Preset for Liferay 6.0 theme plugin
         </description>
         <!--
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         -->
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="liferay.theme"
               version="6.0">
         </facet>
      </static-preset>
      
   </extension>
   
   <extension
         point="org.eclipse.wst.common.project.facet.core.validators">
      <validator
            class="com.liferay.ide.theme.core.facet.ThemePluginFacetValidator">
         <facet
               id="liferay.theme"
               version="6.0">
         </facet>
      </validator>
   </extension>
   <extension
         point="com.liferay.ide.project.core.liferayProjects">
      <liferayProjectDefinition
            class="com.liferay.ide.theme.core.LiferayThemeDefinition"
            displayName="Liferay Theme"
            facetId="liferay.theme"
            facetedProjectTemplateId="liferay.theme.template"
            menuIndex="50"
            shortName="theme">
      </liferayProjectDefinition>
   </extension>
   <extension
         id="com.liferay.ide.eclipse.theme.core.cssBuilder"
         name="%theme.css.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false">
         <run
               class="com.liferay.ide.theme.core.ThemeCSSBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         point="com.liferay.ide.server.core.pluginPublishers">
      <liferayPluginPublisher
            class="com.liferay.ide.theme.core.ThemePluginPublisher"
            runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            facetId="liferay.theme">
      </liferayPluginPublisher>
   </extension>
	
</plugin>
