<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.ui.popupmenu"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="Liferay"
			>
				<separator
					name="slot1"
				>
				</separator>
				<groupMarker
					name="build-lang"
				>
				</groupMarker>
				<groupMarker
					name="build-css"
				>
				</groupMarker>
				<groupMarker
					name="build-service"
				>
				</groupMarker>
				<groupMarker
					name="merge-lang"
				>
				</groupMarker>
				<groupMarker
					name="init-bundle"
				>
				</groupMarker>
				<groupMarker
					name="init-docker-bundle"
				>
				</groupMarker>
			</menu>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.gradle.ui.gradle.popup"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<action
				class="com.liferay.ide.gradle.action.BuildLangTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.buildLang"
				label="build-lang"
				menubarPath="liferayPopupMenuCategory/build-lang"
			>
			</action>
			<action
				class="com.liferay.ide.gradle.action.InitBundleTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.initBundle"
				label="Initialize Server Bundle"
				menubarPath="liferayPopupMenuCategory/init-bundle"
			>
			</action>
			<action
				class="com.liferay.ide.gradle.action.BuildCssTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.buildcss"
				label="build-css"
				menubarPath="liferayPopupMenuCategory/build-css"
			>
			</action>
			<action
				class="com.liferay.ide.gradle.action.BuildServiceTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.buildservice"
				label="build-service"
				menubarPath="liferayPopupMenuCategory/build-service"
			>
			</action>
			<action
				class="com.liferay.ide.gradle.action.MergeLangTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.mergelang"
				label="merge-lang"
				menubarPath="liferayPopupMenuCategory/merge-lang"
			>
			</action>
			<action
				class="com.liferay.ide.gradle.action.InitDockerBundleTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.initDockerBundle"
				label="Init Portal Docker Bundle"
				menubarPath="liferayPopupMenuCategory/init-docker-bundle"
			>
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IResource">
					<or>
						<adapt type="org.eclipse.core.resources.IFile">
							<test
								forcePluginActivation="true"
								property="com.liferay.ide.gradle.ui.isBuildFile"
								value="true"
							/>
						</adapt>
						<and>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
									forcePluginActivation="true"
									property="com.liferay.ide.gradle.ui.isGradleProject"
									value="true"
								/>
							</adapt>
						</and>
					</or>
				</adapt>
			</enablement>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.gradle.ui.addJSPValidationSupport"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<action
				class="com.liferay.ide.gradle.ui.action.AddJSPValidationAction"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.ui.action.AddJSPValidationAction"
				label="Add JSP Validation Support"
				menubarPath="org.eclipse.ui.projectConfigure/additions"
			>
			</action>
			<visibility>
				<and>
					<objectState name="open" value="true" />
					<objectState name="nature" value="com.liferay.ide.core.liferayNature" />
					<not>
						<and>
							<objectState name="nature" value="org.eclipse.wst.common.modulecore.ModuleCoreNature" />
							<objectState name="nature" value="org.eclipse.wst.common.project.facet.core.nature" />
						</and>
					</not>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.gradle.ui.watch"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<action
				class="com.liferay.ide.gradle.action.WatchTaskAction"
				enablesFor="1"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.gradle.popup.action.watch"
				label="watch"
				menubarPath="liferayPopupMenuCategory/watch"
			>
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IProject">
					<test
						forcePluginActivation="true"
						property="com.liferay.ide.gradle.ui.isWatchableProject"
						value="true"
					/>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.gradle.ui.GradleProjectPropertyTester"
			id="com.liferay.ide.gradle.ui.isGradleProject"
			namespace="com.liferay.ide.gradle.ui"
			properties="isGradleProject"
			type="org.eclipse.core.resources.IResource"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.gradle.ui.FragmentPropertyTester"
			id="com.liferay.ide.gradle.ui.isFragmentProject"
			namespace="com.liferay.ide.gradle.ui"
			properties="isFragmentProject"
			type="org.eclipse.core.resources.IResource"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.gradle.ui.BuildFilePropertyTester"
			id="com.liferay.ide.gradle.ui.isBuildFile"
			namespace="com.liferay.ide.gradle.ui"
			properties="isBuildFile"
			type="org.eclipse.core.resources.IFile"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.gradle.ui.WatchableProjectPropertyTester"
			id="com.liferay.ide.gradle.ui.isWatchableProject"
			namespace="com.liferay.ide.gradle.ui"
			properties="isWatchableProject"
			type="org.eclipse.core.resources.IResource"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer"
	>
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.ProjectExplorer"
		>
			<includes>
				<contentExtension
					pattern="com.liferay.ide.gradle.ui.navigatorContent"
				>
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.ui.menus"
	>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?after=additions"
		>
			<menu
				icon="icons/e16/liferay_logo_16.png"
				label="Liferay"
			>
				<visibleWhen
					checkEnabled="false"
				>
					<or>
						<with
							variable="activeMenuSelection"
						>
							<count value="1"></count>
							<reference definitionId="com.liferay.comparehook.definition" />
						</with>
						<with
							variable="activeMenuEditorInput"
						>
							<reference definitionId="com.liferay.comparehook.definition" />
						</with>
					</or>
				</visibleWhen>
				<command
					commandId="com.liferay.ide.gradle.ui.handler.CompareFileCommand"
					label="Compare With Original"
					style="push"
				>
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands"
	>
		<command
			defaultHandler="com.liferay.ide.gradle.ui.handler.CompareFileHandler"
			id="com.liferay.ide.gradle.ui.handler.CompareFileCommand"
			name="CompareFileCommand"
		>
		</command>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.liferay.comparehook.definition">
			<iterate>
				<and>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							forcePluginActivation="true"
							property="com.liferay.ide.gradle.ui.isGradleProject"
							value="true"
						/>
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							forcePluginActivation="true"
							property="com.liferay.ide.gradle.ui.isFragmentProject"
							value="true"
						/>
					</adapt>
					<or>
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.extension" value="jspf" />
						</adapt>
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.extension" value="jsp" />
						</adapt>
					</or>
				</and>
			</iterate>
		</definition>
	</extension>
	<extension
		point="org.eclipse.ui.bindings"
	>
		<key
			commandId="org.eclipse.buildship.ui.commands.refreshproject"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+F5"
		>
		</key>
	</extension>
	<extension point="org.eclipse.ui.decorators">
		<decorator
			adaptable="true"
			class="com.liferay.ide.gradle.ui.LiferayWatchDecorator"
			id="com.liferay.ide.gradle.ui.liferayWatchDecorator"
			label="liferay watch decorator"
			lightweight="true"
			state="true"
		>
			<description>liferay watch decorator</description>
			<enablement>
				<objectState name="nature" value="org.eclipse.buildship.core.gradleprojectnature" />
			</enablement>
		</decorator>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent"
	>
		<navigatorContent
			activeByDefault="true"
			contentProvider="com.liferay.ide.gradle.ui.navigator.workspace.LiferayWorkspaceServerContentProvider"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.gradle.ui.serverview.workspace"
			labelProvider="com.liferay.ide.gradle.ui.navigator.workspace.LiferayWorkspaceServerLabelProvider"
			name="Liferay Workspace"
			priority="higher"
			providesSaveables="true"
		>
			<triggerPoints>
				<or>
					<instanceof
						value="org.eclipse.wst.server.core.IServer"
					>
					</instanceof>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof
						value="java.lang.Object"
					>
					</instanceof>
					<instanceof
						value="org.eclipse.core.resources.IProject"
					>
					</instanceof>
				</or>
			</possibleChildren>
			<override
				policy="InvokeAlwaysRegardlessOfSuppressedExt"
				suppressedExtensionId="org.eclipse.wst.server.ui.ServersView.content.root"
			>
			</override>
			<actionProvider
				class="com.liferay.ide.gradle.ui.navigator.workspace.LiferayWorkspaceServerActionProvider"
				id="com.liferay.ide.gradle.ui.serverview.workspace.actions"
				priority="highest"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IProject"
						>
						</instanceof>
					</or>
				</enablement>
			</actionProvider>
		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer"
	>

		<viewerContentBinding
			viewerId="org.eclipse.wst.server.ui.ServersView"
		>
			<includes>
				<contentExtension
					isRoot="false"
					pattern="com.liferay.ide.gradle.ui.serverview.workspace"
				>
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.jdt.ui.quickFixProcessors"
	>
		<quickFixProcessor
			class="com.liferay.ide.gradle.ui.quickfix.LiferayGradleDependencyQuickFix"
			id="com.liferay.ide.gradle.ui.quickfix.liferayGradleDependencyQuickFix"
			name="LiferayGradleDependencyQuickFix"
		>
		</quickFixProcessor>
	</extension>
	<extension
		point="org.eclipse.wst.server.ui.serverImages"
	>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.remote.image"
			typeIds="com.liferay.ide.eclipse.server.remote"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.runtime.stub.image"
			typeIds="com.liferay.ide.eclipse.server.runtime.stub"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.portal.image"
			typeIds="com.liferay.ide.server.portal"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.portal.docker.image"
			typeIds="com.liferay.ide.server.portal.docker"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.portal.runtime.image"
			typeIds="com.liferay.ide.server.portal.runtime"
		>
		</image>
		<image
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.portal.docker.runtime.image"
			typeIds="com.liferay.ide.server.portal.docker.runtime"
		>
		</image>
	</extension>
	<extension
		point="org.eclipse.wst.server.ui.wizardFragments"
	>
		<fragment
			class="com.liferay.ide.gradle.ui.portal.docker.DockerRuntimeWizard"
			id="com.liferay.ide.server.portal.docker.runtime.fragment"
			typeIds="com.liferay.ide.server.portal.docker.runtime"
		>
		</fragment>
		<fragment
			class="com.liferay.ide.gradle.ui.portal.docker.DockerServerWizard"
			id="com.liferay.ide.server.portal.docker.fragment"
			typeIds="com.liferay.ide.server.portal.docker"
		>
		</fragment>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups"
	>
		<launchConfigurationTabGroup
			class="com.liferay.ide.gradle.ui.portal.docker.DockerServerLaunchTabGroup"
			id="com.liferay.ide.server.portal.docker.launch.tab"
			type="com.liferay.ide.server.portal.docker.launch"
		>
		</launchConfigurationTabGroup>
	</extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages"
	>
		<launchConfigurationTypeImage
			configTypeID="com.liferay.ide.server.portal.docker.launch"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.server.portal.docker.launch.image"
		>
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages"
	>
		<page
			category="com.liferay.ide.ui.preferences.liferay"
			class="com.liferay.ide.gradle.ui.portal.docker.DockerServerPreferencePage"
			id="com.liferay.ide.gradle.ui.portal.docker.dockerServerPreferencePage"
			name="Docker Configuration"
		>
		</page>
	</extension>
	<extension
		point="org.eclipse.core.runtime.preferences"
	>
		<initializer class="com.liferay.ide.gradle.ui.portal.docker.DockerServerPreferenceInitializer" />
	</extension>
</plugin>