<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            category="com.liferay.ide.newWizards"
            finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
            icon="icons/e16/liferay_logo_16.png"
            id="com.liferay.ide.gradle.ui.workspace.newLiferayWorkspaceWizard"
            name="Liferay Workspace"
            preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
            project="true">
         <class class="com.liferay.ide.gradle.ui.workspace.NewLiferayWorkspaceWizard">
			<parameter name="liferay_project" value="true"/>
			<parameter name="menuIndex" value="12" />
         </class>
         <description>
            Create a new Liferay Workspace project for developing modules and themes for Liferay 7
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.liferay.ide.newWizards"
            finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferay"
            icon="icons/e16/bundle_new.png"
            id="com.liferay.ide.project.ui.newModuleFragmentWizard"
            name="Liferay Module Fragment Wizard"
            preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
            project="true">
         <class class="com.liferay.ide.gradle.ui.modules.NewModuleFragmentWizard">
            <parameter name="liferay_project" value="true"/>
            <parameter name="menuIndex" value="12" />
         </class>

         <description>
            %new.project.wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
         <wizard
            category="com.liferay.ide.projects.import"
            class="com.liferay.ide.gradle.ui.workspace.ImportLiferayWorkspaceWizard"
            icon="icons/e16/liferay_logo_16.png"
            id="com.liferay.ide.gradle.ui.workspace.workspaceImportWizard"
            name="Liferay Workspace">
         <description>
            import an existing Liferay Workspace
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/e16/liferay.png"
               id="liferayPopupMenuCategory"
               label="Liferay">
            <separator
                  name="slot1">
            </separator>
            <groupMarker
                  name="gradle">
            </groupMarker>
         </menu>
         <menu
               icon="icons/e16/liferay_logo_16.png"
               id="liferayPopupMenuGradleCategory"
               label="Gradle"
               path="liferayPopupMenuCategory/gradle">
            <groupMarker
                  name="build-lang">
            </groupMarker>
            <groupMarker
                  name="build-css">
            </groupMarker>
            <groupMarker
                  name="build-service">
            </groupMarker>
            <groupMarker
                  name="merge-lang">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.gradle.ui.gradle.popup"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.liferay.ide.gradle.action.BuildLangTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildLang"
               label="build-lang"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-lang">
         </action>
         <action
               class="com.liferay.ide.gradle.action.BuildCssTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildcss"
               label="build-css"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-css">
         </action>
         <action
               class="com.liferay.ide.gradle.action.BuildServiceTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildservice"
               label="build-service"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-service">
         </action>
         <action
               class="com.liferay.ide.gradle.action.MergeLangTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.mergelang"
               label="mergelang"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/mergelang">
         </action>
         <enablement>
               <adapt type="org.eclipse.core.resources.IResource">
                   <or>
                       <adapt type="org.eclipse.core.resources.IFile">
                           <test forcePluginActivation="true"
                               property="com.liferay.ide.gradle.ui.isBuildFile"
                               value="true" />
                       </adapt>
                       <and>
                            <adapt type="org.eclipse.core.resources.IProject">
                               <test forcePluginActivation="true"
                                   property="com.liferay.ide.gradle.ui.isGradleProject"
                                   value="true" />
                           </adapt>
                        </and>
                   </or>
               </adapt>
         </enablement>
      </objectContribution>
  </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.gradle.ui.GradleProjectPropertyTester"
            id="com.liferay.ide.gradle.ui.isGradleProject"
            namespace="com.liferay.ide.gradle.ui"
            properties="isGradleProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
      <propertyTester
            class="com.liferay.ide.gradle.ui.BuildFilePropertyTester"
            id="com.liferay.ide.gradle.ui.isBuildFile"
            namespace="com.liferay.ide.gradle.ui"
            properties="isBuildFile"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
            icon="icons/e16/liferay_logo_16.png"
            id="com.liferay.ide.gradle.ui.navigatorContent"
            labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionLabelProvider"
            name="Liferay Worksapce"
            priority="lowest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <commonWizard
               type="new"
               wizardId="com.liferay.ide.gradle.ui.workspace.newLiferayWorkspaceWizard">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or></enablement>
         </commonWizard>
         <commonWizard
               type="import"
               wizardId="com.liferay.ide.gradle.ui.workspace.workspaceImportWizard">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or></enablement>
         </commonWizard>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.liferay.ide.gradle.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/e16/liferay_logo_16.png"
               label="Liferay">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                    <or>
                      <adapt type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.extension" value="jspf" />
                       </adapt>
                      <adapt type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.extension" value="jsp" />
                      </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="com.liferay.ide.gradle.ui.handler.CompareFileCommand"
                  label="Compare With Original"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.liferay.ide.gradle.ui.handler.CompareFileHandler"
            id="com.liferay.ide.gradle.ui.handler.CompareFileCommand"
            name="CompareFileCommand">
      </command>
   </extension>
</plugin>
