<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.core.runtime.preferences"
	>
		<initializer
			class="com.liferay.ide.ui.pref.LiferayUIPreferenceInitializer"
		>
		</initializer>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages"
	>
		<page
			class="com.liferay.ide.ui.pref.LiferayUIPreferencePage"
			id="com.liferay.ide.ui.preferences.liferay"
			name="%liferay.preference.page.name"
		>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution adaptable="true" id="com.liferay.ide.ui.popupmenu" objectClass="org.eclipse.core.resources.IProject">
			<menu id="liferayPopupMenuCategory" label="%liferay.popup.menu.label">
				<separator name="slot1" />
			</menu>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.keywords"
	>
		<keyword
			id="com.liferay.ide.ui.keyword"
			label="%liferay.keyword.label"
		>
		</keyword>
	</extension>
	<extension
		point="org.eclipse.ui.perspectives"
	>
		<perspective
			class="com.liferay.ide.ui.LiferayWorkspacePerspectiveFactory"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			name="Liferay Workspace"
		>
		</perspective>
		<perspective
			class="com.liferay.ide.ui.LiferayPerspectiveFactory"
			icon="icons/liferay_legacy_logo_16.png"
			id="com.liferay.ide.eclipse.ui.perspective.liferay"
			name="Liferay Plugins (Legacy)"
		>
		</perspective>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions"
	>
		<perspectiveExtension
			targetID="org.eclipse.jst.j2ee.J2EEPerspective"
		>
			<actionSet
				id="com.liferay.ide.eclipse.ui.shortcuts.actionSet"
			>
			</actionSet>
			<perspectiveShortcut
				id="com.liferay.ide.eclipse.ui.perspective.liferay"
			>
			</perspectiveShortcut>
			<newWizardShortcut
				id="com.liferay.ide.project.ui.modules.NewLiferayComponentWizard"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.project.ui.newModuleFragmentFilesWizard"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.portlet"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.hook"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.servicebuilder"
			>
			</newWizardShortcut>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective"
		>
			<actionSet
				id="com.liferay.ide.eclipse.ui.shortcuts.actionSet"
			>
			</actionSet>
			<perspectiveShortcut
				id="com.liferay.ide.eclipse.ui.perspective.liferay"
			>
			</perspectiveShortcut>
			<newWizardShortcut
				id="com.liferay.ide.project.ui.modules.NewLiferayComponentWizard"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.project.ui.newModuleFragmentFilesWizard"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.portlet"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.hook"
			>
			</newWizardShortcut>
			<newWizardShortcut
				id="com.liferay.ide.eclipse.portlet.ui.wizard.servicebuilder"
			>
			</newWizardShortcut>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.startup"
	>
		<startup
			class="com.liferay.ide.ui.LiferayUIPlugin"
		>
		</startup>
	</extension>
	<extension
		point="org.eclipse.ui.editors"
	>
		<editor
			class="com.liferay.ide.ui.editor.LiferayPropertiesEditor"
			default="true"
			icon="icons/liferay_logo_16.png"
			id="com.liferay.ide.ui.editor.LiferayPortalPropertiesEditor"
			name="Liferay Portal Properties Editor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
		>
			<contentTypeBinding
				contentTypeId="com.liferay.ide.core.liferayportalpropertiesfile"
			>
			</contentTypeBinding>
		</editor>
	</extension>
	<extension
		point="org.eclipse.help.toc"
	>
		<toc
			file="toc.xml"
			primary="true"
		>
		</toc>
		<toc
			file="help/gettingstarted/getting-started-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/importing-existing-projects-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-projects-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/gettingstarted/getting-started-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/concepts/liferay-servers-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/concepts/remote-servers-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-liferay-plugin-projects-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-hooks-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-services-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-layout-templates-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-vaadin-portlets-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/creating-new-jsf-portlets-toc.xml"
			primary="false"
		>
		</toc>
		<toc
			file="help/tasks/using-remote-servers-toc.xml"
			primary="false"
		>
		</toc>
	</extension>
	<extension
		point="org.eclipse.ui.commands"
	>
		<command
			id="com.liferay.ide.ui.workspace.launchWorkspace"
			name="Launch Workspace"
		>
			<commandParameter
				id="workspaceLocation"
				name="workspaceLocation"
				optional="false"
			>
			</commandParameter>
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers"
	>
		<handler
			class="com.liferay.ide.ui.workspace.LaunchWorkspaceHandler"
			commandId="com.liferay.ide.ui.workspace.launchWorkspace"
		>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.menus"
	>
		<menuContribution
			allPopups="true"
			class="com.liferay.ide.ui.workspace.LaunchWorkspaceMenu"
			locationURI="menu:file?before=org.eclipse.ui.file.restartWorkbench"
		>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.preferenceTransfer"
	>
		<settingsTransfer
			class="com.liferay.ide.ui.workspace.WorkbenchPreferencesTransfer"
			id="com.liferay.ide.ui.workspace.WorkbenchPreferencesTransfer"
			name="Preferences"
		>
		</settingsTransfer>
	</extension>
</plugin>