<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.liferay.ide.newWizards"
            icon="icons/n16/liferay_android_new_16x16.png"
            id="com.liferay.ide.adt.ui.newLiferayAndroidWizard"
            name="Liferay Android Sample Project"
            project="true">
         <class class="com.liferay.ide.adt.ui.NewLiferayAndroidProjectWizard">
            <parameter name="liferay_project" value="true"/>
            <parameter name="menuIndex" value="12" />
         </class>
         <description>
            Create a new Android sample project configured as Liferay client
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.liferay.ide.ui.preferences.liferay"
            class="com.liferay.ide.adt.ui.MobileSDKPreferencePage"
            id="com.liferay.ide.adt.ui.MobileSDKPreferencePage"
            name="Mobile SDK">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.liferay.ide.eclipse.ui.perspective.liferay">
         <newWizardShortcut
               id="com.liferay.ide.adt.ui.newLiferayAndroidWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.adt.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.liferay.ide.adt.ui.actions.AddLiferayMobileSdkLibrariesAction"
               icon="icons/e16/liferay_android_16x16.png"
               id="com.liferay.ide.adt.ui.add.liferay.mobile.sdk.libraries.action"
               label="Add Liferay Mobile Sdk Libraries"
               menubarPath="liferayPopupMenuCategory/slot1"
               tooltip="Add Liferay mobile SDK Libraries">
         </action>
         <enablement>
          <adapt type="org.eclipse.core.resources.IProject">
               <test forcePluginActivation="true"
                   property="com.liferay.ide.adt.ui.isNonLiferayAndroidProject" />
           </adapt>
         </enablement>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.adt.ui.IsNonLiferayAndroidProjectTester"
            id="com.liferay.ide.adt.ui.isNonLiferayAndroidProject"
            namespace="com.liferay.ide.adt.ui"
            properties="isNonLiferayAndroidProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>

</plugin>
