<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.liferay.ide.project.core.upgradeLiferayProjectActions">
      <upgradeLiferayProjectAction
            class="com.liferay.ide.alloy.core.util.UpgradeLiferayProjectAlloyAction"
            upgradeActionType="AlloyUIExecute"
            id="com.liferay.ide.alloy.core.upgradeLiferayProjectAlloyAction">
      </upgradeLiferayProjectAction>
   </extension>

</plugin>
