<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tern.eclipse.ide.core.ternNatureAdapters">
      <ternAdaptToNature
            class="com.liferay.ide.jsdt.core.LiferayProjectTernAdapter"
            facetId="liferay.plugin"
            id="com.liferay.ide.jsdt.core.ternAdapter"
            name="Liferay Project Tern Adapter">
         <defaultModules>
            <module
                  name="aui"
                  withDependencies="true">
            </module>
            <module
                  name="liferay"
                  withDependencies="true">
            </module>
            <module
                  name="yui"
                  withDependencies="true">
            </module>
         </defaultModules>
      </ternAdaptToNature>
   </extension>
</plugin>
