<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/aws-box.gif"
            id="com.liferay.ide.eclipse.server.aws.ui.runtime.image"
            typeIds="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6">
      </image>
      <image
            icon="icons/aws-box.gif"
            id="com.liferay.ide.eclipse.server.aws.ui.image"
            typeIds="com.liferay.ide.eclipse.server.aws.beanstalk.v6">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.liferay.ide.eclipse.server.aws.ui.wizard.BeanstalkRuntimeWizardFragment"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6"
            typeIds="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6">
      </fragment>
      <fragment
            class="com.liferay.ide.eclipse.server.aws.ui.wizard.BeanstalkServerWizardFragment"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.v6"
            typeIds="com.liferay.ide.eclipse.server.aws.beanstalk.v6">
      </fragment>
   </extension>

	<extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.aws.ui.BeanstalkFacetRuntimeComponentLabelProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.aws.ui.BeanstalkRuntimeDecorationsProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IDecorationsProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/aws-box.gif"
            runtime-component-type="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.liferay.ide.eclipse.server.aws.beanstalk.v6.launchConfigurationType"
            icon="icons/aws-box.gif"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.v6.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.liferay.ide.eclipse.server.aws.ui.BeanstalkLaunchConfigTabGroup"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.v6.ui.launchConfigurationTabGroup"
            type="com.liferay.ide.eclipse.server.aws.beanstalk.v6.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
