<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="com.liferay.ide.project.ui.newWizards"
		point="org.eclipse.ui.newWizards"
	>
		<category
			id="com.liferay.ide.newWizards"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.newWizards"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.modules.NewLiferayComponentWizard"
			name="Liferay Component Class"
		>
			<class class="com.liferay.ide.project.ui.modules.NewLiferayComponentWizard">
				<parameter name="liferay_artifact" value="true" />
				<parameter name="menuIndex" value="1" />
			</class>
			<description>
			Create a new Liferay Component Class.
			</description>
		</wizard>
		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.newModuleExtFilesWizard"
			name="Liferay Module Ext Files"
		>
			<class
				class="com.liferay.ide.project.ui.modules.ext.NewModuleExtFilesWizard"
			>
				<parameter name="liferay_artifact" value="false" />
				<parameter name="menuIndex" value="2" />
			</class>
			<description>
				Create a project for developing Liferay Module Ext Files to deploy to Liferay Portal Server
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>

		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.newModuleFragmentFilesWizard"
			name="Liferay Module Fragment Files"
		>
			<class class="com.liferay.ide.project.ui.modules.fragment.NewModuleFragmentFilesWizard">
				<parameter name="liferay_artifact" value="false" />
				<parameter name="menuIndex" value="3" />
			</class>
			<description>
				Create a project for developing Liferay Module Fragment Files to deploy to Liferay Portal Server
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>

		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/liferay_faces_new.png"
			id="com.liferay.ide.project.ui.newJsfModuleProjectWizard"
			name="Liferay JSF Project"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.modules.NewLiferayJSFModuleProjectWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="1" />
			</class>

			<description>
			%new.project.wizard.description
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>

		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.newModuleProjectWizard"
			name="Liferay Module Project"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.modules.NewLiferayModuleProjectWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="2" />
			</class>

			<description>
			%new.project.wizard.description
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>

		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.newModuleExtWizard"
			name="Liferay Module Ext Project"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.modules.ext.NewModuleExtWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="3" />
			</class>

			<description>
			%new.project.wizard.description
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>

		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.newModuleFragmentWizard"
			name="Liferay Module Project Fragment"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.modules.fragment.NewModuleFragmentWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="4" />
			</class>

			<description>
			Create a project for developing Liferay Module to deploy to Liferay Portal Server
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>
		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferay"
			icon="icons/n16/portletMVC4Spring_16x16_new.png"
			id="com.liferay.ide.project.ui.newSpringMVCPortletProjectWizard"
			name="Liferay Spring MVC Portlet Project"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.springmvcportlet.NewSpringMVCPortletProjectWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="1" />
			</class>

			<description>
			Creates a new Liferay Spring MVC Portlet project for deploy to Liferay Portal
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>
		<wizard
			category="com.liferay.ide.newWizards"
			finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			icon="icons/n16/liferay_new.png"
			id="com.liferay.ide.project.ui.workspace.newLiferayWorkspaceWizard"
			name="Liferay Workspace Project"
			preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
			project="true"
		>
			<class class="com.liferay.ide.project.ui.workspace.NewLiferayWorkspaceWizard">
				<parameter name="liferay_project" value="true" />
				<parameter name="menuIndex" value="5" />
			</class>
			<description>
			Create a new Liferay Workspace project for developing modules and themes for Liferay 7
			</description>
			<selection
				class="org.eclipse.core.resources.IResource"
			>
			</selection>
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.importWizards"
	>
		<wizard
			category="com.liferay.ide.projects.import"
			class="com.liferay.ide.project.ui.workspace.ImportLiferayWorkspaceWizard"
			icon="icons/e16/liferay_logo_16.png"
			id="com.liferay.ide.project.ui.workspace.workspaceImportWizard"
			name="Liferay Workspace Project"
		>
			<description>
			Import an existing Liferay Workspace
			</description>
		</wizard>
	</extension>

	<extension
		point="org.eclipse.ui.propertyPages"
	>
		<page
			class="com.liferay.ide.project.ui.LiferayProjectPropertyPage"
			id="com.liferay.ide.project.ui.properties"
			name="%liferay.page.name"
		>
			<enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject"
				>
					<test
						property="com.liferay.ide.project.ui.isLiferayProject"
					>
					</test>
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.propertyPages"
	>
		<page
			category="com.liferay.ide.project.ui.properties"
			class="com.liferay.ide.project.ui.pref.PluginValidationSettingsPage"
			id="com.liferay.ide.project.ui.propertyPage.validation"
			name="%plugin.validation.page.name"
		>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="com.liferay.ide.project.ui.isLiferayProject">
					</test>
				</adapt>
			</enabledWhen>
		</page>
	</extension>

	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.project.ui.LiferayProjectPropertyTester"
			id="com.liferay.ide.project.ui.isLiferayProject"
			namespace="com.liferay.ide.project.ui"
			properties="isLiferayProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.ui.ProjectNaturePropertyTester"
			id="com.liferay.ide.project.ui.hasNature"
			namespace="com.liferay.ide.project.ui"
			properties="hasNature"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.ui.NotLiferayProjectInSDKPropertyTester"
			id="com.liferay.ide.project.ui.notLiferayProjectInSDK"
			namespace="com.liferay.ide.project.ui"
			properties="notLiferayProjectInSDK"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.ui.ModuleExtPropertyTester"
			id="com.liferay.ide.project.ui.isModuleExtProject"
			namespace="com.liferay.ide.project.ui"
			properties="isModuleExtProject"
			type="org.eclipse.core.resources.IResource"
		>
		</propertyTester>
		<propertyTester
			class="com.liferay.ide.project.ui.ModuleFragmentPropertyTester"
			id="com.liferay.ide.project.ui.isModuleFragmentProject"
			namespace="com.liferay.ide.project.ui"
			properties="isModuleFragmentProject"
			type="org.eclipse.core.resources.IResource"
		>
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ui.keywords"
	>
		<keyword
			id="com.liferay.ide.project.ui.keyword"
			label="%liferay.keyword.label"
		>
		</keyword>
	</extension>
	<extension
		point="org.eclipse.ui.importWizards"
	>
		<category
			id="com.liferay.ide.projects.import"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.projects.import"
			class="com.liferay.ide.project.ui.modules.ImportLiferayModuleProjectWizard"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.modules.ImportLiferayModuleProjectWizard"
			name="Liferay Module Project(s)"
		>
			<description>
			Import existing liferay module project(s)
			</description>
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.project.ui.addLiferayNature"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<action
				class="com.liferay.ide.project.ui.action.AddLiferayNatureAction"
				icon="icons/e16/liferay_logo_16.png"
				id="com.liferay.ide.project.ui.action.AddLiferayNatureAction"
				label="Add Liferay Project Nature"
				menubarPath="org.eclipse.ui.projectConfigure/additions"
			>
			</action>
			<visibility>
				<and>
					<objectState name="open" value="true" />
					<or>
						<objectState name="nature" value="org.eclipse.m2e.core.maven2Nature" />
						<objectState name="nature" value="org.eclipse.buildship.core.gradleprojectnature" />
					</or>
					<not>
						<objectState name="nature" value="com.liferay.ide.core.liferayNature" />
					</not>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.ui.popupmenu"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="%liferay.menu.label"
			>
				<separator name="slot1" />
			</menu>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="org.eclipse.compare.ext.objectContribution"
			objectClass="org.eclipse.core.resources.IResource"
		>
			<action
				class="com.liferay.ide.project.ui.action.CompareOriginalImplementationAction"
				enablesFor="1"
				id="com.liferay.ide.project.ui.action.compareOriginalImplementation"
				label="%compare.with.action.label"
				menubarPath="compareWithMenu/compareWithGroup"
			>
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IResource">
					<or>
						<adapt type="org.eclipse.core.resources.IFile">
							<test
								property="com.liferay.ide.project.ui.isModuleFragmentProject"
							/>
						</adapt>
						<adapt type="org.eclipse.core.resources.IFile">
							<test
								property="com.liferay.ide.project.ui.isModuleExtProject"
							/>
						</adapt>
					</or>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>

	<extension
		point="org.eclipse.wst.common.project.facet.ui.images"
	>
		<image
			category="liferay.plugins"
			facet="liferay.portlet"
			path="icons/e16/portlet.png"
		>
		</image>
		<image
			category="liferay.plugins"
			facet="liferay.hook"
			path="icons/e16/hook.png"
		>
		</image>
		<image
			category="liferay.plugins"
			facet="liferay.ext"
			path="icons/e16/ext.png"
		>
		</image>
		<image
			category="liferay.plugins"
			facet="liferay.web"
			path="icons/e16/web.png"
		>
		</image>
		<image
			category="liferay.plugins"
			facet="liferay.theme"
			path="icons/e16/theme.png"
		>
		</image>
		<image
			category="liferay.plugins"
			path="icons/liferay_logo_16.png"
		>
		</image>
	</extension>

	<extension
		point="org.eclipse.ui.decorators"
	>
		<decorator
			adaptable="true"
			class="com.liferay.ide.project.ui.LiferayPluginProjectDecorator"
			id="com.liferay.ide.project.ui.PluginProjectDecorator"
			label="%plugin.project.decorator.label"
			lightweight="true"
			location="TOP_RIGHT"
			state="true"
		>
			<enablement>
				<or>
					<objectClass name="org.eclipse.core.resources.IProject" />
					<objectClass name="org.eclipse.jdt.core.IJavaProject" />
				</or>
			</enablement>
			<description>
			%plugin.project.decorator.description
			</description>
		</decorator>
	</extension>

	<extension
		point="org.eclipse.ui.actionSets"
	>
		<actionSet
			id="com.liferay.ide.eclipse.ui.shortcuts.actionSet"
			label="%ide.actions.label"
		>
			<action
				class="com.liferay.ide.project.ui.action.NewProjectDropDownAction"
				icon="icons/n16/server_new.png"
				id="com.liferay.ide.ui.action.newProject"
				label="%new.project.action.label"
				style="pulldown"
				toolbarPath="Normal/Liferay"
				tooltip="%new.project.action.tooltip"
			>
			</action>
		</actionSet>
		<actionSet
			id="com.liferay.ide.eclipse.ui.shortcuts.plugin.actionSet"
			label="%ide.actions.label"
		>
			<action
				class="com.liferay.ide.project.ui.action.NewProjectDropDownAction"
				icon="icons/n16/server_new.png"
				id="com.liferay.ide.ui.action.newPluginProject"
				label="%new.project.action.label"
				style="pulldown"
				toolbarPath="Normal/Liferay"
				tooltip="%new.plugin.project.action.tooltip"
			>
			</action>
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.ide.markerResolution"
	>
		<markerResolutionGenerator
			class="com.liferay.ide.project.ui.LiferayProjectMarkerResolutionGenerator"
			markerType="com.liferay.ide.project.core.LiferayProjectMarker"
		>
		</markerResolutionGenerator>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages"
	>
		<page
			category="com.liferay.ide.ui.preferences.liferay"
			class="com.liferay.ide.project.ui.pref.PluginValidationSettingsPage"
			id="com.liferay.ide.project.ui.pluginValidationSettingsPage"
			name="%plugin.validation.page.name"
		>
		</page>
		<!--
		<page
			category="com.liferay.ide.ui.preferences.liferay"
			class="com.liferay.ide.project.ui.pref.TargetPlatformSettingsPage"
			id="com.liferay.ide.project.ui.targetPlatformSettingsPage"
			name="Target Platform"
		>
		</page>
		-->
	</extension>

	<extension
		point="org.eclipse.ui.commands"
	>
		<category
			description="Liferay Commands"
			id="com.liferay.ide.project.ui.handlers"
			name="Liferay Commands"
		>
		</category>
	</extension>

	<extension
		point="org.eclipse.ui.commands"
	>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Compare File"
			id="com.liferay.ide.project.ui.sdk.command.CompareFile"
			name="Compare File"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="All SDK command"
			id="com.liferay.ide.project.ui.sdk.command.all"
			name="All SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build Client SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildClient"
			name="Build Client SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build CSS SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildCSS"
			name="Build CSS SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build DB SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildDB"
			name="Build DB SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build Lang SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildLang"
			name="Build Lang SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build Service SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildService"
			name="Build Service SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Build WSDD SDK command"
			id="com.liferay.ide.project.ui.sdk.command.buildWSDD"
			name="Build WSDD SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Clean SDK command"
			id="com.liferay.ide.project.ui.sdk.command.clean"
			name="Clean SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Compile SDK command"
			id="com.liferay.ide.project.ui.sdk.command.compile"
			name="Compile SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Compile Test SDK command"
			id="com.liferay.ide.project.ui.sdk.command.compileTest"
			name="Compile Test SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Deploy SDK command"
			id="com.liferay.ide.project.ui.command.deploy"
			name="Deploy SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Direct Deploy SDK command"
			id="com.liferay.ide.project.ui.sdk.command.directDeploy"
			name="Direct Deploy SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Format Source SDK command"
			id="com.liferay.ide.project.ui.sdk.command.formateSource"
			name="Format Source SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Merge SDK command"
			id="com.liferay.ide.project.ui.sdk.command.merge"
			name="Merge SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="Test SDK command"
			id="com.liferay.ide.project.ui.sdk.command.test"
			name="Test SDK Command"
		>
		</command>
		<command
			categoryId="com.liferay.ide.project.ui.handlers"
			description="War SDK command"
			id="com.liferay.ide.project.ui.command.war"
			name="War SDK Command"
		>
		</command>
	</extension>

	<extension
		point="org.eclipse.ui.handlers"
	>
		<handler
			class="com.liferay.ide.project.ui.handlers.CompareFileHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.CompareFile"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.AllSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.all"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildClientSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildClient"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildCssSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildCSS"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildDBSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildDB"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildLangSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildLang"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildServiceSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildService"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.BuildWSDDSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.buildWSDD"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.CleanSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.clean"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.CompileSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.compile"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.CompileTestSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.compileTest"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.DeploySDKHandler"
			commandId="com.liferay.ide.project.ui.command.deploy"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.DirectDeploySDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.directDeploy"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.FormatSourceSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.formateSource"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.MergeSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.merge"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.TestSDKHandler"
			commandId="com.liferay.ide.project.ui.sdk.command.test"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.WarSDKHandler"
			commandId="com.liferay.ide.project.ui.command.war"
		>
		</handler>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command
			description="Liferay Develper Network"
			id="com.liferay.ide.project.ui.developerNetwork"
			name="Liferay Develper Network"
		/>
		<command
			description="Liferay Community Forums"
			id="com.liferay.ide.project.ui.communityForums"
			name="Liferay Community Forums"
		/>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
		<image
			commandId="com.liferay.ide.project.ui.developerNetwork"
			icon="icons/e16/liferay_logo_16.png"
		/>
		<image
			commandId="com.liferay.ide.project.ui.communityForums"
			icon="icons/e16/liferay_logo_16.png"
		/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.liferay.ide.project.ui.handlers.DeveloperNetwork"
			commandId="com.liferay.ide.project.ui.developerNetwork"
		>
		</handler>
		<handler
			class="com.liferay.ide.project.ui.handlers.CommunityForums"
			commandId="com.liferay.ide.project.ui.communityForums"
		>
		</handler>
	</extension>

	<extension
		point="org.eclipse.ui.navigator.navigatorContent"
	>
		<navigatorContent
			activeByDefault="true"
			contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.wizards.content"
			labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionLabelProvider"
			name="Liferay Module Project"
			priority="lowest"
		>
			<triggerPoints>
				<or>
					<instanceof
						value="org.eclipse.core.resources.IResource"
					>
					</instanceof>
				</or>
			</triggerPoints>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.modules.NewLiferayComponentWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newModuleExtFilesWizard"
			>
				<enablement>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							forcePluginActivation="true"
							property="com.liferay.ide.project.ui.isModuleExtProject"
							value="true"
						/>
					</adapt>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newModuleFragmentFilesWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newModuleProjectWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newJsfModuleProjectWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newModuleExtWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newModuleFragmentWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.workspace.newLiferayWorkspaceWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or></enablement>
			</commonWizard>
			<commonWizard
				type="import"
				wizardId="com.liferay.ide.project.ui.modules.ImportLiferayModuleProjectWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard
				type="import"
				wizardId="com.liferay.ide.project.ui.workspace.workspaceImportWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or></enablement>
			</commonWizard>
		</navigatorContent>
		<navigatorContent
			activeByDefault="true"
			contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
			icon="icons/n16/bundle_new.png"
			id="com.liferay.ide.project.ui.wizards.plugincontent"
			labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionLabelProvider"
			name="Liferay Plugin Project"
			priority="lowest"
		>
			<triggerPoints>
				<or>
					<instanceof
						value="org.eclipse.core.resources.IResource"
					>
					</instanceof>
				</or>
			</triggerPoints>
			<commonWizard
				type="new"
				wizardId="com.liferay.ide.project.ui.newPluginProjectWizard"
			>
				<enablement>
					<or>
						<instanceof
							value="org.eclipse.core.resources.IResource"
						>
						</instanceof>
						<and>
							<instanceof
								value="java.util.Collection"
							>
							</instanceof>
							<count
								value="0"
							>
							</count>
						</and>
					</or>
				</enablement>
			</commonWizard>
		</navigatorContent>
	</extension>

	<extension
		point="org.eclipse.ui.navigator.viewer"
	>
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.PackagetExplorer"
		>
			<includes>
				<contentExtension pattern="com.liferay.ide.project.ui.wizards.plugincontent" />
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer"
	>
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.ProjectExplorer"
		>
			<includes>
				<contentExtension
					pattern="com.liferay.ide.project.ui.wizards.content"
				>
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.ui.menus"
	>
		<menuContribution
			allPopups="false"
			locationURI="menu:help?after=additions"
		>
			<command
				commandId="com.liferay.ide.project.ui.developerNetwork"
				label="Liferay Developer Network"
				style="push"
				tooltip="Liferay Developer Network"
			>
			</command>
			<command
				commandId="com.liferay.ide.project.ui.communityForums"
				label="Liferay Community Forums"
				style="push"
				tooltip="Liferay Community Forums"
			>
			</command>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.menus"
	>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?after=additions"
		>
			<menu
				icon="icons/e16/liferay_logo_16.png"
				label="Liferay"
			>
				<visibleWhen
					checkEnabled="false"
				>
					<or>
						<with
							variable="activeMenuSelection"
						>
							<count value="1"></count>
							<reference definitionId="com.liferay.comparetheme.definition" />
						</with>
						<with
							variable="activeMenuEditorInput"
						>
							<reference definitionId="com.liferay.comparetheme.definition" />
						</with>
					</or>
				</visibleWhen>
				<command
					commandId="com.liferay.ide.project.ui.sdk.command.CompareFile"
					label="Compare With Original"
					style="push"
				>
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.liferay.comparetheme.definition">
			<iterate>
				<or>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.extension" value="ftl" />
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.extension" value="vm" />
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.extension" value="css" />
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.extension" value="scss" />
					</adapt>
				</or>
			</iterate>
		</definition>
	</extension>
	<extension
		id="component.properties.proposal"
		name="OSGI Component Properties Proposal Computer"
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	>
		<proposalCategory icon="icons/liferay_logo_16.png" />
	</extension>
	<extension
		id="component.properties.proposal.computer"
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	>
		<javaCompletionProposalComputer
			activate="true"
			categoryId="component.properties.proposal"
			class="com.liferay.ide.project.ui.jdt.ComponentPropertiesCompletionProposalComputer"
			needsSortingAfterFiltering="false"
		>
		</javaCompletionProposalComputer>
	</extension>
	<extension
		point="org.eclipse.ui.editors.templates"
	>
		<include
			file="templates/java-templates-components.xml"
		>
		</include>
		<include
			file="templates/java-templates-refrence.xml"
		>
		</include>
	</extension>
</plugin>