<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.wst.server.core.runtimeTypes"
	>
		<runtimeType
			class="com.liferay.ide.server.tomcat.core.Liferay62TomcatRuntime70"
			description="%liferay.v62.tomcat70.runtime.type.description"
			id="com.liferay.ide.server.62.tomcat.runtime.70"
			name="%liferay.v62.tomcat70.runtime.type.name"
			vendor="Liferay, Inc."
			version="6.2"
		>
			<moduleType
				types="jst.web"
				versions="2.3,2.4,2.5,3.0"
			>
			</moduleType>
			<moduleType
				types="jst.utility"
				versions="1.0"
			>
			</moduleType>
		</runtimeType>
	</extension>
	<extension
		point="org.eclipse.jst.server.core.runtimeClasspathProviders"
	>
		<runtimeClasspathProvider
			class="com.liferay.ide.server.tomcat.core.LiferayTomcatRuntimeClasspathProvider"
			id="com.liferay.ide.eclipse.server.tomcat.runtimeClasspathProvider"
			runtimeTypeIds="com.liferay.ide.eclipse.server.tomcat.runtime.60,com.liferay.ide.eclipse.server.tomcat.runtime.70,com.liferay.ide.server.62.tomcat.runtime.70"
		>
		</runtimeClasspathProvider>
	</extension>
	<extension
		point="org.eclipse.wst.server.core.serverTypes"
	>
		<serverType
			behaviourClass="com.liferay.ide.server.tomcat.core.LiferayTomcatServerBehavior"
			class="com.liferay.ide.server.tomcat.core.LiferayTomcatServer"
			description="%liferay.v62.tomcat70.server.type.description"
			hasConfiguration="true"
			id="com.liferay.ide.eclipse.server.tomcat.7062"
			initialState="stopped"
			launchConfigId="com.liferay.ide.server.62.tomcat.70.launchConfigurationType"
			name="%liferay.v62.tomcat70.server.type.name"
			runtime="true"
			runtimeTypeId="com.liferay.ide.server.62.tomcat.runtime.70"
			startTimeout="900000"
			stopTimeout="300000"
			supportsRemoteHosts="false"
		>
		</serverType>
	</extension>
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes"
	>
		<launchConfigurationType
			delegate="com.liferay.ide.server.tomcat.core.LiferayTomcatLaunchConfigDelegate"
			id="com.liferay.ide.server.62.tomcat.70.launchConfigurationType"
			modes="run, debug, profile"
			name="%liferay.v62.tomcat70.launch.config.type.name"
			sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
			sourcePathComputerId="com.liferay.ide.server.tomcat.sourcePathComputer"
		>
		</launchConfigurationType>
	</extension>
	<extension
		point="org.eclipse.debug.core.sourcePathComputers"
	>
		<sourcePathComputer
			class="org.eclipse.jst.server.tomcat.core.internal.TomcatSourcePathComputerDelegate"
			id="com.liferay.ide.server.tomcat.sourcePathComputer"
		>
		</sourcePathComputer>
		<sourcePathComputer
			class="com.liferay.ide.server.tomcat.core.LiferayTomcatSourcePathComputer"
			id="com.liferay.ide.server.tomcat.portalSourcePathComputer"
		>
		</sourcePathComputer>
	</extension>

	<extension
		point="org.eclipse.wst.server.core.publishTasks"
	>
		<publishTask
			class="com.liferay.ide.server.tomcat.core.LiferayPublishTask"
			id="com.liferay.ide.server.tomcat.publishTask"
			typeIds="com.liferay.ide.eclipse.server.tomcat.*,com.liferay.ide.server.62.tomcat.70"
		>
		</publishTask>
	</extension>
	<extension
		point="org.eclipse.wst.server.core.launchableAdapters"
	>
		<launchableAdapter
			class="org.eclipse.jst.server.tomcat.core.internal.TomcatLaunchableAdapterDelegate"
			id="com.liferay.ide.server.tomcat.web"
		>
		</launchableAdapter>
	</extension>
	<extension
		point="org.eclipse.wst.common.project.facet.core.runtimes"
	>
		<runtime-component-type
			id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
		>
		</runtime-component-type>
		<runtime-component-version
			type="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			version="6.0"
		>
		</runtime-component-version>
		<runtime-component-version
			type="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			version="7.0"
		>
		</runtime-component-version>
		<adapter>
			<runtime-component
				id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			>
			</runtime-component>
			<factory
				class="com.liferay.ide.server.tomcat.core.RuntimeClasspathFactory"
			>
			</factory>
			<type
				class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"
			>
			</type>
		</adapter>
		<supported>
			<runtime-component
				id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
				version="6.0"
			>
			</runtime-component>
			<facet
				id="jst.web"
				version="2.3,2.4,2.5"
			>
			</facet>
			<facet
				id="jst.utility"
				version="1.0"
			>
			</facet>
			<facet
				id="liferay.portlet"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.hook"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.ext"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.layouttpl"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.theme"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.web"
				version="6.0"
			>
			</facet>
		</supported>
		<supported>
			<runtime-component
				id="com.liferay.ide.eclipse.server.tomcat.runtime.component"
				version="7.0"
			>
			</runtime-component>
			<facet
				id="jst.web"
				version="2.3,2.4,2.5,3.0"
			>
			</facet>
			<facet
				id="jst.utility"
				version="1.0"
			>
			</facet>
			<facet
				id="liferay.portlet"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.hook"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.ext"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.layouttpl"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.theme"
				version="6.0"
			>
			</facet>
			<facet
				id="liferay.web"
				version="6.0"
			>
			</facet>
		</supported>
	</extension>
	<extension
		point="org.eclipse.jst.server.core.runtimeFacetMappings"
	>
		<runtimeFacetMapping
			runtime-component="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
			version="6.0"
		>
		</runtimeFacetMapping>
		<runtimeFacetMapping
			runtime-component="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.70"
			version="7.0"
		>
		</runtimeFacetMapping>
		<runtimeFacetMapping
			runtime-component="com.liferay.ide.eclipse.server.tomcat.runtime.component"
			runtimeTypeId="com.liferay.ide.server.62.tomcat.runtime.70"
			version="7.0"
		>
		</runtimeFacetMapping>
	</extension>

	<extension
		point="com.liferay.ide.server.core.pluginPublishers"
	>
		<liferayPluginPublisher
			class="com.liferay.ide.server.tomcat.core.TomcatExtPluginPublisher"
			facetId="liferay.ext"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
		>
		</liferayPluginPublisher>
		<liferayPluginPublisher
			class="com.liferay.ide.server.tomcat.core.TomcatExtPluginPublisher"
			facetId="liferay.ext"
			runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.70"
		>
		</liferayPluginPublisher>
		<liferayPluginPublisher
			class="com.liferay.ide.server.tomcat.core.TomcatExtPluginPublisher"
			facetId="liferay.ext"
			runtimeTypeId="com.liferay.ide.server.62.tomcat.runtime.70"
		>
		</liferayPluginPublisher>
	</extension>
	<extension
		point="com.liferay.ide.server.core.runtimeStubs"
	>
		<liferayRuntimeStub
			name="Liferay v6.2 (Tomcat 7) Bundle"
			runtimeTypeId="com.liferay.ide.server.62.tomcat.runtime.70"
		>
		</liferayRuntimeStub>
	</extension>
	<extension
		point="org.eclipse.debug.core.sourceLocators"
	>
		<sourceLocator
			class="com.liferay.ide.server.core.PortalSourceLookupDirector"
			id="com.liferay.ide.server.tomcat.sourceLookupDirector"
			name="%liferay.portal.source.locator.name"
		>
		</sourceLocator>
	</extension>
</plugin>