<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.wst.common.project.facet.core.facets"
	>
		<project-facet
			id="liferay.layouttpl"
		>
			<label>
			Liferay Layout Template
			</label>
			<description>
			Layout template plugin for Liferay portal. Facet version corresponds to Liferay version.
			</description>
			<member
				category="liferay.plugins"
			>
			</member>
			<default-version
				version="6.0"
			>
			</default-version>
		</project-facet>
		<project-facet-version
			facet="liferay.layouttpl"
			version="6.0"
		>
			<constraint>
				<and>
					<requires
						facet="jst.web"
						version="[2.3"
					>
					</requires>
					<requires
						facet="jst.java"
						version="[1.5"
					>
					</requires>
				</and>
			</constraint>
		</project-facet-version>
		<action
			facet="liferay.layouttpl"
			id="liferay.layouttpl.install"
			type="INSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetInstall"
			>
			</delegate>
			<config-factory
				class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetInstallDataModelProvider"
			>
			</config-factory>
		</action>
		<action
			facet="liferay.layouttpl"
			id="liferay.layouttpl.uninstall"
			type="UNINSTALL"
			version="[6.0"
		>
			<delegate
				class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetUninstall"
			>
			</delegate>
		</action>
		<template
			id="liferay.layouttpl.template"
		>
			<label>
			Liferay Layout Template Plugin Project
			</label>
			<fixed
				facet="jst.java"
			>
			</fixed>
			<fixed
				facet="jst.web"
			>
			</fixed>
			<fixed
				facet="liferay.layouttpl"
			>
			</fixed>
		</template>
	</extension>

	<extension
		point="org.eclipse.wst.common.project.facet.core.presets"
	>
		<static-preset
			id="liferay.layouttpl.preset"
		>
			<label>
			Liferay layout template plugin 6.0 preset
			</label>
			<description>
			Preset for Liferay 6.0 layout template plugin
			</description>
			<facet
				id="jst.java"
				version="1.8"
			>
			</facet>
			<facet
				id="jst.web"
				version="3.0"
			>
			</facet>
			<facet
				id="liferay.layouttpl"
				version="6.0"
			>
			</facet>
		</static-preset>

	</extension>

	<extension
		point="org.eclipse.jst.common.project.facet.core.libraryProviders"
	>
		<provider
			id="com.liferay.ide.eclipse.plugin.layouttpl.libraryProvider"
		>
			<label>
			Liferay layouttpl plugin library
			</label>
			<enablement>
				<with
					variable="requestingProjectFacet"
				>
					<test
						forcePluginActivation="true"
						property="org.eclipse.wst.common.project.facet.core.projectFacet"
						value="liferay.layouttpl"
					>
					</test>
				</with>
			</enablement>
			<action
				type="INSTALL"
			>
				<operation
					class="com.liferay.ide.project.core.library.SDKClasspathContainerInstallOperation"
				>
				</operation>
				<config
					class="org.eclipse.jst.common.project.facet.core.libprov.LibraryProviderOperationConfig"
				>
				</config>
			</action>
		</provider>
	</extension>

	<extension
		point="org.eclipse.core.contenttype.contentTypes"
	>
		<file-association
			content-type="org.eclipse.wst.html.core.htmlsource"
			file-extensions="tpl"
		>
		</file-association>
		<content-type
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			describer="com.liferay.ide.layouttpl.core.descriptor.LayoutTplContentDescriber"
			file-names="liferay-layout-templates.xml"
			id="liferaylayouttplxml"
			name="%layout.content.type.name"
			priority="high"
		>
		</content-type>
	</extension>

	<extension
		point="com.liferay.ide.core.templateDefinitions"
	>
		<template
			id="com.liferay.ide.layouttpl.core.layoutTemplate.legacy"
			name="Legacy Layout Template"
			resource="layouttpl_legacy.ftl"
		>
		</template>
		<templatesFolder
			path="templates/"
		>
		</templatesFolder>
		<templateVariable
			name="root"
			required="true"
		>
		</templateVariable>
	</extension>
	<extension
		point="com.liferay.ide.core.templateDefinitions"
	>
		<template
			id="com.liferay.ide.layouttpl.core.layoutTemplate.bootstrap"
			name="Bootstrap Layout Template"
			resource="layouttpl_bootstrap.ftl"
		>
		</template>
		<templatesFolder
			path="templates/"
		>
		</templatesFolder>
		<templateVariable
			name="root"
			required="true"
		>
		</templateVariable>
	</extension>

</plugin>