<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
          <project-facet
            id="liferay.layouttpl">
         <label>
            Liferay Layout Template
         </label>
         <description>
            Layout template plugin for Liferay portal.  Facet version cooresponds to Liferay version.
         </description>
         <member
               category="liferay.plugins">
         </member>
         <default-version
               version="6.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="liferay.layouttpl"
            version="6.0">
         <constraint>
            <and>
               <requires
                     facet="jst.web"
                     version="[2.3">
               </requires>
               <requires
                     facet="jst.java"
                     version="[1.5">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <action
            facet="liferay.layouttpl"
            id="liferay.layouttpl.install"
            type="INSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetInstall">
         </delegate>
         <config-factory
               class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="liferay.layouttpl"
            id="liferay.layouttpl.uninstall"
            type="UNINSTALL"
            version="[6.0">
         <delegate
               class="com.liferay.ide.layouttpl.core.facet.LayoutTplPluginFacetUninstall">
         </delegate>
      </action>
      <template
            id="liferay.layouttpl.template">
         <label>
            Liferay Layout Template Plugin Project
         </label>
         <fixed
               facet="jst.java">
         </fixed>
         <fixed
               facet="jst.web">
         </fixed>
         <fixed
               facet="liferay.layouttpl">
         </fixed>
      </template>
   </extension>

   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            id="liferay.layouttpl.preset">
         <label>
            Liferay layout template plugin 6.0 preset
         </label>
         <description>
            Preset for Liferay 6.0 layout template plugin
         </description>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="liferay.layouttpl"
               version="6.0">
         </facet>
      </static-preset>

   </extension>

   <extension
         point="com.liferay.ide.project.core.sdkTemplates">
      <sdkTemplate
            class="com.liferay.ide.layouttpl.core.LayoutTplSDKTemplate"
            displayName="Liferay Layout Template"
            facetId="liferay.layouttpl"
            facetedProjectTemplateId="liferay.layouttpl.template"
            menuIndex="40"
            shortName="layouttpl">
      </sdkTemplate>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="tpl">
      </file-association>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            describer="com.liferay.ide.layouttpl.core.descriptor.LayoutTplContentDescriber"
            file-extensions="xml"
            file-names="liferay-layout-templates.xml"
            id="liferaylayouttplxml"
            name="%layout.content.type.name"
            priority="high">
      </content-type>
   </extension>
   <extension
         id="liferaylayouttpldescriptorvalidator"
         name="%layout.templates.descriptor.validator.name"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="com.liferay.ide.layouttpl.core.descriptor.LayoutTplDescriptorValidator"
            manual="true"
            markerId="com.liferay.ide.layouttpl.core.liferayLayoutTplDescriptorMarker"
            version="1">
         <include>
            <rules>
               <contentType
                     id="com.liferay.ide.layouttpl.core.liferaylayouttplxml">
               </contentType>
            </rules>
         </include>
         <group
               id="org.eclipse.wst.sse.core.structuredModelGroup">
         </group>
      </validator>
   </extension>
   <extension
         id="liferayLayoutTplDescriptorMarker"
         name="%layout.templates.descriptor.problem.name"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
   </extension>
 <extension
       point="com.liferay.ide.templates.core.templateDefinition">
    <template
          id="layouttpl.tpl"
          name="Default Layout Template"
          resource="layouttpl.ftl">
    </template>
    <templatesFolder
          path="templates/">
    </templatesFolder>
    <templateVariable
          name="root"
          required="true">
    </templateVariable>
    <templateVariable
          name="templateName"
          required="true">
    </templateVariable>
 </extension>

</plugin>
