<?xml version="1.0"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="product"
		point="org.eclipse.core.runtime.products"
	>
		<product
			application="org.eclipse.ui.ide.workbench"
			description="Liferay Developer Studio"
			name="Liferay Developer Studio"
		>
			<property
				name="aboutImage"
				value="images/about.png"
			>
			</property>
			<property
				name="aboutText"
				value="%aboutText"
			>
			</property>
			<property
				name="appName"
				value="Liferay Developer Studio"
			>
			</property>
			<property
				name="preferenceCustomization"
				value="product_customization.ini"
			>
			</property>
			<property
				name="startupForegroundColor"
				value="ffffff"
			>
			</property>
			<property
				name="startupMessageRect"
				value="274,120,305,16"
			>
			</property>
			<property
				name="startupProgressRect"
				value="274,154,302,16"
			>
			</property>
			<property
				name="windowImages"
				value="images/liferay-16x16.png,images/liferay-32x32.png,images/liferay-48x48.png,images/liferay-64x64.png,images/liferay-128x128.png"
			>
			</property>
			<property
				name="introTitle"
				value="Liferay Developer Studio"
			>
			</property>
			<property
				name="introBrandingImageText"
				value="Liferay Developer Studio"
			>
			</property>
			<property
				name="introBrandingImage"
				value="product:images/liferay_logo_large.png"
			>
			</property>
			<property
				name="buildIdRect"
				value="172,85,404,52"
			>
			</property>
			<property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi"
			>
			</property>
			<property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default"
			>
			</property>
			<property
				name="applicationCSSResources"
				value="platform:/plugin/org.eclipse.ui.themes/images/"
			>
			</property>
		</product>
	</extension>
	<extension
		point="org.eclipse.ui.startup"
	>
		<startup
			class="com.liferay.ide.studio.ui.StudioPlugin"
		>
		</startup>
	</extension>
	<extension
		point="org.eclipse.ui.splashHandlers"
	>
		<splashHandler
			class="com.liferay.ide.studio.ui.StudioSplashHandler"
			id="com.liferay.ide.product.splashHandler"
		>
		</splashHandler>
		<splashHandlerProductBinding
			productId="com.liferay.ide.studio.ui.product"
			splashId="com.liferay.ide.product.splashHandler"
		>
		</splashHandlerProductBinding>
	</extension>
	<extension
		point="org.eclipse.ui.intro"
	>
		<introProductBinding
			introId="org.eclipse.ui.intro.universal"
			productId="com.liferay.ide.studio.ui.product"
		>
		</introProductBinding>
	</extension>
	<extension
		point="org.eclipse.ui.intro.quicklinks"
	>
		<url
			description="New Liferay Workspace"
			icon="images/liferay_logo_large.png"
			importance="high"
			label="New Liferay Workspace"
			location="http://org.eclipse.ui.intro/runAction?pluginId=com.liferay.ide.studio.ui&amp;amp;class=com.liferay.ide.studio.ui.NewLiferayWorkspaceAction"
		>
		</url>
		<url
			description="Import the Liferay Workspace generated by Installer"
			icon="images/liferay_logo_large.png"
			importance="high"
			label="Import Liferay Workspace From Installer"
			location="http://org.eclipse.ui.intro/runAction?pluginId=com.liferay.ide.studio.ui&amp;amp;class=com.liferay.ide.studio.ui.ImportLiferayWorkspaceFromInstallerAction"
		>
		</url>
		<url
			description="Import an existing Liferay Workspace"
			icon="images/liferay_logo_large.png"
			importance="high"
			label="Import Liferay Workspace"
			location="http://org.eclipse.ui.intro/runAction?pluginId=com.liferay.ide.studio.ui&amp;amp;class=com.liferay.ide.studio.ui.ImportLiferayWorkspaceAction"
		>
		</url>
	</extension>
</plugin>