bundles
temp
eclipse
com.liferay.portal.plugins.sdk-*.zip
liferay-ce-portal-*.zip
liferay-dxp-digital-enterprise-*.zip
liferay-portal-tomcat-6.2-ce-*.zip
liferay-plugins-sdk-6.2-ce-*.zip
ivy-cache-7.0.zip