<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.liferay.ide.ui.preferences.liferay"
            class="com.liferay.ide.sdk.pref.SDKsPreferencePage"
            id="com.liferay.ide.sdk.preferences.installedSDKs"
            name="Installed Plugin SDKs">
         <keywordReference
               id="com.liferay.ide.ui.keyword">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.liferay.ide.sdk.SDKClasspathProvider"
            id="com.liferay.ide.sdk.SDKClasspathProvider">
      </classpathProvider>
   </extension>
   
</plugin>
