<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="liferayProjectAdapters" name="%project.adapters.ext.point.name" schema="schema/liferayProjectAdapters.exsd"/>
   <extension-point id="liferayProjectProviders" name="%project.providers.ext.point.name" schema="schema/liferayProjectProviders.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.core.MinimumRequiredPortalVersion"
            id="com.liferay.ide.core.minimumRequiredPortalVersion"
            namespace="com.liferay.ide.core"
            properties="minimumRequiredPortalVersion"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaProperties"
            default-charset="UTF-8"
            file-extensions="properties"
            id="liferaylanguagepropertiesfile"
            name="%liferay.language.properties.file.name"
            priority="high">
         <describer
               class="com.liferay.ide.core.describer.LiferayLanguagePropertiesFileDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         id="LiferayLanguagePropertiesMarker"
         name="%liferay.language.properties.problem.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
