<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            category="com.liferay.ide.newWizards"
            finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
            icon="icons/e16/liferay_logo_16.png"
            id="com.liferay.ide.gradle.ui.workspace.newLiferayWorkspaceWizard"
            name="Liferay Workspace"
            preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferayworkspace"
            project="true">
         <class class="com.liferay.ide.gradle.ui.workspace.NewLiferayWorkspaceWizard">
			<parameter name="liferay_project" value="true"/>
			<parameter name="menuIndex" value="12" />
         </class>
         <description>
            Create a new Liferay Workspace project for developing modules and themes for Liferay 7
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.liferay.ide.newWizards"
            finalPerspective="com.liferay.ide.eclipse.ui.perspective.liferay"
            icon="icons/e16/bundle_new.png"
            id="com.liferay.ide.project.ui.newJSPHookModuleWizard"
            name="Liferay JSP Hook Project"
            preferredPerspectives="com.liferay.ide.eclipse.ui.perspective.liferay,org.eclipse.jst.j2ee.J2EEPerspective"
            project="true">
         <class class="com.liferay.ide.gradle.ui.modules.NewJSPHookModuleWizard">
         </class>

         <description>
            %new.project.wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
         <wizard
            category="com.liferay.ide.projects.import"
            class="com.liferay.ide.gradle.ui.workspace.ImportLiferayWorkspaceWizard"
            icon="icons/e16/liferay_logo_16.png"
            id="com.liferay.ide.gradle.ui.workspace.workspaceImportWizard"
            name="Liferay Workspace">
         <description>
            import an existing Liferay Workspace
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.ui.popupmenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/e16/liferay.png"
               id="liferayPopupMenuCategory"
               label="Liferay">
            <separator
                  name="slot1">
            </separator>
            <groupMarker
                  name="gradle">
            </groupMarker>
         </menu>
         <menu
               icon="icons/e16/liferay_logo_16.png"
               id="liferayPopupMenuGradleCategory"
               label="Gradle"
               path="liferayPopupMenuCategory/gradle">
            <groupMarker
                  name="build-lang">
            </groupMarker>
            <groupMarker
                  name="build-css">
            </groupMarker>
            <groupMarker
                  name="build-service">
            </groupMarker>
            <groupMarker
                  name="merge-lang">
            </groupMarker>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.gradle.ui.gradle.popup"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.liferay.ide.gradle.action.BuildLangTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildLang"
               label="build-lang"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-lang">
         </action>
         <action
               class="com.liferay.ide.gradle.action.BuildCssTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildcss"
               label="build-css"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-css">
         </action>
         <action
               class="com.liferay.ide.gradle.action.BuildServiceTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.buildservice"
               label="build-service"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/build-service">
         </action>
         <action
               class="com.liferay.ide.gradle.action.MergeLangTaskAction"
               enablesFor="1"
               icon="icons/e16/liferay_logo_16.png"
               id="com.liferay.ide.gradle.popup.action.mergelang"
               label="mergelang"
               menubarPath="liferayPopupMenuCategory/liferayPopupMenuGradleCategory/mergelang">
         </action>
         <enablement>
               <adapt type="org.eclipse.core.resources.IResource">
                   <or>
                       <adapt type="org.eclipse.core.resources.IFile">
                           <test forcePluginActivation="true"
                               property="com.liferay.ide.gradle.ui.isBuildFile"
                               value="true" />
                       </adapt>
                       <and>
                            <adapt type="org.eclipse.core.resources.IProject">
                               <test forcePluginActivation="true"
                                   property="com.liferay.ide.gradle.ui.isGradleProject"
                                   value="true" />
                           </adapt>
                        </and>
                   </or>
               </adapt>
         </enablement>
      </objectContribution>
  </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.liferay.ide.gradle.ui.GradleProjectPropertyTester"
            id="com.liferay.ide.gradle.ui.isGradleProject"
            namespace="com.liferay.ide.gradle.ui"
            properties="isGradleProject"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
      <propertyTester
            class="com.liferay.ide.gradle.ui.BuildFilePropertyTester"
            id="com.liferay.ide.gradle.ui.isBuildFile"
            namespace="com.liferay.ide.gradle.ui"
            properties="isBuildFile"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
</plugin>
