com.liferay.ide.eclipse.color.editor.ui/bin/
com.liferay.ide.eclipse.color.editor.ui/target/
com.liferay.ide.eclipse.core/bin/
com.liferay.ide.eclipse.core/target/
com.liferay.ide.eclipse.doc/bin/
com.liferay.ide.eclipse.doc/target/
com.liferay.ide.eclipse.ui/bin/
com.liferay.ide.eclipse.ui/target/
com.liferay.ide.eclipse.project.core/bin/
com.liferay.ide.eclipse.project.core/target/
com.liferay.ide.eclipse.project.ui/bin/
com.liferay.ide.eclipse.project.ui/target/
com.liferay.ide.eclipse.scripting.core/bin/
com.liferay.ide.eclipse.scripting.core/target/
com.liferay.ide.eclipse.sdk/bin/
com.liferay.ide.eclipse.sdk/target/
com.liferay.ide.eclipse.templates.core/bin/
com.liferay.ide.eclipse.templates.core/target/
com.liferay.ide.eclipse.tools.branding/target/
com.liferay.ide.eclipse.ui.snippets/bin/
com.liferay.ide.eclipse.ui.snippets/target/
