<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.liferay.ide.eclipse.server.aws.core.BeanstalkRuntime"
            description="An AWS-managed instance of Liferay v6.0 CE Tomcat 6 bundle"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6"
            name="AWS Beanstalk for Liferay v6.0 CE (Tomcat 6)"
            vendor="Liferay PaaS Environments"
            version="6">
        <moduleType
               types="jst.web"
               versions="2.3,2.4,2.5">
         </moduleType>
         <moduleType
               types="jst.utility"
               versions="1.0">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component">
      </runtime-component-type>
      <runtime-component-version
            type="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component"
            version="6">
      </runtime-component-version>
      <adapter>
         <runtime-component
               id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.eclipse.server.aws.core.BeanstalkRuntimeClasspathFactory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <supported>
         <runtime-component
               id="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component"
               version="6">
         </runtime-component>
         <facet
               id="jst.web"
               version="2.3,2.4,2.5">
         </facet>
         <facet
               id="jst.utility"
               version="1.0">
         </facet>
         <facet
               id="liferay.portlet"
               version="6.0">
         </facet>
         <facet
               id="liferay.hook"
               version="6.0">
         </facet>
         <facet
               id="liferay.ext"
               version="6.0">
         </facet>
         <facet
               id="liferay.layouttpl"
               version="6.0">
         </facet>
         <facet
               id="liferay.theme"
               version="6.0">
         </facet>
      </supported>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.component"
            runtimeTypeId="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6"
            version="6">
      </runtimeFacetMapping>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="com.liferay.ide.eclipse.server.aws.core.BeanstalkClasspathProviderDelegate"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.runtimeClasspathProvider"
            runtimeTypeIds="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="com.liferay.ide.eclipse.server.aws.core.BeanstalkServerBehavior"
            class="com.liferay.ide.eclipse.server.aws.core.BeanstalkServer"
            description="An AWS-managed instance of Liferay v6.0 CE Tomcat 6 bundle"
            hasConfiguration="true"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.v6"
            launchConfigId="com.liferay.ide.eclipse.server.aws.beanstalk.v6.launchConfigurationType"
            name="AWS Beanstalk for Liferay v6.0 CE (Tomcat 6)"
            runtime="true"
            runtimeTypeId="com.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6"
            supportsRemoteHosts="true">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.liferay.ide.eclipse.server.aws.core.BeanstalkLaunchConfigDelegate"
            id="com.liferay.ide.eclipse.server.aws.beanstalk.v6.launchConfigurationType"
            modes="run,debug"
            name="AWS Beanstalk for Liferay v6.0 CE (Tomcat 6)"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="com.liferay.ide.eclipse.server.core.pluginPublishers">
      <liferayPluginPublisher
            class="com.liferay.ide.eclipse.theme.core.ThemePluginPublisher"
            facetId="liferay.theme"
            runtimeTypeId="scom.liferay.ide.eclipse.server.aws.beanstalk.runtime.v6">
      </liferayPluginPublisher>
   </extension>

</plugin>
