<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.liferay.ide.debug.core.fm.FMLineBreakpoint"
            id="com.liferay.ide.debug.core.fmLineBreakpoint"
            markerType="com.liferay.ide.debug.core.fmLineBreakpointMarker"
            name="Freemarker Line Breakpoint">
      </breakpoint>
   </extension>
   <extension
         id="fmLineBreakpointMarker"
         name="Liferay Freemarker Line Breakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.liferay.ide.debug.core.LiferayDebugPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
