<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      
      <image
            category="liferay.plugins"
            facet="liferay.theme"
            path="icons/e16/theme.png">
      </image>
      
   </extension>
</plugin>
