<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	 <extension point="org.eclipse.wst.xml.search.editor.contentAssists" >
        <additionalProposalInfoProvider 
            id="contentAssist.portlet.info" 
            class="com.liferay.ide.xml.search.ui.PortletContentAssistInfoProvider" />
    </extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.portletxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.liferayportletxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.liferaydisplayxml" />
    </extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.hook.core.liferayhookxml" />
    </extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.layouttpl.core.liferaylayouttplxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.service.core.servicebuildercontent" />
    </extension>

</plugin>
