<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!--==================== Query specification of all descriptors ====================-->
    <extension point="org.eclipse.wst.xml.search.core.querySpecifications">
        <querySpecification id="liferay.liferayportletxml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.LiferayPortletQuerySpecification" />
        <querySpecification id="liferay.portletxml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.PortletQuerySpecification" />
        <querySpecification id="liferay.liferaydisplayxml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.LiferayDisplayQuerySpecification" />
        <querySpecification id="liferay.servicexml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.ServiceBuilderQuerySpecification" />
        <querySpecification id="liferay.liferayhookxml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.LiferayHookQuerySpecification" />
        <querySpecification id="liferay.liferaylayouttplxml.querySpecification"
                            class="com.liferay.ide.xml.search.ui.descriptors.LiferayLayoutTplQuerySpecification" />
        <querySpecification id="liferay.jsp.querySpecification" 
                            class="com.liferay.ide.xml.search.ui.descriptors.LiferayJspQuerySpecification" />
    </extension>

    <!--==================== Resource Query specification ====================-->

    <extension point="org.eclipse.wst.xml.search.core.resourceQuerySpecifications">
        <querySpecification id="liferay.webresources.css.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.CSSResourcesQuerySpecification" />
        <querySpecification id="liferay.webresources.js.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.JSResourcesQuerySpecification" />
        <querySpecification id="liferay.webresources.image.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.ImageResourcesQuerySpecification" />
        <querySpecification id="liferay.webresources.jsp.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.JSPResourcesQuerySpecification" />
        <querySpecification id="liferay.webresources.tpl.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.TplResourcesQuerySpecification" />
        <!-- Query specification of element <resource-bundle> in portlet.xml -->
        <querySpecification id="liferay.webresources.resourcebundle.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.ResourceBundleQuerySpecification" />
        <!-- Query specification of element <portal-properties> in liferay-portlet.xml -->
        <querySpecification id="liferay.webresources.portalproperties.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.PortalPropertiesQuerySpecification" />
        <!-- Query specification of element <language-properties> in liferay-portlet.xml -->
        <querySpecification id="liferay.webresources.languageproperties.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.LanguagePropertiesQuerySpecification" />
        <!-- Query specification of element <custom-jsp-directory> in liferay-hook.xml -->
        <querySpecification id="liferay.webresources.jspdir.querySpecification"
                            class="com.liferay.ide.xml.search.ui.resources.JSPDirectoryQuerySpecification" />
    </extension>

    <extension
          point="org.eclipse.wst.xml.search.core.propertiesQuerySpecifications">
       <querySpecification
             class="com.liferay.ide.xml.search.ui.resources.PortletLanguagePropertiesQuerySpecification"
             id="portlet.language.properties.querySpecification">
       </querySpecification>
    </extension>

    <!--==================== portlet.xml ====================-->

    <!-- Declaration of references between XML nodes for portlet.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.portlet.core.portletxml">

            <!-- References of Java class -->
            <reference validatorId="com.liferay.ide.xml.search.ui.portletDescriptorValidator">
                <from 
                    path="//ns:portlet-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification" />
               <toJava extends="javax.portlet.GenericPortlet" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.portletDescriptorValidator">
                <from 
                    path="/ns:portlet-app/ns:listener/ns:listener-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification" />
                <toJava extends="javax.portlet.PortletURLGenerationListener" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.portletDescriptorValidator">
                <from
                    path="/ns:portlet-app/ns:filter/ns:filter-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification" />
                <toJava extends="javax.portlet.filter.ResourceFilter, javax.portlet.filter.RenderFilter, javax.portlet.filter.ActionFilter, javax.portlet.filter.EventFilter" />
            </reference>

            <!-- References of resource bundle properties files -->
            <reference validatorId="com.liferay.ide.xml.search.ui.portletDescriptorValidator">
                <from
                    path="/ns:portlet-app/ns:portlet/ns:resource-bundle"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.resourcebundle.querySpecification" />
            </reference> 

            <!-- no "to" element means it's only used for syntax validation -->
            <reference validatorId="com.liferay.ide.xml.search.ui.portletDescriptorValidator">
                <from
                    path="/ns:portlet-app/ns:portlet/ns:display-name"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification" />
            </reference>
        </references>
    </extension>


    <!--==================== liferay-portlet.xml ====================-->

    <!-- Declaration of references of XML nodes for liferay-portlet.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.portlet.core.liferayportletxml">

            <!-- References of Java class -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//portlet-url-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="javax.portlet.GenericPortlet"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//asset-renderer-factory"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.asset.model.AssetRendererFactory" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//atom-collection-adapter"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.atom.AtomCollectionAdapter" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//configuration-action-class"
                    targetNodes="text()" 
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.portlet.ConfigurationAction"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from 
                    path="//control-panel-entry-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.ControlPanelEntry"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//custom-attributes-display"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.expando.model.CustomAttributesDisplay"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//ddm-display"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.dynamicdatamapping.util.DDMDisplay"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                path="//friendly-url-mapper-class "
                targetNodes="text()"
                querySpecificationId="liferay.liferayportletxml.querySpecification" />
            <toJava extends="com.liferay.portal.kernel.portlet.FriendlyURLMapper"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//indexer-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.search.Indexer"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//permission-propagator"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.security.permission.PermissionPropagator"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//poller-processor-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.poller.PollerProcessor"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//pop-message-listener-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.pop.MessageListener"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//portlet-data-handler-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.lar.PortletDataHandler"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//portlet-layout-listener-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.portlet.PortletLayoutListener"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//scheduler-event-listener-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.messaging.MessageListener"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//social-activity-interpreter-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.social.model.SocialActivityInterpreter"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//social-request-interpreter-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portlet.social.model.SocialRequestInterpreter"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//staged-model-data-handler-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.lar.StagedModelDataHandler"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//template-handler"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.template.TemplateHandler"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//url-encoder-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.servlet.URLEncoder"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//user-notification-handler-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.notifications.UserNotificationHandler"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//webdav-storage-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.webdav.WebDAVStorage"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator" >
                <from
                    path="//xml-rpc-method-class"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.xmlrpc.Method"/>
            </reference>

            <!-- References of CSS resources files -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//header-portal-css"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.css.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//footer-portal-css"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.css.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//header-portlet-css"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.css.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//footer-portlet-css"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.css.querySpecification" />
            </reference>

            <!-- References of JS resources files -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//header-portal-javascript"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.js.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//footer-portal-javascript"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.js.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//header-portlet-javascript"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.js.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//footer-portlet-javascript"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.js.querySpecification" />
            </reference>

            <!-- References of Images files -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//icon"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.image.querySpecification" />
            </reference>

            <!-- References of XML //portlet-name => //portlet-name -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//portlet-name"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
                <to
                    path="//ns:portlet-name"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification"
                    additionalProposalInfoProviderId="contentAssist.portlet.info" />
            </reference>

            <!-- syntax validation -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator">
                <from
                    path="//control-panel-entry-weight"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayportletxml.querySpecification" />
            </reference>
        </references>
    </extension>


    <!--==================== liferay-display.xml ====================-->

    <!-- Declaration of references of XML nodes for liferay-display.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.portlet.core.liferaydisplayxml">

            <!-- References of XML //portlet/@id => //portlet-name -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayDisplayDescriptorValidator">
                <from
                    path="//portlet"
                    targetNodes="@id"
                    querySpecificationId="liferay.liferaydisplayxml.querySpecification" />
                <to
                    path="//ns:portlet-name"
                    targetNodes="text()"
                    querySpecificationId="liferay.portletxml.querySpecification"
                    additionalProposalInfoProviderId="contentAssist.portlet.info" />
            </reference>

            <!-- validate syntax -->
            <reference validatorId="com.liferay.ide.xml.search.ui.liferayDisplayDescriptorValidator">
                <from
                    path="/display/category"
                    targetNodes="@name"
                    querySpecificationId="liferay.liferaydisplayxml.querySpecification" />
            </reference>

        </references>
    </extension>


    <!--==================== liferay-hook.xml ====================-->

    <!-- Declaration of references between XML nodes for liferay-hook.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.hook.core.liferayhookxml">

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//portal-properties"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.portalproperties.querySpecification"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//language-properties"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.languageproperties.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//custom-jsp-dir"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.jspdir.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//service-type"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//service-impl"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//indexer-class-name"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava extends="com.liferay.portal.model.BaseModel" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//indexer-post-processor-impl"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.search.IndexerPostProcessor" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//servlet-filter-impl"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava extends="javax.servlet.Filter" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator">
                <from
                    path="//struts-action-impl"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferayhookxml.querySpecification" />
                <toJava extends="com.liferay.portal.kernel.struts.StrutsAction,com.liferay.portal.kernel.struts.StrutsPortletAction" />
            </reference>

        </references>
    </extension>


    <!--==================== liferay-layout-templates.xml ====================-->

    <!-- Declaration of references of XML nodes for liferay-layout-templates.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.layouttpl.core.liferaylayouttplxml">

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayLayoutTplDescriptorValidator">
                <from
                    path="//template-path"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferaylayouttplxml.querySpecification" />
                <toResource querySpecificationId="liferay.webresources.tpl.querySpecification" />
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayLayoutTplDescriptorValidator">
                <from 
                    path="//wap-template-path"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferaylayouttplxml.querySpecification"/>
                <toResource querySpecificationId="liferay.webresources.tpl.querySpecification"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.liferayLayoutTplDescriptorValidator">
                <from 
                    path="//thumbnail-path"
                    targetNodes="text()"
                    querySpecificationId="liferay.liferaylayouttplxml.querySpecification"/>
                <toResource querySpecificationId="liferay.webresources.image.querySpecification"/>
            </reference>

        </references>
    </extension>

    <!--==================== service.xml ====================-->

    <!-- Declaration of references of XML nodes for service.xml -->
    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references contentTypeIds="com.liferay.ide.service.core.servicebuildercontent">

            <reference validatorId="com.liferay.ide.xml.search.ui.serviceBuilderDescriptorValidator">
                <from
                    path="/service-builder/namespace"
                    targetNodes="text()"
                    querySpecificationId="liferay.servicexml.querySpecification"/>
            </reference>

            <reference validatorId="com.liferay.ide.xml.search.ui.serviceBuilderDescriptorValidator">
                <from
                    path="/service-builder"
                    targetNodes="@package-path"
                    querySpecificationId="liferay.servicexml.querySpecification" />
            </reference>

        </references>
    </extension>

    <extension point="org.eclipse.wst.xml.search.editor.xmlReferences">
       <references contentTypeIds="org.eclipse.jst.jsp.core.jspsource">
          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="//message"
                   targetNodes="@key"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@message"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@label"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@helpMessage"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@prefix"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@suffix"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="a"
                   targetNodes="@title"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="a"
                   targetNodes="@label"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="button"
                   targetNodes="@value"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="*"
                   targetNodes="@placeholder"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="validator"
                   targetNodes="@errorMessage"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="workflow-status"
                   targetNodes="@statusMessage"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="icon-delete"
                   targetNodes="@confirmation"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="input-move-boxes"
                   targetNodes="@rightTitle"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>

          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="input-move-boxes"
                   targetNodes="@leftTitle"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>
          
          <reference validatorId="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator">
             <from
                   path="social-activities"
                   targetNodes="@feedLinkMessage"
                   querySpecificationId="liferay.jsp.querySpecification"
                   filterId="liferay.jsp.taglib.filter"  >
             </from>
             <toProperty
                   querySpecificationId="portlet.language.properties.querySpecification"
                   additionalProposalInfoProviderId="contentAssist.language.property.info" >
             </toProperty>
          </reference>
       </references>
    </extension>

    <!--========== Liferay validators and markers ==========-->

    <!-- Portlet Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.portletDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.PortletDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="portletDescriptorMarker"
        name="%portlet.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Liferay Portlet Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.liferayPortletDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.LiferayPortletDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="liferayPortletDescriptorMarker"
        name="%liferay.portlet.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Liferay Layout Template Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.liferayLayoutTplDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.LiferayLayoutTplDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="liferayLayoutTplDescriptorMarker"
        name="%liferay.layouttpl.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Liferay Display Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.liferayDisplayDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.LiferayDisplayDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="liferayDisplayDescriptorMarker"
        name="%liferay.display.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Liferay Hook Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.liferayHookDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.LiferayHookDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="liferayHookDescriptorMarker"
        name="%liferay.hook.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Service Builder Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.serviceBuilderDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.ServiceBuilderDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="serviceBuilderDescriptorMarker"
        name="%service.builder.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!-- Liferay Jsp Descriptor -->
    <extension point="org.eclipse.wst.xml.search.editor.referenceValidators">
       <validator
            id="com.liferay.ide.xml.search.ui.liferayJspDescriptorValidator"
            class="com.liferay.ide.xml.search.ui.validators.LiferayJspDescriptorValidator">
       </validator>
    </extension>

    <extension
        id="liferayJspDescriptorMarker"
        name="%liferay.jsp.descriptor.marker.name"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.wst.validation.problemmarker"/>
       <persistent value="true"/>
    </extension>

    <!--========== Content Assist Info Provider ==========-->

	 <extension point="org.eclipse.wst.xml.search.editor.contentAssists" >
        <additionalProposalInfoProvider 
            id="contentAssist.portlet.info" 
            class="com.liferay.ide.xml.search.ui.PortletContentAssistInfoProvider" />
        <additionalProposalInfoProvider 
            id="contentAssist.language.property.info" 
            class="com.liferay.ide.xml.search.ui.LanguagePropertyContentAssistInfoProvider" />
    </extension>

    <!--========== Edit Configurations ==========-->

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.portletxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.liferayportletxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.portlet.core.liferaydisplayxml" />
    </extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.hook.core.liferayhookxml" />
    </extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.layouttpl.core.liferaylayouttplxml" />
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.service.core.servicebuildercontent" />
    </extension>

    <extension
          point="org.eclipse.wst.xml.search.editor.referenceFilters">
       <filter
             class="com.liferay.ide.xml.search.ui.descriptors.LiferayJspTaglibReferenceFilter"
             id="liferay.jsp.taglib.filter">
       </filter>
    </extension>

</plugin>
