<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.liferay.ide.core.liferayProjectProviders">
      <liferayProjectProvider
            class="com.liferay.ide.gradle.core.GradleProjectProvider"
            displayName="Gradle Module Project Provider"
            id="com.liferay.ide.gradle.core.gradleModuleProjectProvider"
            shortName="gradle-module"
            projectType="module">
      </liferayProjectProvider>
   </extension>
</plugin>
