<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="com.liferay.ide.portlet.vaadin.ui.newVaadinPortletWizard"
		point="org.eclipse.ui.newWizards"
	>
		<category
			id="com.liferay.ide.newWizards"
			name="%category.name"
		>
		</category>
		<wizard
			category="com.liferay.ide.newWizards"
			icon="icons/n16/vaadinportlet_new.png"
			id="com.liferay.ide.eclipse.portlet.vaadin.ui.wizard.portlet"
			name="%vaadin.portlet.wizard.name"
		>
			<class class="com.liferay.ide.portlet.vaadin.ui.wizard.NewVaadinPortletWizard">
				<parameter name="liferay_extra_artifact" value="true" />
				<parameter name="menuIndex" value="20" />
				<parameter name="validProjectTypes" value="portlet" />
			</class>
			<description>
			%vaadin.wizard.description
			</description>
		</wizard>
	</extension>
</plugin>