<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.liferay.ide.ui.notifications.NotificationsCore">
      </startup>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.notifications.ui.notifications">
      <category
            icon="icons/e16/server.png"
            id="com.liferay.ide.ui.notifications"
            label="Liferay IDE">
      </category>
      <event
            categoryId="com.liferay.ide.ui.notifications"
            icon="icons/e16/server.png"
            id="com.liferay.ide.ui.notifications.java8required"
            label="Java8 Required">
         <defaultHandler
               sinkId="com.liferay.ide.ui.notifications.java8requiredPopup">
         </defaultHandler>
      </event>
      <sink
            class="com.liferay.ide.ui.notifications.Java8requiredSink"
            id="com.liferay.ide.ui.notifications.java8requiredPopup"
            label="Java8 Required">
      </sink>
   </extension>
</plugin>
