com.liferay.ide.eclipse.layouttpl.core/bin/
com.liferay.ide.eclipse.layouttpl.core/target/
com.liferay.ide.eclipse.layouttpl.ui/bin/
com.liferay.ide.eclipse.layouttpl.ui/target/
com.liferay.ide.eclipse.portlet.core/.apt_generated/
com.liferay.ide.eclipse.portlet.core/bin/
com.liferay.ide.eclipse.portlet.core/target/
com.liferay.ide.eclipse.portlet.jsf.core/bin/
com.liferay.ide.eclipse.portlet.jsf.core/target/
com.liferay.ide.eclipse.portlet.jsf.ui/bin/
com.liferay.ide.eclipse.portlet.jsf.ui/target/
com.liferay.ide.eclipse.portlet.ui/.resources/
com.liferay.ide.eclipse.portlet.ui/bin/
com.liferay.ide.eclipse.portlet.ui/target/
com.liferay.ide.eclipse.portlet.vaadin.core/bin/
com.liferay.ide.eclipse.portlet.vaadin.core/target/
com.liferay.ide.eclipse.portlet.vaadin.ui/bin/
com.liferay.ide.eclipse.portlet.vaadin.ui/target/
com.liferay.ide.eclipse.service.core/.apt_generated/
com.liferay.ide.eclipse.service.core/bin/
com.liferay.ide.eclipse.service.core/target/
com.liferay.ide.eclipse.service.ui/bin/
com.liferay.ide.eclipse.service.ui/target/
com.liferay.ide.eclipse.taglib.ui/.apt_generated/
com.liferay.ide.eclipse.taglib.ui/.resources/
com.liferay.ide.eclipse.taglib.ui/bin/
com.liferay.ide.eclipse.taglib.ui/target/
com.liferay.ide.eclipse.theme.core/bin/
com.liferay.ide.eclipse.theme.core/target/
com.liferay.ide.eclipse.theme.ui/bin/
com.liferay.ide.eclipse.theme.ui/target/
