name: CI Build

on: [pull_request]

env:
  LC_ALL: en_US.UTF-8

jobs:
  CheckSourceFormatting:
    name: Check source formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout liferay-ide
        uses: actions/checkout@v2
      - name: Checkout liferay-ide-m2-repository
        uses: actions/checkout@v2
        with:
          repository: gamerson/liferay-ide-m2-repository
          path: liferay-ide-m2-repository
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: sf.sh
        shell: bash
        working-directory: build/com.liferay.ide.build.source.formatter
        run: |
          ./csf.sh
  Verify:
    name: Verify
    runs-on: macos-latest
    timeout-minutes: 60
    steps:
      - name: Checkout liferay-ide
        uses: actions/checkout@v2
      - name: Checkout liferay-ide-m2-repository
        uses: actions/checkout@v2
        with:
          repository: gamerson/liferay-ide-m2-repository
          path: liferay-ide-m2-repository
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          distribution: 'zulu'
          cache: maven

      - name: Cache
        uses: actions/cache@v1.1.0
        with:
          path: liferay-ide-m2-repository/.cache/download-maven-plugin
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run tests
        shell: bash
        run: |
          ./run-tests.sh
      - name: Upload tests
        uses: actions/upload-artifact@v1
        if: ${{ failure() }}
        with:
          name: surefire-reports.tar.gz
          path: surefire-reports.tar.gz
      - name: Run reporter
        uses: check-run-reporter/action@v2.11.2
        if: ${{ always() }}
        with:
          label: "Maven surefire test reports"
          report: "**/TEST-*.xml"
          token: "000f9d8e-4211-4cb7-9438-cb165d0db32a"
