name: CI Build

on: [pull_request]

env:
  LC_ALL: en_US.UTF-8

jobs:
  CheckSourceFormatting:
    name: Check source formatting
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout liferay-ide
        uses: actions/checkout@v2
      - name: Checkout liferay-ide-m2-repository
        uses: actions/checkout@v2
        with:
          repository: gamerson/liferay-ide-m2-repository
          path: liferay-ide-m2-repository
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: sf.sh
        shell: bash
        working-directory: build/com.liferay.ide.build.source.formatter
        run: |
          ./csf.sh
  Verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout liferay-ide
        uses: actions/checkout@v2
      - name: Checkout liferay-ide-m2-repository
        uses: actions/checkout@v2
        with:
          repository: gamerson/liferay-ide-m2-repository
          path: liferay-ide-m2-repository
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
#      - name: Free space
#        run: |
#          sudo swapoff -a
#          sudo swapon -a
#          sudo swapoff /swapfile
#          sudo rm -f /swapfile
#          docker rmi $(docker image ls -aq)
#          df -h
#        continue-on-error: true
      - name: Cache
        uses: actions/cache@v1.1.0
        with:
          path: liferay-ide-m2-repository/.cache/download-maven-plugin
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run tests
        shell: bash
        run: |
          ./run-tests.sh
      - name: Run reporter
        uses: check-run-reporter/action@v1.1.1
        if: ${{ always() }}
        env:
          CHECK_RUN_REPORTER_LABEL: "Maven surefire test reports"
          CHECK_RUN_REPORTER_REPORT: "**/TEST-*.xml"
          CHECK_RUN_REPORTER_TOKEN: ${{ secrets.CHECK_RUN_REPORTER_TOKEN_LIFERAY_IDE}}
      - name: Upload tests
        uses: actions/upload-artifact@v1
        if: ${{ always() }}
        with:
          name: surefire-reports.tar.gz
          path: surefire-reports.tar.gz
