<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.xml.core.xmlsource"
            default-charset="UTF-8"
            describer="com.liferay.ide.eclipse.portlet.core.servicebuilder.ServiceBuilderContentDescriber"
            file-extensions="xml"
            file-names="service.xml"
            id="servicebuildercontent"
            name="Service Builder"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            file-names="portlet.xml"
            id="portletxml"
            name="Portlet Descriptor"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="portlet-app">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.wst.xml.core.xmlsource"
            default-charset="UTF-8"
            describer="com.liferay.ide.eclipse.portlet.core.descriptor.LiferayPortletContentDescriber"
            file-extensions="xml"
            file-names="liferay-portlet.xml"
            id="liferayportletxml"
            name="Liferay Portlet Descriptor"
            priority="high">
      </content-type>
   </extension>
   <extension
         id="portletdescriptorvalidator"
         name="Portlet Descriptor Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="com.liferay.ide.eclipse.portlet.core.descriptor.PortletDescriptorValidator"
            manual="true"
            markerId="com.liferay.ide.eclipse.portlet.core.portletDescriptorMarker"
            version="1">
         <include>
            <rules>
               <contentType
                     id="com.liferay.ide.eclipse.portlet.core.portletxml">
               </contentType>
            </rules>
         </include>
         <group
               id="org.eclipse.wst.sse.core.structuredModelGroup">
         </group>
      </validator>
   </extension>
   <extension
         id="liferayportletdescriptorvalidator"
         name="Liferay Portlet Descriptor Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="com.liferay.ide.eclipse.portlet.core.descriptor.LiferayPortletDescriptorValidator"
            manual="true"
            markerId="com.liferay.ide.eclipse.portlet.core.liferayPortletDescriptorMarker"
            version="1">
         <include>
            <rules>
               <contentType
                     id="com.liferay.ide.eclipse.portlet.core.liferayportletxml">
               </contentType>
            </rules>
         </include>
         <group
               id="org.eclipse.wst.sse.core.structuredModelGroup">
         </group>
      </validator>
   </extension>
   <extension
         id="portletDescriptorMarker"
         name="Portlet Descriptor Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
   </extension>
   <extension
         id="liferayPortletDescriptorMarker"
         name="Liferay Portlet Descriptor Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
   </extension>

</plugin>
